/* 	==========================================================================
   	Contact Form 7 Styles
   	========================================================================== */

 div.wpcf7 {
 	margin-top: 1.5em;
    border-top: 0px solid $color-pale-blue-2;
 }

.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="date"],
.wpcf7 input[type="email"]
{
    background-color: #ffffff;
    color: #000;
    width: 35%;
    min-height: 25px;
    //padding: 10px 10px;
}

.wpcf7 textarea
{
    background-color: #ffffff;
    color: #000;
    width: 70%;
    max-height: 200px;
    margin-bottom: 0px;
    padding: 10px 10px;
    border: 1px solid #3e8eb4;
}

.wpcf7 select
{
    background-color: #ffffff;
    color: #000;
    width: 30%;
    margin-bottom: 7px;
    padding: 0px 10px;
    border: 1px solid #3e8eb4;
}

.wpcf7 input[type="radio"]
{
    margin: 20px 3px 20px 15px;
}

.wpcf7 input[type="submit"]
{
    margin-top: 20px;
    background-color: $color-pale-blue-2;
    border: 1px solid $color-brand-1;
    min-width: 100px;
    min-height: 30px;
}

div.wpcf7-validation-errors
{
    border: 1px solid #ff0000;
    width: 70%;
    color: #ff0000;
}

.rc-anchor-light {
    border: 1px solid #3e8eb4;
}

/* hide Contact Form 7 success message before thank you page redirect */
//.wpcf7 .wpcf7-mail-sent-ok { visibility:hidden; }