/* 	==========================================================================
   	Corporate pages
   	========================================================================== */

.prog-feat-file {
	width: 360px;
	float: left;
   	background-color: $color-pale-blue;
	margin-left: 20px;
	@include breakpoint($mobile) {
		margin-left: 0;
		width: 300px;
	}
}

.gradam-feat-file {
	width: 280px;
	float: left;
   	background-color: $color-pale-blue;
	@include breakpoint($mobile) {
		margin-left: 0;
		width: 300px;
	}
}

.file-content-wrap {
	@include col(1, $gutter: 0);
	min-height: 40px;
	padding: 0px;
	@include cf();
	border-bottom: 1px solid $color-white;
}

.mod-file {
	position: relative;
	@include font-size($font-size-12);
	background-color: $color-pale-blue-4;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
}

.file-btn {
	@include col(0.1, $gutter: 0.5);
	background-color: $color-brand-1;
	background-size: cover;
	min-height: 40px;
	min-width: 40px;
	background-position: center center;
	padding: 15px 15px;
}

.file-content {
	@include col(0.85, $gutter: 0.5);
	padding: 10px 0px 0px 10px;
}

.file-btnImg {
	&:before {
		@extend %arrow-right;
		content: '';
	}
}

.pressmods-wrapper {
	@include center(1250px);
	@include cf();
	.mod-1 {
		height: 310px;
		max-width: 375px;
		margin-bottom: 20px;
		@include col(1/3, $gutter:1.875);
		@include breakpoint($break-1260) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
}

.press-mod-wrap {
	@include cf();
	@include col(1);
	@include breakpoint($break-1435) {
		width: 100%;
		margin:0;
	}
	@include breakpoint($break-960) {
		width: 100%;
	}
}

.press-title {
	margin: 0;
	position: absolute;
	top: 147px;
	z-index: 1;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	color: white;
	//min-height: 48px;
	padding: 7px 20px;
	@include font-size($font-size-18);
	.online-panel:hover & {
		background-color: $color-brand-1-hover;
	}
	@include breakpoint($break-450) {
		top: 0px;
	}
}

.press-footer {
	position: relative;
	@include transition(background-color 0.1s linear);
	color: white;
	min-height: 60px;
	padding: 8px 105px 8px 15px;
	@include font-size($font-small);
	text-transform: uppercase;
}

.press-desc {
	margin: 20px;
	@include font-size($font-size-15);
	margin-top: 34px;
	margin-bottom: 30px;
}

.governance-mods {
	background-color: $color-white;
	padding: 12px 20px 85px;
}

.governancemods-wrapper {
	@include center(1250px);
	@include cf();
	.mod-1 {
		height: 46px;
		max-width: 290px;
		margin-bottom: 10px;
		@include col(1/4, $gutter:1.275);
		@include breakpoint($break-960) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
}

.governance-mod-wrap {
	@include cf();
	@include col(1);
	@include breakpoint($mobile) {
		width: 100%;
	}
}

.governance-mod-notice {
	position: relative;
	//border: 1px solid $color-dark-blue;
	background-color: $color-pale-blue-4;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
	&:hover {
		background-color: $color-pale-blue;
	}
}

.governance-title {
	@include transition(background-color 0.1s linear);
	color: white;
	@include font-size($font-size-13);
	.online-panel:hover & {
		background-color: $color-brand-1-hover;
	}
}

.file-title {
	@include col(0.75, $gutter: 0.5);
	padding: 5px 8px 5px 8px;
	line-height: 16px;
}

.archive-list {
	@include breakpoint($break-960) {
		@include font-size($font-size-12);
	}
	@include breakpoint($break-500) {
		@include font-size($font-size-11);
	}
}

/* Suíomh Foghlaim */
.foghSectHeader {
	margin: 15px;
    font-size: 2.0em;
    font-weight: normal;
    vertical-align: middle;
	color: $color-brand-1;
}

.toggleBlue {
	padding: 5px 0 0 0px;
    color: $color-brand-1;
    font-weight: normal;
    min-height: 55px;
}

.toggleRed {
	padding: 5px 0 0 0px;
    color: $color-red;
    font-weight: normal;
    min-height: 40px;
}

.toggleBlack {
    color: $color-dark-ui-2;
    font-weight: normal;
}