/* 	==========================================================================
   	Homepage modules
   	========================================================================== */

.home-mods {
	background-color: $color-pale-blue;
	padding: 62px 20px 65px;
	@include breakpoint($break-1260) {
		padding: 62px 20px 5px;
	}
}

.mods-wrapper {
	@include center(1600px);
	@include cf();
	.mod-1 {
		height: 360px;
		margin-bottom: 20px;
		@include col(1/2 0.77, $gutter:1.875);
		@include breakpoint($break-1260) {
			@include col(1);
			height: 100%;
		}
		@include breakpoint($break-1024) {
			@include col(1);
			height: 100%;
		}
		@include breakpoint($break-700) {
			height: 100%;
			margin-bottom: 20px;
		}
		@include breakpoint($break-400) {
			height: 100%;
			margin-bottom: 20px;
		}
	}
	.mod-2
	 {
		height: 360px;
		margin-bottom: 20px;
		@include col(1/2 0.77, $gutter:1.875);
		@include breakpoint($break-1260) {
			@include col(1);
			height: 460px;
		}
		@include breakpoint($break-1024) {
			@include col(1);
			height: 100%;
		}
		@include breakpoint($break-700) {
			height: 100%;
			margin-bottom: 20px;
		}
		@include breakpoint($break-500) {
			height: 100%;
		}
		@include breakpoint($break-400) {
			height: 100%;
		}
	}
	.mod-ad {
		@include col(0.23, $gutter:1.875);
		float: right;
		height: 360px;
		min-width: 300px;
		
		@include breakpoint($break-1435) {
			width: 300px;
			margin: 0;
		}
		@include breakpoint($break-960) {
			display: none;
		}
	}
}

.home-mod-wrap {
	@include cf();
	@include col(0.77, $gutter:1.875);
	@include breakpoint($break-1435) {
		width: calc(98% - 300px);
		margin:0;
	}
	//@include breakpoint($break-1260) {
	//	margin-bottom: 120px;
	//}
	@include breakpoint($break-960) {
		width: 100%;
		margin-bottom: 120px;
	}
	@include breakpoint($break-800) {
		width: 100%;
		margin-bottom: 50px;
	}
}

.mod-notice {
	position: relative;
	background-color: $color-pale-blue;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
}

.livesport-item-wrap {
	padding: 0px;
	@include cf();
}

.livesport-head {
	@include col(1);
	@include font-size($font-size-18);
	background-color: $color-dark-blue;
	padding: 15px;
	color: white;
	text-transform: uppercase;
	position: relative;
	min-height: 50px;
}

.livesport-content-wrap {
	@include col(1, $gutter: 0);
	//min-height: 50px;
	padding: 0px;
	@include cf();
	border-bottom: 1px solid $color-white;
	@include breakpoint($break-700) {
		min-height: 49px;
		padding: 5px 0px 0px 20px;
		@include col(1);
	}
}

.mod-livesport {
	position: relative;
	background-color: $color-pale-blue-4;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
}

.livesport-img {
	@include col(0.1, $gutter: 0.5);
	background-color: $color-brand-1;
	background-size: cover;
	min-height: 48px;
	min-width: 50px;
	background-position: center center;
	@include breakpoint($break-700) {
		display: none;
	}
}

.livesport-content {
	@include col(0.73, $gutter: 0.5);
	padding: 5px 0px 0px 20px;
	//padding-top: 5px;
	//padding-left: 20px;
	@include breakpoint($break-960) {
		@include col(0.65, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		@include col(1, $gutter: 0);
		padding-left: 0;
	}
}

.livesport-item-title {
	color: $color-brand-1;
	@include font-size($font-size-18);
	margin: 0;
	span {
		margin-left: 10px;
		@include font-size($font-small);
		text-transform: uppercase;
		@include breakpoint($break-700) {
			display: block;
			margin-left: 0;
			padding-bottom: 8px;
		}
	}
	//padding-bottom: 5px;
}

.livesport-item-sub {
	@include font-size($font-size-18);
	@extend .bold;
	//margin: 5px 0 3px;
}

.livesport-fixture {
	color: $color-white;
	@include font-size($font-size-12);
	margin: 0;
}

.livesport-date {
	color: $color-dark-blue;
	@include font-size($font-size-12);
	margin: 0;
}

.live-Soccer {
	&:before {
		@extend %icon-soccer;
		content: '';
	}
}

.live-Basketball {
	&:before {
		@extend %icon-basketball;
		content: '';
	}
}

.live-Boxing {
	&:before {
		@extend %icon-boxing;
		content: '';
	}
}

.live-Rally {
	&:before {
		@extend %icon-rally;
		content: '';
	}
}

.live-Cycling {
	&:before {
		@extend %icon-cycling;
		content: '';
	}
}

.live-Gaelic {
	&:before {
		@extend %icon-gaelic;
		content: '';
	}
}

.live-Racing {
	&:before {
		@extend %icon-racing;
		content: '';
	}
}

.live-Hurling {
	&:before {
		@extend %icon-hurling;
		content: '';
	}
}

.live-Sailing {
	&:before {
		@extend %icon-sailing;
		content: '';
	}
}

.live-Rugby {
	&:before {
		@extend %icon-rugby;
		content: '';
	}
}

.live-Athletics {
	&:before {
		@extend %icon-athletics;
		content: '';
	}
}

.live-Tennis {
	&:before {
		@extend %icon-tennis;
		content: '';
	}
}