/* 	==========================================================================
   	MolScéal Portal CSS
   	========================================================================== */
.skip-to-main {
    @extend .visuallyhidden;
}

.header-wrapper {
	background-color: $color-pale-blue-5;
}

.top-bar-wrapper {
	background-color: $color-pale-blue-5;
	@include center(960px);
	height: 40px;
}

.region {
	height: 100%;
	left: 10px;
	padding-top: 6px;
	width: 50%;
	float: left;
	@include breakpoint($mobile) {
		padding-left: 10px;
		top: 9px;
		width: 140px;
	}
	@include breakpoint($break-500) {
		top: 8px;
	}
}

.top-bar-molsceal {
  	@extend .muliregular;
	background-color: $color-pale-blue-5;
	height: 40px;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.title-bar-molsceal {
	background-color: $base-background-color;
	height: 100px;
	width: 100%;
  	@extend .mulibold;
	@include font-size($font-size-60);
	@extend .bold;
  	text-align: center;
	color: #00d6f2;
	top: 40px;
}

.nav-bar-molsceal {
  	@extend .muliregular;
	background-color: white;
	position: fixed;
	z-index: 3;
	top: 140px;
	width: 100%;
}

.more-bar-molsceal {
	background-color: $color-gray-7;
  	@extend .mulibold;
	margin: 0;
	@include font-size($font-size-22);
	padding: 15px;
	@include breakpoint($mobile) {
		padding-top: 25px;
	}
	@include breakpoint($break-500) {
		padding-top: 25px;
		@include font-size($font-size-18);
	}
}

/* ==========================================================================
   Search
   ========================================================================== */

.search {
	width: 50%;
	float: right;
	@include breakpoint($mobile) {
		height: 40px;
	}
}

.search-form {
	width: 250px;
	float: right;
	height: 40px;
	position: relative;
	top: 0;
	@include breakpoint($break-400) {
		width: 200px;
	}
	@include breakpoint($break-350) {
		width: 160px;
	}
}

input.search-input {
  	@extend .mulibold;
	color: $base-background-color;
	top: 0;
	border: none;
	height: 32px;
	margin-top: 3px;
	width: 220px;
	background-color: transparent;
}

.search-btn {
	display: block;
	width: 40px;
	height: 40px;
	background-color: $color-pale-blue-5;;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
	text-indent: 100%;
	&:before {
		@extend %icon-search;
		content: '';
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.submenu-wrapper {
	@include center(960px);
	height: 30px;
	text-align: center;
	@include breakpoint($break-1005) {
		@include center(840px);
	}
	@include breakpoint($break-840) {
		@include center(770px);
	}
	@include breakpoint($break-800) {
		@include center(640px);
	}
	@include breakpoint($break-760) {
		@include center(620px);
	}
	@include breakpoint($break-670) {
		@include center(580px);
	}
	@include breakpoint($break-650) {
		@include center(500px);
	}
	@include breakpoint($break-600) {
		@include center(480px);
	}
	@include breakpoint($break-500) {
		@include center(440px);
	}
	@include breakpoint($break-450) {
		@include center(390px);
	}
	@include breakpoint($break-400) {
		@include center(340px);
	}
}

.section-submenu-molsceal {
	border: 0px solid #999;
  	@extend .mulibold;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	@include cf();
	li {
		border: 0px solid #999;
		float: left;
		text-align: center;
		a {
			color: #828282;
			display: block;
			padding: 0px 36px;
			opacity: 0.5;
			@include transition(opacity 0.1s linear);
			text-transform: uppercase;
			@include font-size($font-size-18);
			@include breakpoint($break-1005) {
				padding: 0px 35px;
				@include font-size($font-size-14);
			}
			@include breakpoint($break-960) {
				padding: 0px 34px;
				@include font-size($font-size-14);
			}
			@include breakpoint($break-840) {
				padding: 0px 30px;
				@include font-size($font-size-14);
			}
			@include breakpoint($break-800) {
				padding: 0px 20px;
				@include font-size($font-size-13);
			}
			@include breakpoint($break-700) {
				padding: 0px 16px;
				@include font-size($font-size-13);
			}
			@include breakpoint($break-650) {
				padding: 0px 12px;
				@include font-size($font-size-12);
			}
			@include breakpoint($break-600) {
				padding: 0px 6px;
				@include font-size($font-size-12);
			}
			@include breakpoint($break-500) {
				padding: 0px 8px;
				@include font-size($font-size-11);
			}
			@include breakpoint($break-450) {
				padding: 0px 5px;
				@include font-size($font-size-11);
			}
			@include breakpoint($break-400) {
				padding: 0px 3px;
				@include font-size($font-size-10);
			}
			@include breakpoint($break-350) {
				padding: 0px 4px;
				@include font-size($font-size-9);
			}
		}
		&.current_page_item, &:hover, &:focus {
			a {
				opacity: 1;
			}
		}
		&.current_page_item {
			a {
				border-bottom: 5px solid $color-brand-1;
				@include breakpoint($mobile) {
					border-bottom: 0;
				}
			}
		}
		&.current_page_nua {
			a {
				color: #00d6f2;
			}
		}
		&.current_page_nuacht {
			a {
				color: #036fad;
			}
		}
		&.current_page_sport {
			a {
				color: #299f1b;
			}
		}
		&.current_page_siamsaiocht {
			a {
				color: #682dcb;
			}
		}
		&.current_page_trendail {
			a {
				color: #ff0381;
			}
		}
		&.current_page_cartlann {
			a {
				color: #efc448;
			}
		}
		&.current_page_parent {
			a {
				opacity: 1;
				border-bottom: 5px solid $color-brand-1;
				@include breakpoint($mobile) {
					border-bottom: 0;
				}
			}
			li a {
				border-bottom: 0;
			}
		}
	}
}

.section-header {
	min-height: 100px;
	background-color: #00d6f2;
	padding: 25px 20px 25px;
	position: relative;
	top: 165px;
	@include cf();
	@include breakpoint($mobile) {
		padding: 20px 20px 25px;
		min-height: 60px;
	}
}

.section-title {
  	@extend .mulibold;
	margin: 0px 67px;
	@include font-size($font-size-42);
	@extend .bold;
  	text-align: center;
	color: white;
	line-height: 1;
	@include breakpoint($mobile) {
		@include font-size($font-size-28);
		padding: 5px 0px;
		margin: 0 20px 0 0;
	}
	@include breakpoint($break-600) {
		@include font-size($font-size-18);
		padding: 5px 0px;
		margin: 0 20px 0 0;
	}
}

.molsceal-mods {
	background-color: $color-white;
	padding: 12px 20px 15px;
	margin-top: 165px;
}

.molsceal-innermods {
	background-color: $color-gray-5;
	padding: 12px 20px 85px;
	margin-top: 165px;
	@include breakpoint($break-500) {
		padding: 12px 0 0 0px;
	}
}

.molsceal-plyrmods {
	background-color: $color-gray-5;
	padding: 12px 20px 25px;
	margin-top: 165px;
}

.molsceal-moremods {
	background-color: $color-gray-7;
	padding: 12px 20px 85px;
	@include breakpoint($mobile) {
		padding: 0px;
	}
}

.molsceal-home-wrap {
	@include center(960px);
	@include cf();
	padding-left: 14px;
	padding-right: 12px;
	@include breakpoint($break-500) {
		padding-left: 2px;
	}
}

.molsceal-mod-wrap {
	@include cf();
	margin: 0px auto;
	padding-left: 14px;
	@include breakpoint($break-500) {
		padding-left: 2px;
	}
}

.molsceal-plyr-wrap {
	background-color: $color-white;
	@include center(960px);
	@include cf();
	@include breakpoint($break-500) {
		padding-left: 2px;
	}
}

.molscealhome-wrapper {
	@include center(960px);
	@include breakpoint($mobile) {
		@include center(780px);
	}
	@include breakpoint($break-840) {
		@include center(600px);
	}
	@include breakpoint($break-650) {
		@include center(340px);
	}
	@include cf();
	.mod-1 {
		height: 420px;
		max-width: 380px;
		margin-bottom: 15px;
		@include col(1, $gutter:1.4);
		@include breakpoint($mobile) {
			height: 420px;
			max-width: 300px;
			margin-bottom: 15px;
		}
		@include breakpoint($break-840) {
			height: 420px;
			max-width: 220px;
			margin-bottom: 15px;
		}
		@include breakpoint($break-650) {
			height: 300px;
			max-width: 300px;
		}
	}
	.mod-2 {
		height: 202px;
		max-width: 540px;
		margin-bottom: 16px;
		@include col(1, $gutter:0);
		@include breakpoint($mobile) {
			height: 202px;
			max-width: 440px;
			margin-bottom: 16px;
			float: right;
		}
		@include breakpoint($break-840) {
			height: 202px;
			max-width: 340px;
			margin-bottom: 16px;
			float: right;
		}
		@include breakpoint($break-650) {
			height: 300px;
			max-width: 300px;
			float: left;
		}
	}
	.mod-3 {
		height: 202px;
		max-width: 540px;
		margin-bottom: 16px;
		@include col(1, $gutter:1.4);
		@include breakpoint($mobile) {
			height: 202px;
			max-width: 440px;
			margin-bottom: 16px;
		}
		@include breakpoint($break-840) {
			height: 202px;
			max-width: 340px;
			margin-bottom: 16px;
		}
		@include breakpoint($break-650) {
			height: 300px;
			max-width: 300px;
			float: left;
		}
	}
	.mod-4 {
		height: 420px;
		max-width: 380px;
		margin-bottom: 15px;
		@include col(1, $gutter:0);
		float: right;
		@include breakpoint($mobile) {
			height: 420px;
			max-width: 300px;
			margin-bottom: 15px;
		}
		@include breakpoint($break-840) {
			height: 420px;
			max-width: 220px;
			margin-bottom: 15px;
		}
		@include breakpoint($break-650) {
			height: 300px;
			max-width: 300px;
			float: left;
		}
	}
	.mod-5 {
		height: 305px;
		max-width: 300px;
		margin-bottom: 20px;
		@include col(1/3, $gutter:1.6);
		@include breakpoint($break-980) {
			max-width: 250px;
			@include col(1/3, $gutter:1.6);
		}
		@include breakpoint($break-820) {
			max-width: 220px;
			@include col(1/3, $gutter:1.6);
		}
		@include breakpoint($break-700) {
			@include col(2);
		}
		@include breakpoint($break-500) {
			max-width: 440px;
			max-height: 130px;
			@include col(1);
		}
	}
}

.molscealmods-wrapper {
	@include center(960px);
	@include breakpoint($break-1005) {
		@include center(840px);
	}
	@include breakpoint($break-900) {
		@include center(780px);
	}
	@include breakpoint($break-840) {
		@include center(720px);
	}
	@include breakpoint($break-760) {
		@include center(620px);
	}
	@include breakpoint($break-670) {
		@include center(550px);
	}
	@include breakpoint($break-600) {
		@include center(480px);
	}
	.mod-5_Nuacht, .mod-5_Cartlann, .mod-5_Spórt, .mod-5_Siamsaíocht {
		height: 305px;
		max-width: 300px;
		margin-bottom: 20px;
		background-color:  #ffffff;
		@include col(3, $gutter:1.175);
		@include breakpoint($break-1005) {
			max-width: 265px;
			@include col(3, $gutter:1.175);
		}
		@include breakpoint($break-900) {
			max-width: 245px;
			@include col(3, $gutter:1.175);
		}
		@include breakpoint($break-840) {
			max-width: 220px;
			@include col(3, $gutter:1.175);
		}
		@include breakpoint($break-760) {
			max-width: 290px;
			@include col(2, $gutter:1.175);
		}
		@include breakpoint($break-670) {
			max-width: 260px;
			@include col(2, $gutter:1.175);
		}
		@include breakpoint($break-600) {
			max-width: 210px;
			@include col(2, $gutter:1.175);
		}
		@include breakpoint($break-500) {
			border-bottom: 0px;
			max-width: 550px;
			height: 100%;
			@include col(1);
		}
		@include breakpoint($break-450) {
			border-bottom: 0px;
			//max-height: 103px;
			height: 100%;
			@include col(1);
		}
		@include breakpoint($break-400) {
			border-bottom: 0px;
			//max-height: 93px;
			height: 100%;
			@include col(1);
		}
		@include breakpoint($break-350) {
			border-bottom: 0px;
			//max-height: 78px;
			height: 100%;
			@include col(1);
		}
	}
	.mod-5_Nuacht {
		border-bottom: 5px solid #036fad;
		@include breakpoint($break-500) {
			.molsceal-textholder0, .molsceal-textholder4, .molsceal-textholder8  {
				border-left: 5px solid #036fad;
			}
			border-bottom: 0px;
		}
		.videoDur {
			color: #fff;
			font-size: 11px;
			background-color: #000;
			opacity: .7;
			padding: 5px 10px 5px 10px;
			position: absolute;
			top: 53%;
			left: 0%;
			@include breakpoint($break-500) {
				top: 67%;
				left: 0%;
			}
		}
		.molsceal-img1, .molsceal-img2, .molsceal-img3, .molsceal-img5, .molsceal-img6, .molsceal-img7, .molsceal-img9 {
			@include breakpoint($break-500) {
				width: 50%;
				float: left;
				border-right: 5px solid #036fad;
				.videoDur {
					top: 79%;
					left: 0%;
				}
			}
		}
		.molsceal-img0, .molsceal-img4, .molsceal-img8  {
			@include breakpoint($break-500) {
				width: 100%;
				border-right: 0px solid #036fad;
			}
		}
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #036fad;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 0;
			}
		}
	}
	.mod-5_Spórt {
		border-bottom: 5px solid #299f1b;
		@include breakpoint($break-500) {
			.molsceal-textholder0, .molsceal-textholder4, .molsceal-textholder8  {
				border-left: 5px solid #299f1b;
			}
			border-bottom: 0px;
		}
		.videoDur {
			color: #fff;
			font-size: 11px;
			background-color: #000;
			opacity: .7;
			padding: 5px 10px 5px 10px;
			position: absolute;
			top: 53%;
			left: 0%;
			@include breakpoint($break-500) {
				top: 67%;
				left: 0%;
			}
		}
		.molsceal-img1, .molsceal-img2, .molsceal-img3, .molsceal-img5, .molsceal-img6, .molsceal-img7, .molsceal-img9 {
			@include breakpoint($break-500) {
				width: 50%;
				float: left;
				border-right: 5px solid #299f1b;
				.videoDur {
					top: 79%;
					left: 0%;
				}
			}
		}
		.molsceal-img0, .molsceal-img4, .molsceal-img8  {
			@include breakpoint($break-500) {
				width: 100%;
				border-right: 0px solid #299f1b;
			}
		}
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #299f1b;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 0;
			}
		}
	}
	.mod-5_Siamsaíocht {
		border-bottom: 5px solid #682dcb;
		@include breakpoint($break-500) {
			.molsceal-textholder0, .molsceal-textholder4, .molsceal-textholder8  {
				border-left: 5px solid #682dcb;
			}
			border-bottom: 0px;
		}
		.videoDur {
			color: #fff;
			font-size: 11px;
			background-color: #000;
			opacity: .7;
			padding: 5px 10px 5px 10px;
			position: absolute;
			top: 53%;
			left: 0%;
			@include breakpoint($break-500) {
				top: 67%;
				left: 0%;
			}
		}
		.molsceal-img1, .molsceal-img2, .molsceal-img3, .molsceal-img5, .molsceal-img6, .molsceal-img7, .molsceal-img9 {
			@include breakpoint($break-500) {
				width: 50%;
				float: left;
				border-right: 5px solid #682dcb;
				.videoDur {
					top: 79%;
					left: 0%;
				}
			}
		}
		.molsceal-img0, .molsceal-img4, .molsceal-img8  {
			@include breakpoint($break-500) {
				width: 100%;
				border-right: 0px solid #682dcb;
			}
		}
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #682dcb;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 0;
			}
		}
	}
	.mod-5_Cartlann {
		border-bottom: 5px solid #efc448;
		@include breakpoint($break-500) {
			.molsceal-textholder0, .molsceal-textholder4, .molsceal-textholder8  {
				border-left: 5px solid #efc448;
			}
			border-bottom: 0px;
		}
		.videoDur {
			color: #fff;
			font-size: 11px;
			background-color: #000;
			opacity: .7;
			padding: 5px 10px 5px 10px;
			position: absolute;
			top: 53%;
			left: 0%;
			@include breakpoint($break-500) {
				top: 67%;
				left: 0%;
			}
		}
		.molsceal-img1, .molsceal-img2, .molsceal-img3, .molsceal-img5, .molsceal-img6, .molsceal-img7, .molsceal-img9 {
			@include breakpoint($break-500) {
				width: 50%;
				float: left;
				border-right: 5px solid #efc448;
				.videoDur {
					top: 79%;
					left: 0%;
				}
			}
		}
		.molsceal-img0, .molsceal-img4, .molsceal-img8  {
			@include breakpoint($break-500) {
				width: 100%;
				border-right: 0px solid #efc448;
			}
		}
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #efc448;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 0;
			}
		}
	}
}

.molscealplyr-wrapper {
	background-color: $color-white;
	@include center(780px);
	@include cf();
	.molsceal-genreheader {
	  	@extend .mulibold;
		margin: 0;
		@include font-size($font-size-40);
		@include breakpoint($break-700) {
			@include font-size($font-size-24);
		}
		@include breakpoint($break-500) {
			@include font-size($font-size-20);
		}
	}
	.molsceal-article {
		width: 100%;
		float: left;
		border: 0px solid #ccc;
		padding: 25px;
	}
	.molsceal-newssrc {
	  	@extend .muliregular;
		margin: 0;
		color: #ccc;
		@include font-size($font-size-14);
	}
	.molsceal-newsdate {
	  	@extend .muliregular;
		margin: 0;
		color: #ccc;
		@include font-size($font-size-10);
	}
	.mod-6_Nuacht {
		border-bottom: 5px solid #036fad;
		max-width: 780px;
		@include col(1);
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #036fad;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 7px 5px 5px 0;
			}
		}
	}
	.mod-6_Spórt {
		border-bottom: 5px solid #299f1b;
		max-width: 780px;
		@include col(1);
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #299f1b;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 7px 5px 5px 0;
			}
		}
	}
	.mod-6_Siamsaíocht {
		border-bottom: 5px solid #682dcb;
		max-width: 780px;
		@include col(1);
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #682dcb;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 7px 5px 5px 0;
			}
		}
	}
	.mod-6_Cartlann {
		border-bottom: 5px solid #efc448;
		max-width: 780px;
		@include col(1);
		.molsceal-genretitle {
		  	@extend .mulibold;
			margin: 0;
			@include font-size($font-size-13);
			text-transform: uppercase;
			padding: 5px 5px 5px 0;
			color: #efc448;
			@include breakpoint($break-500) {
				@include font-size($font-size-11);
				padding: 7px 5px 5px 0;
			}
		}
	}
}

.molsceal-mod-notice {
	position: relative;
	background-color: $color-white;
	height: 90%;
	width: 100%;
}

.molsceal-mod-home {
	position: relative;
	background-color: $color-white;
	height: 100%;
	width: 100%;
}

.molsceal-textholder0, .molsceal-textholder4, .molsceal-textholder8  {
	height: 130px;
	width: 100%;
	padding: 10px;
	@include breakpoint($break-500) {
		height: 100px;
		display: inline-block;
		width: 100%;
	}
}

.molsceal-textholder1, .molsceal-textholder2, .molsceal-textholder3, .molsceal-textholder5, .molsceal-textholder6, .molsceal-textholder7, .molsceal-textholder9  {
	height: 128px;
	width: 100%;
	padding: 10px;
	@include breakpoint($break-500) {
		display: inline-block;
		width: 50%;
	}
}

.molsceal-text {
	height: 78%;
	border: 0px solid #000;
}

.molsceal-view0, .molsceal-view4, .molsceal-view8 {
	max-width: 100%;
	height: 34px;
	@include breakpoint($break-500) {
		width: 209%;
		height: 20px;
	}
}

.molsceal-articleimg0, .molsceal-articleimg4, .molsceal-articleimg8 {
	width: 100%;
	height: 169px;
    object-fit: cover;
	@include breakpoint($break-500) {
		width: 100%;
		height: 282px;
    	object-fit: cover;
	}
}

.molsceal-articleimg1, .molsceal-articleimg2, .molsceal-articleimg3, .molsceal-articleimg5, .molsceal-articleimg6, .molsceal-articleimg7, .molsceal-articleimg9 {
	width: 100%;
	height: 169px;
    object-fit: cover;
	@include breakpoint($break-500) {
		width: 100%;
		height: 128px;
    	object-fit: cover;
	}
}

.molsceal-genreview {
	float: left;
	display: block;
	width: 50%;
	@include breakpoint($break-500) {
		@include font-size($font-size-11);
	}
}

.molsceal-genretitle {
	float: left;
	display: block;
	width: 50%;
	text-align: right;
}

.molsceal-hometitle {
  	@extend .mulibold;
	margin: 0;
	color: white;
	@include font-size($font-size-40);
	text-align: center;
}

.molsceal-title-new {
	padding-top: 180px;
	@include breakpoint($break-650) {
		padding-top: 120px;
	}
}

.molsceal-title-news {
	padding-top: 70px;
	@include breakpoint($break-650) {
		padding-top: 120px;
	}
}

.molsceal-title-sport {
	padding-top: 70px;
	@include breakpoint($break-650) {
		padding-top: 120px;
	}
}

.molsceal-title-ent {
	padding-top: 70px;
	@include breakpoint($break-650) {
		padding-top: 120px;
	}
}

.molsceal-title-trend {
	padding-top: 180px;
	@include breakpoint($break-650) {
		padding-top: 120px;
	}
}

.molsceal-title-arch {
	padding-top: 70px;
	@include breakpoint($break-650) {
		padding-top: 120px;
	}
}

.molsceal-genretext {
  	@extend .mulibold;
	margin: 0;
	@include font-size($font-size-16);
	padding: 5px 5px 5px 0;
	display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.6;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	@include breakpoint($break-500) {
		padding: 0;
		@include font-size($font-size-16);
    	line-height: 1.6;
    	-webkit-line-clamp: 2;
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-16);
	}
}

.molsceal-articletext {
  	@extend .mulibold;
	margin: 0;
	@include font-size($font-size-14);
	width: 80%;
	@include breakpoint($break-500) {
		padding: 2px 2px 2px 0;
		width: 100%;
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-11);
	}
}

p {
  	@extend .muliregular;
	margin: 0;
	@include font-size($font-size-14);
	padding: 5px 5px 5px 0;
	@include breakpoint($break-500) {
		padding: 2px 2px 2px 0;
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-11);
	}
}

img {
	@include breakpoint($break-500) {
		padding: 0;
	}
}

b, strong, blockquote>p {
  	@extend .mulibold;
	margin: 0;
	@include font-size($font-size-14);
	padding: 5px 5px 5px 0;
	@include breakpoint($break-500) {
		padding: 2px 2px 2px 0;
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-11);
	}
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 6px 0 6px 0;
}

.regiontoggle, .regiontoggle:hover {
  	@extend .mulibold;
	cursor: pointer;
	color: $base-background-color;
	@include breakpoint($break-500) {
		@include font-size($font-size-13);
		top: 3px;
	}
}

#regiondd {
  	@extend .mulibold;
	@include font-size($font-size-12);
	background: #ffffff;
	border: 1px solid #ccc;
	width: 180px;
	display: none;
	position: fixed;
	top: 28px;
	z-index: inherit;
	@include breakpoint($mobile) {
		@include font-size($font-size-11);
		left: 10px;
	}
	.regLnk {
    	list-style-type: none;
	}
}

#sharedd {
  	@extend .mulibold;
	@include font-size($font-size-12);
	background: #ffffff;
	width: 100%;
	display: none;
	text-align: left;
	margin: 8px 0;
	z-index: inherit;
	.regLnk {
    	list-style-type: none;
		margin: 2px;
		@include breakpoint($mobile) {
			text-align: left;
		}
	}
}

.social-logo {
    width: 35px;
    height: 25px;
    margin-top: -10px;
}

.sharetoggle {
	cursor: pointer;
}

.error {
	color: #ff0000;
	@include font-size($font-size-11);
}

.closetoggle {
	color: #000000;
	@include font-size($font-size-18);
}

.center-panel {
    @include center(1214px);
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
	@include font-size($font-size-11);
  	display: inline-block;
  	padding-left: 0;
  	//margin: 20px 0;
  	border-radius: 4px;
}

.pagination > li {
  	display: inline;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #00d6f2;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  	margin-left: 0;
  	border-top-left-radius: 4px;
  	border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  	border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  	z-index: 2;
  	color: #23527c;
  	background-color: #c7dae2;
  	border-color: #c7dae2;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  	z-index: 3;
  	color: #fff;
  	cursor: default;
  	background-color: #00d6f2;
  	border-color: #00d6f2;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  	color: #777;
  	cursor: not-allowed;
  	background-color: #fff;
  	border-color: #ddd;
}