/* 	==========================================================================
   	Newsletter - HTML Page Panels
   	========================================================================== */

.nlblockContainer {
    position: absolute;
    left: 7%;
    margin-right: 7%;
    top: 17%;
    @include breakpoint($mobile) {
        top: 10%;
        left: 0;
    }
    @include breakpoint($break-700) {
        top: 0;
        left: 0;
    }
}

.nlcontent-block {
    position: relative;
    color: #FFF;
    background: #000;
    opacity: 0.75;
    max-width: 560px;
    clear: left;
    padding: 20px 40px 30px;
    @include breakpoint($break-700) {
        padding: 15px;
    	//opacity: 1;
		background-color: $color-brand-1;
    }
}

.nlcontent-title {
    @include font-size($font-size-36);
    @include breakpoint($break-700) {
    	@include font-size($font-size-21);
    }
}

.nlcontent-subtitle {
    @include font-size($font-size-24);
    @include breakpoint($break-700) {
    	@include font-size($font-size-18);
    }
}

.newsletter-mods {
	background-color: $color-white;
	padding: 12px 20px 85px;
}

.nlmods-wrapper {
	@include center(1250px);
	@include cf();
	.mod-1 {
		height: 660px;
		max-width: 782px;
		margin-bottom: 20px;
		//@include col(1/1, $gutter:1.875);
	}
	.mod-2 {
		height: 550px;
		max-width: 380px;
		margin-bottom: 20px;
		@include col(1/3, $gutter:1.775);
		@include breakpoint($break-1150) {
			//max-width: 300px;
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
	.mod-3 {
		height: 274px;
		max-width: 380px;
		margin-bottom: 20px;
		@include col(1/3, $gutter:1.875);
		@include breakpoint($break-960) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
}

.newsletter-mod-wrap {
	@include cf();
	@include col(1);
	@include breakpoint($break-1435) {
		width: 100%;
		margin:0;
	}
	@include breakpoint($break-960) {
		width: 100%;
	}
}

.newsletter-mod-notice {
	position: relative;
	background-color: $color-pale-blue-2;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
}

.newsletter-title {
	margin: 0;
	position: absolute;
	z-index: 1;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	color: white;
	//min-height: 48px;
	padding: 7px 20px;
	@include font-size($font-size-18);
	.online-panel:hover & {
		background-color: $color-brand-1-hover;
	}
}

.nl-live-section {
	margin-top:-40px;
	.section-panel-dark-3 {
		padding-bottom: 0;
	}
}

.nl-feat-section {
	margin-top:-40px;
	.section-panel-dark-3 {
		padding-bottom: 0;
	}
}

.nl-feat {
	padding: 45px 0 0;
	@include cf();
}

.nl-feat-wrap {
	width: calc(100% - 380px);
	float: left;
	@include breakpoint($mobile) {
		width: 100%;
	}
}

.nl-feat-intro-wrap {
	background-color: $color-pale-blue;
	padding: 0 20px 20px;
	@include cf();
}

.srch-feat-intro-wrap {
	margin-top: -40px;
	background-color: $color-pale-blue;
	padding: 0 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		margin-top: 0px;
	}
}

.srch-feat-intro {
	width: calc(95%);
	@include breakpoint($mobile) {
		width: 100%;	
	}
}

.srchSel-wrap {
	margin-top: 30px;
	display: inline-block;
	width: 200px;
}

.srchSel {
	display: inline-block;
	width: 80%;
}

.hot {
	cursor:pointer; opacity:.5;
}

.hot:hover {
	opacity:1;
}

.srchText {
	margin-top: -42px;
	display: inline;
	float: right;
	@include breakpoint($break-600) {
		margin-top: 0px;
		float: left;
	}
	@include breakpoint($break-400) {
		display: false;
	}
}

.srchTextCart {
	margin-top: -42px;
	display: inline;
	float: right;
	@include breakpoint($break-600) {
		margin-top: 0px;
		float: left;
	}
}

.prog-desc-en {
	margin: 10px;
	@include font-size($font-size-14);
	margin-bottom: 3px;
	color: $color-dark;
	@include breakpoint($break-500) {
		@include font-size($font-size-13);
	}
}

.prog-desc-ie {
	margin: 10px;
	@include font-size($font-size-14);
	margin-bottom: 3px;
	color: $color-brand-1;
	@include breakpoint($break-500) {
		@include font-size($font-size-13);
	}
}

.social-desc {
	margin: 0px 10px 0px 10px;
	@include font-size($font-size-15);
	margin-bottom: 3px;
}

.footer-details-wrap {
	text-align: right;
	height: 150px;
	margin-top: -40px;
	background-color: $color-pale-blue;
	//padding: 0 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		margin-top: 0px;
		height: 60px;
		text-align: left;
	}
}

.nl-reg-btn {
	margin: 20px;
	float: left;
	@include font-size($font-size-18);
	margin-bottom: 3px;
	color: $color-brand-1;
}

.footer-desc-ie {
	float: right;
	margin: 10px 60px 0px;
	@include font-size($font-size-13);
	margin-bottom: 3px;
	color: $color-brand-1;
	@include breakpoint($mobile) {
		float: left;
		margin: 10px 20px 0px;
	}
}