/* 	==========================================================================
   	News page
   	========================================================================== */

.news-link {
  	padding: 10px 0px 10px 0px;
    width: 300px;
    height: 250px;
}

.news-item-wrap {
	@include center(1234px);
	padding: 20px 20px;
	@include cf();
}

.news-back {
  	@include col(2/5, $gutter:2);
  	padding: 5px 30px;
}

.back-button {
 	display: block;
  	padding: 0px 10px 0px 10px;
	background-color: $color-pale-blue;
  	float: left;
}

.news-art-img {
	@include col(1, $gutter: 0.5);
	margin: 5px 10px 15px;
	background-color: black;
	background-size: cover;
	background-position: center center;
}

.news-art-content {
	@include col(1, $gutter: 0.5);
	padding-left: 10px;
	hr {
		clear: both;
	}
}

.news-art-title {
	color: $color-brand-1;
	@include font-size($font-size-21);
	margin: 0;
	span {
		margin-left: 10px;
		@include font-size($font-small);
		text-transform: uppercase;
	}
	border-bottom: 1px solid $color-brand-1;
	padding-bottom: 5px;
}

.news-art-sub {
	color: $color-dark-blue;
	@include font-size($font-size-18);
	@extend .bold;
	margin: 10px 0 10px;
}

.news-art-desc {
	color: $color-dark-blue;
	margin: 10px 0 0 0;
}

.news-item-img {
	margin-top: 35px;
	@include col(0.17, $gutter: 0.5);
	background-color: black;
	background-size: cover;
	background-position: center center;
	@include breakpoint($break-960) {
		@include col(0.20, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		display: none;
	}
}

.news-item-content {
	@include col(0.73, $gutter: 0.5);
	padding-left: 20px;
	hr {
		clear: both;
	}
	@include breakpoint($break-960) {
		@include col(0.65, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		@include col(1, $gutter: 0);
		padding-left: 0;
	}
}

.news-item-title {
	color: $color-brand-1;
	@include font-size($font-size-21);
	margin: 0;
	span {
		margin-left: 10px;
		@include font-size($font-small);
		text-transform: uppercase;
		@include breakpoint($break-700) {
			display: block;
			margin-left: 0;
			padding-bottom: 8px;
		}
	}
	border-bottom: 1px solid $color-brand-1;
	padding-bottom: 5px;
}

.pr-list-title {
	color: $color-brand-1;
	@include font-size($font-size-21);
	margin: 0;
	span {
		margin-left: 10px;
		@include font-size($font-small);
		text-transform: uppercase;
		@include breakpoint($break-700) {
			display: block;
			margin-left: 0;
			padding-bottom: 8px;
		}
	}
	padding-bottom: 5px;
}

.news-item-sub {
	color: $color-dark-blue;
	@include font-size($font-size-15);
	@extend .bold;
	margin: 5px 0 3px;
}

.news-item-desc {
	color: $color-dark-blue;
	margin: 0;
}

.news-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		background-color: $color-pale-blue-2;
		@include transition(background-color 0.1s linear);
		margin-bottom: 1px;
		&:last-child {
			margin-bottom: 0px;
		}
		&:nth-child(even) {
			background-color: $color-pale-blue-3;
		}
		&:hover {
			background-color: $color-pale-blue;
		}
	}
}

.news-feat-link {
	margin-top: 10px;
	width: 360px;
	float: right;
	//background-color: transparent;
	padding-bottom: 20px;
	@include breakpoint($mobile) {
		float: left;
		margin-left: 0;
	}
}

.mod-link {
	position: relative;
	@include font-size($font-size-12);
	//background-color: white;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
}

.link-content-wrap {
	@include col(1, $gutter: 0);
	padding-bottom: 10px;
	@include cf();
}

.link-title {
	padding-top: 10px;
	text-align: center;
    @include font-size($font-small);
    color: $color-brand-1;
    margin-bottom: 18px;
    text-transform: uppercase;
}

/* Foghlaim */

.learn-feat-ad {
	width: 360px;
	float: right;
	padding-bottom: 20px;
	@include breakpoint($mobile) {
		float: left;
	}
}

.learn-link {
	position: relative;
	@include font-size($font-size-16);
	height: 100%;
}

.learn-file {
	position: relative;
	@include font-size($font-size-16);
	//background-color: $color-pale-blue-4;
	height: 100%;
}