/* 	==========================================================================
   	Player modules - Player Video Panel
   	========================================================================== */

.player-mods {
	background-color: $color-white;
	padding: 12px 20px 85px;
}

.player-mods-nd {
	padding: 12px 20px 85px;
}

.plyrmods-wrapper {
	@include center(1250px);
	@include cf();
	.mod-1 {
		height: 360px;
		max-width: 280px;
		margin-bottom: 20px;
		@include col(1/4, $gutter:1.875);
		@include breakpoint($break-1024) {
			height: 210px;
		}
		@include breakpoint($break-960) {
			@include col(2);
			height: 230px;
		}
		@include breakpoint($break-600) {
			@include col(1);
			height: 230px;
		}
	}
	.mod-2 {
		height: 460px;
		max-width: 280px;
		margin-bottom: 20px;
		@include col(1/4, $gutter:1.875);
		@include breakpoint($break-960) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
}

.plyrmods-wrapper-nd {
	@include center(1435px);
	@include cf();
	.mod-1 {
		height: 290px;
		max-width: 340px;
		margin-bottom: 20px;
		@include col(1/3, $gutter:2.275);
		@include breakpoint($break-1435) {
			@include col(2);
			height: 290px;
		}
		@include breakpoint($break-1024) {
			height: 290px;
		}
		@include breakpoint($break-960) {
			@include col(2);
			height: 290px;
		}
		@include breakpoint($break-400) {
			@include col(1);
			height: 290px;
		}
	}
}

.player-mod-wrap {
	@include cf();
	@include col(1);
	@include breakpoint($break-1435) {
		width: 100%;
		margin:0;
	}
	@include breakpoint($break-960) {
		width: 100%;
	}
}

.player-mod-wrap-nd {
	width: calc(100% - 340px);
	@include cf();
	//@include col(1);
	@include breakpoint($break-1435) {
		//width: 100%;
		margin:0;
	}
	@include breakpoint($break-960) {
		//width: 100%;
	}
	@include breakpoint($break-400) {
		//width: 100%;
	}
}

.player-mod-notice {
	position: relative;
	background-color: $color-pale-blue-2;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
}

.player-mod-block {
	position: relative;
	background-color: $color-dark-2;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.51);
	}
}

.player-title {
	margin: 0;
	position: absolute;
	z-index: 1;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	color: white;
	//min-height: 48px;
	padding: 7px 20px;
	@include font-size($font-size-18);
	.online-panel:hover & {
		background-color: $color-brand-1-hover;
	}
}

.plyr-live-section {
	margin-top:-40px;
	.section-panel-dark-3 {
		padding-bottom: 0;
	}
}

.plyr-feat-section {
	margin-top:-40px;
	.section-panel-dark-3 {
		padding-bottom: 0;
	}
}

.plyr-feat {
	padding: 45px 0 0;
	@include cf();
}

.plyr-feat-wrap {
	width: calc(100% - 380px);
	float: left;
	@include breakpoint($mobile) {
		width: 100%;
	}
}

.arcplyr-feat-wrap {
	width: calc(100% - 380px);
	float: left;
	@include breakpoint($break-900) {
		width: calc(100% - 320px);
	}
	@include breakpoint($break-800) {
		width: 100%;
	}
}

.plyr-feat-intro-wrap {
	background-color: $color-pale-blue;
	padding: 0 20px 20px;
	@include cf();
}

.srch-feat-intro-wrap {
	margin-top: -40px;
	background-color: $color-pale-blue;
	padding: 0 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		margin-top: 0px;
	}
}

.srch-feat-plyr-wrap {
	margin-top: -40px;
	background-color: $color-pale-blue;
	padding: 0 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		margin-top: 40px;
	}
}

.srch-feat-intro {
	width: calc(95%);
	@include breakpoint($mobile) {
		width: 100%;	
	}
}

.srchSel-wrap {
	margin-top: 30px;
	display: inline-block;
	width: 200px;
}

.srchSel {
	display: inline-block;
	width: 80%;
}

.hot {
	cursor:pointer; opacity:.5;
}

.hot:hover {
	opacity:1;
}

.srchText {
	margin-top: -42px;
	display: inline;
	float: right;
	@include breakpoint($break-600) {
		margin-top: 0px;
		float: left;
	}
	@include breakpoint($break-400) {
		display: false;
	}
}

.srchTextCart {
	margin-top: -42px;
	display: inline;
	float: right;
	@include breakpoint($break-600) {
		margin-top: 0px;
		float: left;
	}
}

.pagination {
	@include font-size($font-size-13);
  	display: inline-block;
  	padding-left: 0;
  	//margin: 20px 0;
  	border-radius: 4px;
}

.pagination > li {
  	display: inline;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #00d6f2;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  	margin-left: 0;
  	border-top-left-radius: 4px;
  	border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  	border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  	z-index: 2;
  	color: #23527c;
  	background-color: #c7dae2;
  	border-color: #c7dae2;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  	z-index: 3;
  	color: #fff;
  	cursor: default;
  	background-color: #3e8eb4;
  	border-color: #3e8eb4;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  	color: #777;
  	cursor: not-allowed;
  	background-color: #fff;
  	border-color: #ddd;
}

.archiveLtr {
    color: $color-dark-blue;
    @include font-size($font-size-42);
    @extend .bold;
    margin-top: 0px;
    margin-bottom: 15px;
}

.archivePg {
    color: $color-red;
    @include font-size($font-size-16);
    margin-top: 0px;
    margin-bottom: 15px;
    display: block;
}

.plyr-series-title {
  	@extend .proximabold; 
    color: $color-white;
    margin: 10px 12px 0 12px;
    text-transform: uppercase;
    //@include font-size($font-size-20);
}

.plyr-episode-title {
  	@extend .proximacondensed; 
    color: $color-white;
    margin: 5px 12px 0 12px;
    //@include font-size($font-size-20);
}

.plyr-episode-info {
  	@extend .proximacondensed; 
	width: 150px;
	float: left;
    color: $color-gray-4;
    margin: 5px 12px 0 12px;
    //@include font-size($font-size-18);
}

.plyr-episode-date {
  	@extend .proximacondensed; 
	float: right;
    color: $color-gray-4;
    margin: 5px 12px 0 12px;
    //@include font-size($font-size-18);
}

.plyr-header {
    color: $color-gray-5;
    @include font-size($font-size-30);
}

.plyr-headimg {
	// background image inline to make use of cover background-size
	@include center(1435px);
	background: no-repeat top center transparent;
	background-size: cover;
	max-height: 400px;
	//margin-top: -40px;
	@include aspect-ratio(16, 6, content); // maintain aspect ratio of the header image and pass through the 'content' wrapper to scale
	z-index: 0;
	.content {
		padding: 70px;
	}
	@include breakpoint($mobile) {
		margin-top: 0;
		.content {
			padding: 20px;
		}
	}
}