/* 	==========================================================================
   	General styles for the programme pages
   	========================================================================== */

// Section title showing times
.showing-times {
	float: left;
	@include cf();
	//margin-left: 67px;
	@include breakpoint($mobile) {
	}
}

.showing-box {
	float: left;
	background-color: white;
	height: 60px;
	width: 80px;
	color: $color-brand-1;
	margin-right: 4px;
	margin-top: 5px;
	padding: 9px 0 0 5px;
	@include breakpoint($mobile) {
		width: 50px;
		height: 40px;
		padding: 7px 0 0 3px;
	}
}

.showing-day {
	@include font-size($font-size-24);
	line-height: 1;
	@extend .bold;
	@include breakpoint($mobile) {
		@include font-size($font-small);
	}
}

.showing-time {
	@include font-size($font-small);
	line-height: 1;
	@include breakpoint($mobile) {
		@include font-size($font-size-10);
		letter-spacing: -1;
	}
}

.prog-head {
	// background image inline to make use of cover background-size
	background: no-repeat top center transparent;
	background-size: cover;
	min-height: 400px;
	margin-top: -40px;
	@include aspect-ratio(16, 6, content); // maintain aspect ratio of the header image and pass through the 'content' wrapper to scale
	z-index: 0;
	.content {
		padding: 70px;
	}
	@include breakpoint($mobile) {
		margin-top: 0;
		.content {
			padding: 20px;
		}
	}
}

.prog-headcenter {
	// background image inline to make use of cover background-size
	background: no-repeat center center transparent;
	background-size: cover;
	min-height: 400px;
	margin-top: -40px;
	@include aspect-ratio(16, 6, content); // maintain aspect ratio of the header image and pass through the 'content' wrapper to scale
	z-index: 0;
	.content {
		padding: 70px;
	}
	@include breakpoint($mobile) {
		margin-top: 0;
		.content {
			padding: 20px;
		}
	}
}

/* 	==========================================================================
   	Featured Video
   	========================================================================== */

.prog-feat-section {
	.section-panel-dark-3 {
		padding-bottom: 0;
	}
}

.prog-feat {
	padding: 15px 0 0;
	@include cf();
}

.prog-feat-wrap {
	width: calc(100% - 380px);
	float: left;
	@include breakpoint($mobile) {
		width: 100%;
	}
}

.prog-feat-ad {
	width: 360px;
	float: right;
	//background-color: transparent;
	padding-bottom: 20px;
	@include breakpoint($mobile) {
		display: none;
	}
}

.prog-feat-ad-plyr {
	width: 340px;
	float: right;
	background-color: $color-dark-2;
	padding-top: 20px;
	padding-bottom: 20px;
	@include breakpoint($mobile) {
		display: none;
	}
}

.prog-feat-disc {
	width: 360px;
	float: right;
	//background-color: transparent;
	margin-bottom: 20px;
	@include breakpoint($break-900) {
		width: 300px;
	}
	@include breakpoint($break-900) {
		width: 360px;
		float: left;
		margin-top: 10px;
	}
	@include breakpoint($break-400) {
		width: 280px;
	}
}

.video-js {
	padding-top: 56.25%;
}

.vjs-fullscreen {
	padding-top: 0px;
}

.prog-feat-intro-wrap {
	background-color: $color-pale-blue;
	padding: 0 20px;
	@include cf();
}

.prog-feat-intro {
	width: calc(100% - 380px);
	@include breakpoint($mobile) {
		width: 100%;	
	}
}

.prog-feat-toolbar {
	background-color: $color-dark-blue;
	min-height: 54px;
	@include cf();
}

.prog-remind {
	max-width: calc(100% - 165px);
	float: left;
	color: white;
	@include font-size($font-small);
	text-transform: uppercase;
	position: relative;
	overflow: visible;
	@include breakpoint($break-450) {
		display: none;
	}
}

.prog-remind-txt {
	padding: 12px 74px 10px 20px;
	line-height: 1;
}

.prog-remind-count	 {
	position: absolute;
	right: 0;
	top: 0;
	width: 54px;
	height: 60px;
	background-color: $color-brand-1;
	text-align: center;
	@include font-size($font-size-10);
	padding: 6px 5px;
	line-height: 1;
	span {
		@include font-size($font-size-24);
		display: block;
		line-height: 1;
	}
}

.prog-share {
	width: 165px;
	float: right;
	@include cf();
	@include breakpoint($break-450) {
		float: left;
	}
}

.facebook-share, .twitter-share, .email-share {
	display: block;
	float: left;
	height: 54px;
	width: 54px;
	text-indent: 110px;
	overflow: hidden;
	background-color: $color-brand-1;
	margin-left: 1px;
	&:hover, &:focus {
		background-color: $color-brand-1-hover;
	}
}

.arcLink {
	color: $color-dark-3;
	&:hover, &:focus {
		background-color: $color-brand-1-hover;
	}
}

.facebook-share {
	position: relative;
	&:after {
		@extend %icon-facebook-white;
		content: '';
		@include align(both);
	}
}

.twitter-share {
	position: relative;
	&:after {
		@extend %icon-twitter-white;
		content: '';
		@include align(both);
	}
}

.email-share {
	position: relative;
	&:after {
		@extend %icon-mail-white;
		content: '';
		@include align(both);
	}
}

.prog-feat-txt {
	@include col(3/5, $gutter:2);
	padding: 30px 0;
	@include breakpoint($break-700) {
		@include col(1, $gutter:20);
		padding-bottom: 0;
	}
}

.prog-feat-keyword {
	@include col(2/5, $gutter:2);
	padding: 30px 0;
	@include breakpoint($break-700) {
		@include col(1, $gutter:20);
	}
}

.keyword {
	display: block;
	float: left;
	padding: 5px 10px;
	background-color: white;
	margin: 0 1px 1px 0;
}

.c2-feat-txt {
	float: left;
	padding: 30px 30px;
	@include breakpoint($break-700) {
		@include col(1, $gutter:20);
		padding-bottom: 0;
	}
}

.prog-cuepoint {
	@include font-size($font-size-13);
	line-height: 1.5;
	margin-left: -10px;
}

.arcSel-wrap {
	margin-top: 30px;
	display: inline-block;
	width: 180px;
	@include breakpoint($break-760) {
		float: left;
		width: 145px;
	}
	select {
		@include breakpoint($break-900) {
			margin-top: 2px;
			height: 24px;
			@include font-size($font-size-12);
		}
	}
	@include breakpoint($break-700) {
		float: left;
		width: 650px;
	}
}

.arcform-wrap {
	margin-top: 30px;
	float: right;
	@include breakpoint($break-760) {
		float: left;
	}
	@include breakpoint($break-700) {
		margin-top: 2px;
	}
}

.arcform-text {
	@include font-size($font-size-13);
	margin-left: 5px;
	@include breakpoint($break-900) {
		@include font-size($font-size-11);
	}
}

.arcform-textbox {
	display: inline;
	width: 148px;
	@include breakpoint($mobile) {
		width: 128px;
	}
	@include breakpoint($break-900) {
		width: 100px;
		@include font-size($font-size-12);
	}
	@include breakpoint($break-800) {
		width: 95px;
		@include font-size($font-size-12);
	}
}

.arcform-btn {
	border: 1px solid #b2afaf;
	background: #ffffff;
	padding: 2px;
	margin-left: -1px;
	margin-right: 10px;
	@include breakpoint($break-900) {
		@include font-size($font-size-12);
		margin-right: 5px;
	}
}

.arcform-hint {
	display: inline-block;
	background-color: $color-dark;
	padding: 0 4px;
	border: 1px solid #fff;
	color: white;
	margin-top: -1px;
	@include breakpoint($break-760) {
		@include font-size($font-size-12);
		margin-right: 5px;
	}
	cursor: help;
}

/* 	==========================================================================
   	Misc
   	========================================================================== */

.prog-intro {
	//margin: 20px;
	//height: 500px; //////////////////// REMOVE THIS! TEMP ONLY
	.mod-notice {
		padding: 20px 0px 40px 0px;
		background-color: white;
		.notice {
			color: $color-brand-1;
		}
		@include breakpoint($break-1260) {
			padding: 20px 20px 40px 20px;
		}
	}
}

/* 	==========================================================================
   	Responsive divs in Content section
   	========================================================================== */

.content-mods {
	background-color: $color-white;
	padding: 12px 20px 85px;
}

.contentmods-wrapper {
	@include center(1250px);
	@include cf();
	.mod-1 {
		height: 360px;
		max-width: 250px;
		margin-bottom: 20px;
		@include col(1/4, $gutter:1.875);
		@include breakpoint($break-960) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
}

.content-mod-wrap {
	@include cf();
	@include col(1);
	@include breakpoint($break-1435) {
		width: 100%;
		margin:0;
	}
	@include breakpoint($break-960) {
		width: 100%;
	}
}

.content-blue-box-1 {
	//width: calc(100% - 380px);
	padding: 12px 20px 12px 20px;
	color: white;
	background-color: $color-brand-1;
	float: left;
	@include breakpoint($mobile) {
		margin-top: 15px;
		width: 100%;
	}
	a { color: $color-dark-blue; }
}

.tdf-route {
	@include breakpoint($break-700) {
		display: none;
	}
}

.video-container-yt {
	position:relative;
	padding-bottom:56.25%;
	padding-top:32px;
	height:0;
	overflow:hidden;
}

.video-container-yt iframe, .video-container-yt object, .video-container-yt embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}