/* 	==========================================================================
   	Schedule page
   	========================================================================== */

.sport-lists {
	margin-top: -40px;
	@include breakpoint($mobile) {
    	margin-top: 0px; 
	}
}

.sched-lists {
}

.sched-days-wrap {
	background-color: black;
	border-bottom: 10px solid $color-brand-1;
	height: 70px;
	//padding-top: 18px;
}

.sched-days {
	@include center(1314px);
	//background-color: red;
	height: 60px;
}

// days slider

.sched-slider {
	margin: 0 60px;
	.slick-list {
		padding: 0;
	}
	.slick-prev, .slick-next {
		top: 0;
		margin-top: 0;
		height: 70px;
		background-color: transparent;
	}
	.slick-prev {
		left: -60px;
	}
	.slick-next {
		right: -60px;
	}
	// .slick-prev:before, .slick-next:before {
	// 	top: 27px;
	// }
}

.day-link {
	float: left;

	display: block;
	background-color: white;
	@include transition(background-color 0.1s linear);
	margin: 0 1px;
	height: 60px;
	padding: 8px 15px;
	@include font-size($font-size-24);
	@extend .bold;
	line-height: 1;
	&:hover, &:focus {
		background-color: $color-pale-blue-2;
	}
}

.day-selected, .day-selected:hover, .day-selected:focus {
	background-color: $color-brand-1;
	color: white;
}

.sched-date {
	display: block;
	@include font-size($font-size-18);
	@extend .regular;
	line-height: 1;
	text-transform: uppercase;
}

// tv shows list

.sched-lists-title {
	background-color: black;
	margin: 0;
	color: white;
	text-align: center;
	padding: 30px 20px;
	@include font-size($font-size-42);
	@extend .bold;
	@include breakpoint($mobile) {
		@include font-size($font-size-36);
	}
}

.sched-list-wrap {
	
}

.sched-list-day {
	margin: 0;
	background-color: $color-brand-1;
	text-align: center;
	color: white;
	padding: 20px 20px 30px;
	@include font-size($font-size-24);
	//@include center(1214px);
}

.sched-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		background-color: $color-pale-blue-2;
		@include transition(background-color 0.1s linear);
		margin-bottom: 1px;
		&:last-child {
			margin-bottom: 0px;
		}
		&:nth-child(even) {
			background-color: $color-pale-blue-3;
		}
		&:hover {
			background-color: $color-pale-blue;
		}
	}
}

.sched-item-wrap {
	@include center(1234px);
	padding: 20px 20px;
	@include cf();
}

.sched-time {
	@include col(0.10, $gutter: 0.5);
	@include font-size($font-size-18);
	background-color: white;
	position: relative;
	min-height: 110px;
	span {
		@include align(both);
	}
	@include breakpoint($break-960) {
		@include col(0.15, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		@include col(1, $gutter: 0);
		min-height: 40px;
		width: 100px;
		margin: 0 0 7px 0;
	}
}

.sched-item-img {
	@include col(0.17, $gutter: 0.5);
	//background-color: black;
	background-size: cover;
	background-position: center center;
	@include breakpoint($break-960) {
		@include col(0.20, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		display: none;
	}
}

.sched-item-content {
	@include col(0.73, $gutter: 0.5);
	padding-left: 20px;
	hr {
		clear: both;
	}
	@include breakpoint($break-960) {
		@include col(0.65, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		@include col(1, $gutter: 0);
		padding-left: 0;
	}
}

.sched-item-title {
	color: $color-brand-1;
	@include font-size($font-size-30);
	margin: 0;
	span {
		margin-left: 10px;
		@include font-size($font-small);
		text-transform: uppercase;
		@include breakpoint($break-700) {
			display: block;
			margin-left: 0;
			padding-bottom: 8px;
		}
	}
	border-bottom: 1px solid $color-brand-1;
	padding-bottom: 5px;
}

.sched-item-sub {
	@include font-size($font-size-18);
	@extend .bold;
	margin: 5px 0 3px;
}

.sched-item-desc {
	margin: 0;
}

.sched-lists-top {
	display: block;
	background-color: black;
	padding: 30px 20px 26px;
	color: white;
	text-align: center;
	&:hover, &:focus {
		background-color: $color-dark-blue;
		color: white;
	}
	span {
		position: relative;
		display: inline-block;
		padding-right: 5px;
		&:after {
			@extend %sprite-2x;
			content: '';
			background-position: -214px -42px;
			width: 9px;
			height: 16px;
			transform: rotate(-90deg);
			position: absolute;
			right: 50%;
			top: -15px;
		}
	}
}