/* 	==========================================================================
   	Shop - HTML Page Panels
   	========================================================================== */


.shop-title {
	margin: 0 67px;
	@include font-size($font-size-78);
	@extend .bold;
	color: white;
	line-height: 1;
	float: left;
	vertical-align: middle;
	padding-top: 40px;
	padding-bottom: 40px;
	@include breakpoint($mobile) {
		@include font-size($font-size-36);
		padding: 5px 0;
		margin: 0 5px 0 0;
	}
}

.shop-home-DVD {
	min-height: 230px;
	background-color: $color-dark-blue;
	padding: 23px 20px 29px;
	margin-top: 0px;
	position: relative;
	@include cf();
	@include breakpoint($mobile) {
		min-height: 94px;
	}
}

.shop-home-books {
	min-height: 230px;
	background-color: $color-light-blue;
	padding: 23px 20px 29px;
	margin-top: 0px;
	position: relative;
	@include cf();
	@include breakpoint($mobile) {
		padding: 23px 20px 29px;
		min-height: 94px;
	}
}

.shopblockContainer {
    position: absolute;
    left: 7%;
    margin-right: 7%;
    top: 17%;
    @include breakpoint($mobile) {
        top: 10%;
        left: 0;
    }
    @include breakpoint($break-700) {
        top: 0;
        left: 0;
    }
}

.shop-content-block {
    position: relative;
    color: #FFF;
    background: #000;
    opacity: 0.75;
    max-width: 560px;
    clear: left;
    padding: 20px 40px 30px;
    @include breakpoint($break-700) {
        padding: 15px;
    	//opacity: 1;
		background-color: $color-brand-1;
    }
}

.shop-content-title {
    @include font-size($font-size-36);
    @include breakpoint($break-700) {
    	@include font-size($font-size-21);
    }
}

.shop-content-subtitle {
    @include font-size($font-size-24);
    @include breakpoint($break-700) {
    	@include font-size($font-size-18);
    }
}

.shop-content-mods {
	background-color: $color-pale-blue;
	padding: 40px;
	margin-top: -50px;
}

.shop-mods {
	background-color: $color-pale-blue;
	padding: 12px 20px 85px;
}

.shopmods-wrapper {
	@include center(1435px);
	@include cf();
	.mod-1 {
		height: 400px;
		max-width: 250px;
		@include col(1/4, $gutter:1.875);
		@include breakpoint($break-960) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
	.mod-2 {
		height: 140px;
		max-width: 140px;
		padding: 5px;
		@include col(1/5, $gutter:1.455);
		@include breakpoint($break-1150) {
			//max-width: 300px;
			@include col(3);
		}
		@include breakpoint($break-600) {
			@include col(2);
		}
	}
	.mod-3 {
		height: 170px;
		max-width: 108px;
		padding: 2px;
		//border: 1px solid #000;
		@include col(1/6, $gutter:1.2);
		@include breakpoint($break-1150) {
			//max-width: 300px;
			@include col(3);
		}
		@include breakpoint($break-600) {
			@include col(2);
		}
	}
}

.shop-mod-wrap {
	@include cf();
	@include col(1);
	@include breakpoint($break-1435) {
		width: 100%;
		margin: 0;
	}
	@include breakpoint($break-960) {
		width: 100%;
	}
}

.shop-mod-notice {
	position: relative;
	height: 100%;
	background-color: $color-pale-blue;
	//margin-bottom: 60px;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
}



/* 	==========================================================================
   	Shop - Icons
   	========================================================================== */

.shop-icon {

	width: 10%;
	display: block;
	position: absolute;
  	top: 50%;
  	left: 85%;
 	transform: translateY(-50%);
	//position: relative;
	//vertical-align: middle;
	//padding-top: 10px;
	//padding-bottom: 10px;
	//float: right;
	//display: flex;
  	//flex-direction: column;
  	//justify-content: center;

}

/* 	==========================================================================
   	Shop - HTML Page Panels
   	========================================================================== */

.shop-home-DVD {
	min-height: 230px;
	background-color: $color-dark-blue;
	padding: 20px 20px 20px;
	position: relative;
	margin: 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		padding: 20px 20px 20px;
		min-height: 94px;
	}
}

.shop-home-books {
	min-height: 230px;
	background-color: $color-light-blue;
	padding: 20px 20px 20px;
	position: relative;
	margin: 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		padding: 20px 20px 20px;
		min-height: 94px;
	}
}

.shop-home-others {
	min-height: 230px;
	background-color: $color-gray-3;
	padding: 20px 20px 20px;
	position: relative;
	margin: 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		padding: 20px 20px 20px;
		min-height: 94px;
	}
}


.shop-content-title {
    @include font-size($font-size-36);
    @include breakpoint($break-700) {
    	@include font-size($font-size-21);
    }
}

.shop-content-subtitle {
    @include font-size($font-size-24);
    @include breakpoint($break-700) {
    	@include font-size($font-size-18);
    }
}

.bloc-wrap {
	width: calc(100% - 380px);
	float: left;
	@include breakpoint($break-1260) {
		width: calc(100% - 140px);
	}
	@include breakpoint($mobile) {
		width: 100%;
	}
}

.shopmods-wrapper {
	@include center(1435px);
	@include cf();
	.mod-1 {
		height: 400px;
		max-width: 250px;
		@include col(1/4, $gutter:1.875);
		@include breakpoint($break-960) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
	.mod-2 {
		height: 140px;
		max-width: 140px;
		padding: 5px;
		@include col(1/5, $gutter:1.455);
		@include breakpoint($break-1150) {
			//max-width: 300px;
			@include col(3);
		}
		@include breakpoint($break-600) {
			@include col(2);
		}
	}
	.mod-3 {
		height: 170px;
		max-width: 108px;
		padding: 4px;
		@include col(1/6, $gutter:1.2);
		@include breakpoint($break-1150) {
			//max-width: 300px;
			@include col(3);
		}
		@include breakpoint($break-600) {
			@include col(2);
		}
	}
	.mod-4 {
		padding: 20px;
	}
	.mod-5 {
		border: 0px solid #ff0000;
		margin: 40px 0 20px 0;
		height: 140px;
		max-width: 75px;
		@include col(1/5);
		@include breakpoint($break-960) {
			width: 50px;
		}
		@include breakpoint($break-670) {
			width: 40px;
			height: 70px;
		}
		@include breakpoint($break-550) {
			width: 30px;
			height: 50px;
		}
		@include breakpoint($break-450) {
			width: 23px;
			height: 30px;
		}
	}
	.mod-6 {
		border: 0px solid #ff0000;
		margin: 40px 0 20px 0;
		height: 160px;
		max-width: 128px;
		@include col(1/5);
		@include breakpoint($break-960) {
			width: 95px;
		}
		@include breakpoint($break-670) {
			width: 75px;
			height: 70px;
		}
		@include breakpoint($break-550) {
			width: 55px;
			height: 50px;
		}
		@include breakpoint($break-450) {
			width: 42px;
			height: 30px;
		}
	}
	.mod-7 {
		border: 0px solid #ff0000;
		margin: 40px 0 20px 0;
		height: 140px;
		max-width: 145px;
		@include col(1/5);
		@include breakpoint($break-960) {
			width: 110px;
		}
		@include breakpoint($break-670) {
			width: 90px;
			height: 70px;
		}
		@include breakpoint($break-550) {
			width: 70px;
			height: 50px;
		}
		@include breakpoint($break-450) {
			width: 50px;
			height: 30px;
		}
	}
	.mod-8 {
		border: 0px solid #ff0000;
		margin: 40px 0 20px 0;
		height: 140px;
		max-width: 150px;
		@include col(1/5);
		@include breakpoint($break-960) {
			width: 125px;
		}
		@include breakpoint($break-670) {
			width: 100px;
			height: 70px;
		}
		@include breakpoint($break-550) {
			width: 80px;
			height: 50px;
		}
		@include breakpoint($break-450) {
			width: 55px;
			height: 30px;
		}
	}
}

.shop-mod-wrap {
	@include cf();
	@include col(1);
	@include breakpoint($break-1435) {
		width: 100%;
		margin: 0;
	}
	@include breakpoint($break-960) {
		width: 100%;
	}
}

