/* 	==========================================================================
   	Vóta 2016 modules
   	========================================================================== */

.constituency-mods {
	background-color: $color-white;
	padding: 12px 20px 85px;
}

.constituencymods-wrapper {
	@include center(1250px);
	@include cf();
	.mod-1 {
		height: 80px;
		max-width: 280px;
		margin-bottom: 20px;
		@include col(1/4, $gutter:1.875);
		@include breakpoint($break-960) {
			@include col(2);
		}
		@include breakpoint($break-600) {
			@include col(1);
		}
	}
}

.constituency-full-wrap {
	@include cf();
	@include col(1);
	width: 100%;
	@include breakpoint($break-1435) {
		width: 100%;
		margin:0;
	}
	@include breakpoint($break-960) {
		width: 100%;
	}
}

.constituency-mod-wrap {
	@include cf();
	@include col(1);
	//width: calc(100% - 380px);
	//@include breakpoint($break-1435) {
	//	width: 100%;
	//	margin:0;
	//}
	@include breakpoint($mobile) {
		width: 100%;
	}
}

.constituency-mod-notice {
	position: relative;
	border: 1px solid $color-dark-blue;
	background-color: $color-pale-blue-4;
	height: 100%;
	.notice {
		@include align(both);
		color: rgba(white, 0.5);
	}
	&:hover {
		background-color: $color-pale-blue;
	}
}

.constituency-title {
	margin: 0;
	position: absolute;
	z-index: 1;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	color: white;
	//min-height: 48px;
	padding: 7px 20px;
	@include font-size($font-size-18);
	.online-panel:hover & {
		background-color: $color-brand-1-hover;
	}
}

.constituency-live-section {
	margin-top:-40px;
	.section-panel-dark-3 {
		padding-bottom: 0;
	}
}

.constituency-feat-section {
	margin-top:0px;
	.section-panel-dark-3 {
		padding-bottom: 0;
	}
}

.constituency-feat {
	padding: 45px 0 0;
	@include cf();
}

.constituency-feat-wrap {
	width: 68%;
	width: calc(100% - 380px);
	float: left;
	@include breakpoint($mobile) {
		width: 100%;
	}
}

.constituency-feat-intro-wrap {
	background-color: $color-pale-blue;
	padding: 0 20px 20px;
	@include cf();
}

.vote-constituency {
	color: $color-dark-blue;
	@include font-size($font-size-18);
	@extend .bold;
	padding: 5px;
	margin: 5px;
}

.vote-seats {
	@include font-size($font-size-16);
	margin: 5px;
	padding-left: 5px;
}

.vote-electorate {
	@include font-size($font-size-16);
	margin: 5px;
	padding-left: 5px;
}

.electionseats-wrap {
	margin-top: -40px;
	background-color: $color-pale-blue;
	padding: 30px 20px 20px;
	@include cf();
	@include breakpoint($mobile) {
		margin-top: 0px;
	}
}

.election-results-wrap {
	padding: 2px 5px;
	//background-color: $color-pale-blue;
	@include cf();
}

.election-party-mnemonic {
	@include col(0.10, $gutter: 0.5);
	@include font-size($font-size-18);
	text-align: center;
}

.election-party-mnemonic-FF {
	@include col(0.06, $gutter: 0.5);
	background-color: #18B75C;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-FG {
	@include col(0.06, $gutter: 0.5);
	background-color: #4450B7;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-LAB {
	@include col(0.06, $gutter: 0.5);
	background-color: #EE3A46;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-LO {
	@include col(0.06, $gutter: 0.5);
	background-color: #EE3A46;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-SF {
	@include col(0.06, $gutter: 0.5);
	background-color: #0D7572;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-IND {
	@include col(0.06, $gutter: 0.5);
	background-color: #FBB216;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-NS {
	@include col(0.06, $gutter: 0.5);
	background-color: #FBB216;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-IA {
	@include col(0.06, $gutter: 0.5);
	background-color: #F15A24;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-RN {
	@include col(0.06, $gutter: 0.5);
	background-color: #62CAE8;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-SD {
	@include col(0.06, $gutter: 0.5);
	background-color: #752F8B;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-DS {
	@include col(0.06, $gutter: 0.5);
	background-color: #752F8B;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-UL {
	@include col(0.06, $gutter: 0.5);
	background-color: #CE76A2;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-SP {
	@include col(0.06, $gutter: 0.5);
	background-color: #FF3E76;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-OTH {
	@include col(0.06, $gutter: 0.5);
	background-color: #999999;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-WP {
	@include col(0.06, $gutter: 0.5);
	background-color: #FF3E76;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-AP {
	@include col(0.06, $gutter: 0.5);
	background-color: #971A41;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-AAA-PBP {
	@include col(0.06, $gutter: 0.5);
	background-color: #971A41;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-12);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-AAA {
	@include col(0.06, $gutter: 0.5);
	background-color: #FAE800;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-PBP {
	@include col(0.06, $gutter: 0.5);
	background-color: #971A41;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-GP {
	@include col(0.06, $gutter: 0.5);
	background-color: #BDD86E;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-CG {
	@include col(0.06, $gutter: 0.5);
	background-color: #BDD86E;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-SKIA {
	@include col(0.06, $gutter: 0.5);
	background-color: #999999;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-DDI {
	@include col(0.06, $gutter: 0.5);
	background-color: #87CEFA;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-CD {
	@include col(0.06, $gutter: 0.5);
	background-color: #8A8AE0;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-FN {
	@include col(0.06, $gutter: 0.5);
	background-color: #FF7F50;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-CPI {
	@include col(0.06, $gutter: 0.5);
	background-color: #E3170D;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-mnemonic-IDP {
	@include col(0.06, $gutter: 0.5);
	background-color: #DDDDDD;
	color: #ffffff;
	@include font-size($font-size-16);
	text-align: center;
	@include breakpoint($mobile) {
		@include font-size($font-size-13);
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
	}
}

.election-party-candidate {
	@include col(0.45, $gutter: 0.5);
	padding-left: 20px;
	@include breakpoint($break-960) {
		@include col(0.35, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		@include col(0.35, $gutter: 0.5);
		@include font-size($font-size-12);
	}
}

.election-party-constituency {
	@include col(0.35, $gutter: 0.5);
	padding-left: 20px;
	@include breakpoint($break-700) {
		@include col(0.35, $gutter: 0.5);
		@include font-size($font-size-12);
	}
}

.election-party-candidate-elected {
	background-color: #0FB23B;
	color: #ffffff;
	@include col(0.65, $gutter: 0.5);
	padding-left: 20px;
	@include breakpoint($break-960) {
		@include col(0.5, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		@include col(0.35, $gutter: 0.5);
		@include font-size($font-size-12);
	}
}

.election-party-candidate-notelected {
	background-color: #FF0000;
	color: #ffffff;
	@include col(0.65, $gutter: 0.5);
	padding-left: 20px;
	@include breakpoint($break-960) {
		@include col(0.5, $gutter: 0.5);
	}
	@include breakpoint($break-700) {
		@include col(0.35, $gutter: 0.5);
		@include font-size($font-size-12);
	}
}

.election-party-prevvote {
	background-color: #000000;
	@include col(0.11, $gutter: 0.5);
	color: $color-white;
	text-align: right;
	padding-right: 10px;
	@include breakpoint($break-700) {
		@include font-size($font-size-12);
	}
}

.election-party-transfer {
	@include col(0.15, $gutter: 0.5);
	text-align: right;
	color: #000000;
	@include breakpoint($break-700) {
		@include font-size($font-size-12);
	}
}

.election-party-vote {
	background-color: #000000;
	@include col(0.14, $gutter: 0.5);
	color: $color-white;
	text-align: right;
	padding-right: 10px;
	@include breakpoint($break-700) {
		@include font-size($font-size-12);
		padding-right: 5px
	}
	@include breakpoint($break-400) {
		@include font-size($font-size-10);
		padding-right: 5px
	}
}

.election-party-elected {
	@include col(0.15, $gutter: 0.5);
	color: #ff0000;
	text-align: right;
	padding-right: 10px;
	@include breakpoint($break-700) {
		@include font-size($font-size-12);
	}
}

.election-Quota {
	background-color: #929292;
	color: #ffffff;
	padding: 5px 15px 5px 15px;
	margin-bottom: 2px;
}

.election-Count {
	background-color: #727274;
	color: #ffffff;
	padding: 5px 15px 5px 15px;
	margin-bottom: 2px;
	@include breakpoint($break-700) {
		@include font-size($font-size-13);
	}
}

.election-Seats {
	background-color: #494949;
	color: #ffffff;
	padding: 5px 15px 5px 15px;
	margin-top: 2px;
	min-height: 38px;
	@include breakpoint($break-700) {
		@include font-size($font-size-13);
	}
}

.party-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		background-color: $color-gray-1;
		@include transition(background-color 0.1s linear);
		margin-bottom: 1px;
		&:last-child {
			margin-bottom: 0px;
		}
		&:nth-child(even) {
			background-color: $color-gray-2;
		}
		&:hover {
			background-color: $color-gray-3;
		}
	}
}

.vote-side {
	width: 380px;
	float: right;
	background-color: transparent;
	padding-bottom: 20px;
	@include breakpoint($mobile) {
		padding-top: 20px;
		float: left;
	}
}