/* 	==========================================================================
   	Weather modules
   	========================================================================== */

.daily-weather-icons {
	background-color: $color-dark-blue-4;
	padding: 0px 20px 40px;
	margin-top: -40px;
}

.daily-weather-icons h2 {
    @include font-size($font-size-24);
    color: $color-white;
	padding-bottom: 20px 20px 0px;
}

.srch-weather-wrap {
	margin-top: -40px;
	background-color: $color-dark-blue-4;
	padding-bottom: 20px;
	@include cf();
	@include breakpoint($mobile) {
		margin-top: 0px;
	}
}

.srch-weather {
	width: calc(95%);
	@include breakpoint($mobile) {
		width: 100%;	
	}
}

.srchSel-wrap {
	margin-top: 30px;
	display: inline-block;
	width: 200px;
}

.srchSel {
	display: inline-block;
	width: 80%;
}

/* Weather Cam CSS */
.wCamImage {
	position: relative;
	float: left;
	/* optional */ border: 0px solid red;
	width: 470px;
	height: 276px;
	overflow: hidden;
}

.wCamImage img {
	position: absolute; top: -60px;
}

.wCamImage .wCamImageText {
	position: absolute;
	top: 245px;
	/* in conjunction with left property, decides the text position */ left: 0px;
	width: 470px;
	/* optional, though better have one */ height: 30px;
	font-size: 1.0em;
	text-align: center;
	color: #000000;
	background-color: #fff;
	padding-top: 0px;
	/* for IE */ filter: alpha(opacity=30);
	/* CSS3 standard */ opacity: 0.3;
}

.wCamImage .wCamImageText p.dateText {
	font-size: 1.0em;
	font-weight: bold;
	font-style: normal;
	text-align: center!important;
	color: #000000;
	margin-top: 7px;
}

#weather-summary {
    font-size: 0; /* Note 1*/
    position: relative;
    //margin-top: 80px;
}

h1.weather-summary {
    font-size: 12pt!important;
    color: #009bcd!important;
    border: 0px!important;
    margin: 0px!important;
    padding-top: 100px;
	@include breakpoint($mobile) {
    	padding-top: 70px;
	}
}

.weather-day {
    float: left;
    position: relative;
    font-size: 0; /* Note 1*/
    max-width: 138px;
    height: 180px;
    margin-left: 10px;
    background-color: #367b97;
    color: #ffffff;
	@include col(1/4, $gutter:1.1);
	@include breakpoint($break-650) {
		@include col(2);
    	margin-bottom: 10px;
	}
	@include breakpoint($break-400) {
		@include col(1);
    	margin-bottom: 10px;
	}
}

.weather-day.first {
    background-color: #7dc4e2;
    color: #ffffff;
}

.weather-day.second {
    background-color: #367b97;
    color: #ffffff;
}

.weather-day.third {
    background-color: #266884;
    color: #ffffff;
}

.weather-day.fourth {
    background-color: #15516b;
    color: #ffffff;
}

.weather-day .dploading {
    margin-left: 32px;
    width: 64px;
    height: 64px;
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/weather-icons/loader_trans_1.gif'); //LIVE
    background-repeat: no-repeat;
    background-position: center;
}

.weather-day.first .dploading {
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/weather-icons/loader_trans_1.gif'); //LIVE
    background-repeat: no-repeat;
    background-position: center;
}

.weather-day .day-title {
    padding: 5px 5px 12px 7px;
    font-size: 12pt;
}

.weather-day .day-summary {
    display: inline-block;
    zoom: 1; 
    *display: inline;
    margin: 0px auto;
    margin-left: 30px;
    margin-top: -2px;
    width: 100%;
}

.weather-day .temp-low {
    display: inline-block;
    zoom: 1; 
    *display: inline;
    width: 65px;
    font-size: 15pt;
    padding-top: 10px;
    padding-left: 7px;
}

.weather-day .temp-high {
    display: inline-block;
    zoom: 1; 
    *display: inline;
    width: 65px;
    color: #ffffff;
    font-size: 15pt;
    padding-top: 10px;
    padding-left: 7px;
}

.weather-day.first .temp-high {
    color: #ffffff;
}

.searchText {
    color: #ffffff;
    @include font-size($font-size-15);
}

.highTempLabel {
    color: $color-dark-blue-4;
    @include font-size($font-size-15);
}

.lowTempLabel {
    color: $color-dark-blue-4;
    @include font-size($font-size-15);
}

.weather-day div {
    border: 0px solid blue;
}
/* 
END: CSS for the 'Weather Day Summaries' 

START: CSS for the 'Weather City/Area Search' 
*/
#dpSrch_container {
    position: relative;
    float: left;
    //z-index: 98; 
    margin-top: 30px;
	@include breakpoint($mobile) {
    	margin-top: 0px;
	}
}

#dpSrch_container h1 {
    text-align: right;
    text-decoration: none;
    font-size: 0.95em;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    text-transform: none;
    border: 0px;
    line-height: 14px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
}

#wSrchTxt {
    position: relative;
    width: 218px;
    height: 20px;
    background-color: #000;
    border: 1px solid #838383;
    color: #fff;
    padding: 0px 5px;
    margin-right: 20px;
    font-size: 0.95em;
    font-family: 'tg4regular', Verdana, Arial, sans-serif;
}

#wSrchList {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 222px;
    height: auto;
    display: none;
    vertical-align: baseline;
    background-color: #fff;
    border: 1px solid #000;
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/droplist_gradient.png'); //LIVE
    background-repeat: repeat-x;
    background-position: bottom; 
    font-family: 'tg4regular', Verdana, Arial, sans-serif;
    padding: 1px 3px;
    text-align: left;
    z-index: 99;
    line-height: 22px;
    color: #000;
    font-size: 0.8em;
}

#wSrchDtls {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 222px;
    height: auto;
    /**/
    display: none;
    
    vertical-align: baseline;
    background-color: #fff;
    border: 1px solid #000;
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/droplist_gradient.png'); //LIVE
    background-repeat: repeat-x;
    background-position: bottom; 
    font-family: 'tg4regular', Verdana, Arial, sans-serif;
    padding: 1px 3px;
    text-align: left;
    z-index: 99;
    line-height: 22px;
    color: #000;
    font-size: 0.8em;
}

#wSrchDtlsIcon {
    float: right;
    width: 22px;
    height: 22px;
    background-color: #6f8fa4;
    text-align: center;
    //font-weight: bold;
    font-family: 'tg4regular', Verdana, Arial, sans-serif;
    color: #fff!important;
    border: 1px solid #3e8eb4;
    font-size: 1.1em;
    margin-top: 1px;
}

#wSrchList div {
    cursor: pointer;
}

.dp_mouseover {
    text-decoration: underline;
    color: #009bcd;
}
/* END: CSS for the 'Weather City/Area Search' 

START: CSS for the 'Weather Map Container elements'
Note 1: 
 - Additional styles directly relating to the 'slider' are contained in the file [jquery.ui.labeledslider.css]
*/
#wmap_header {
	height: 30px;
	//padding-left: 15px;
	margin: 0;
	position: relative;
}

#wmap_header ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 590px;
	bottom: 0px;
	@include breakpoint($break-650) {
		width: 100%;
	}
}

#wmap_header li {
	display: block;
	position: relative;
	float: left;
	border: 0px solid;
	margin: 0 0 0 1px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-size: 10pt;
	width: 24.86%;
	//width: 110.1pt;
	height: 30px;
	background-color: $color-dark-blue-4;
    cursor: pointer;
	/*visibility: hidden;*/
	@include breakpoint($break-650) {
		width: 24.72%;
		font-size: 8pt;
		padding-left: 4px;
	}
}

#wmap_header li div.wmap-ldr-sml { /* [ wmap-ldr-sml ] defined in [ ....aimsir.css ] */
    margin-top: 2px;
}

#wmap_header li.first {
	margin-left: 0px;
	/*background-color: red;*/
}

#wmap_header li.last {
	float: right;
}

#wmap_header li a {
	padding: 0 0px;
	text-decoration: none;
	color: #fff;
}

#wmap_header li a:hover {
	padding: 0 0px;
	text-decoration: none;
	color: #84cde9!important;
}

#wmap_header li.selected a:hover {
	padding: 0 0px;
	text-decoration: none;
	color: #cccccc!important;
}

#wmap_header li.selected {
	padding-bottom: 0px;
	background-color: white;
	z-index: 1;
	background-color: $color-brand-1;
	border-bottom: 0px solid $color-brand-1;
}

/* small loader image for 'slider' tabs & for 'weather days' */
.wmap-ldr-sml {
    display: inline;
    position: absolute;
    right: 4px;
    width: 15px;
    height: 15px;
}

#wmap_header li .wmap-ldr-sml {
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/wMap/loader15x15C_838383.gif'); //LIVE
    background-repeat: no-repeat;
    background-position: center; 
}

#wmap_header li.selected .wmap-ldr-sml {
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/wMap/loader15x15C_383838.gif'); //LIVE
    background-repeat: no-repeat;
    background-position: center; 
}

#wmap_content {
	border: 0px solid;
	height: 415px;
	max-width: 590px;
	//padding: 1px;
	background-color: $color-dark-blue-4;
    margin-bottom: 10px;
}

.wmap-wrapper {
   	//margin: auto;
   	position: relative;
   	//width: 590px;
   	height: 336px;
   	//margin-top: 5px;
   	margin-bottom: 30px;
	background-color: $color-brand-1;
   	z-index: 0;
}

#wmap-image {
	text-align: center;
	height: 100%;
}

#wmap-image img {
	text-align: center;
	width: auto;
	height: 100%;
	sizingMethod: scale;
	-ms-interpolation-mode: bicubic;
}

#wmap-tag {
	position: absolute;
	bottom: 5px;
	right: 10px;
	height: 18px;
	width: 250px;
	border: 1px solid #cdcdcd;
	background-color: #efefef;
	display: inline-block; 
	padding: 1px 5px;
	text-align: right;
	font-size: 14px;
}

#wmap-loader {
	z-index: 30;
    position: absolute;
	top: 0px;
	background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/wMap/loader80x80C_383838.gif'); //LIVE
	background-repeat: no-repeat;
	background-position: center; 
	width: 100%; 
	height: 336px; /* must match height defined in [ .wmap-wrapper ] */
}

#wmap-noinfo {
	z-index: 30;
	position: absolute;
	top: 0px;
	font-size: 1em;
	font-family: 'tg4regular', Verdana, Arial, sans-serif;
	padding-top: 50px;   
	width: 100%; 
	height: 336px; /* must match height defined in [ .wmap-wrapper ] */
	display: none;
	text-align: center;
}

#wmap-slider-stuff {
	position: relative;
	margin-top: 7px;
}

.wmap-slider-box {
	float: right;
	position: relative;
	display: none;
	margin-right: 10px;
}

#wmap-slider-text {
	float: left;
	margin-top: 0px;
	background-color: $color-dark-blue-4;
	width: 125px;
	height: 50px;
	font-size: 10pt;
	color: #fff;
	padding-left: 10px;
	padding-top: 4px;
	display: none;
}

.wmap-slider0, .wmap-slider0 a, .wmap-slider1, .wmap-slider1 a, .wmap-slider2, .wmap-slider2 a, .wmap-slider3, .wmap-slider3 a {
	cursor: pointer;
}

/* the nav buttons for the slider
* displayed when slider images are loaded
*/
#wmap-button-holder {
    position: relative;
    float: right;
    width: 38px;
    height: 50px;
    padding-left: 6px;
    display: block;
}

.wmap-button {
    float: right;
    width: 15px;
    height: 50px;
    background-color: #838383;
    margin-top: 8px;
    display: none;
}

.wmap-button-hover {
    background-color: #009bcd;
    cursor: pointer;
}

#wmap-prev {
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/wMap/Over_Back_Arrows-left.png'); //LIVE
    background-repeat: no-repeat;
    background-position: center; 
    margin-right: 2px;
}

#wmap-next {
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/wMap/Over_Back_Arrows-right.png'); //LIVE
    background-repeat: no-repeat;
    background-position: center; 
}
/* END: CSS for the 'Weather Map Container Elements' 

START: CSS for the 'Weather Map Slider Elements' 

 * Copyright (c) 2012 Ben Olson
 *
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following
 * conditions: 
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * This script has been further developed by Adrian O Cualain on behalf of TG4
 */

.ui-slider-wrapper {
	position: relative;
	width: 360px;
	float: right;
	margin-right: 20px;
	border: 0px solid black;
	z-index: 10;
	@include breakpoint($break-600) {
		width: 250px;
	}
	@include breakpoint($break-500) {
		width: 160px;
	}
	@include breakpoint($break-400) {
		display: none;
	}
}

.ui-slider-wrapper .ui-slider-horizontal {
	width: 100%;
	cursor: pointer;
}

.ui-slider-label-ticks {
	border: 1px solid transparent;
	position: absolute;
	text-align: center;
	white-space: nowrap;
	font-size: 0.9em;
}

.ui-slider-labels {
	position: absolute;
	border: 1px solid transparent;
}

.ui-slider-wrapper.horizontal {
	height: 3.5em;
}

.horizontal .ui-slider-labels {
	top: 11px;
	margin-top: -0.35em;
	left: 0.05em;
	width: 100%;
	font-size: 11pt;
}

.horizontal .ui-slider-label-ticks {
	width: 1.2em;
	margin-left: -.7em;
	color: #fff;
}

/*override ticks/labels*/
.horizontal .ui-slider-label-ticks span.notick {
	display: inline-block;
	border-left: 0px solid #fff;
	height: 16px;
	z-index: 0;
}

.horizontal .ui-slider-label-ticks span.nolabel {
	display: inline-block;
	border-left: 2px solid #fff;
	height: 16px;
	z-index: 0;
}

.horizontal .ui-slider-label-ticks span.label {
	display: inline-block;
	border-left: 5px solid #fff;
	height: 24px;
	z-index: 0;
	margin-bottom: 3px;
}

.label-topfill {
	display: block;
	position: absolute;
	top: 0px;
	height: 5px;
	width: 8px;
	background-color: #838383;
	left: 4px;
}

.ui-slider-wrapper.vertical {
	width: 4.5em;
	border: 1px solid black;
}

.vertical .ui-slider-labels {
	left: 0.7em;
	top: 0.4em;
	margin-left: -0.15em;
	height: 100%;
}

.vertical .ui-slider-label-ticks {
	height: 1.2em;
	margin-top: -.6em;
	color: #838383;
}

.vertical .ui-slider-label-ticks span {
	display: inline-block;
	border-top: 1px solid #999;
	width: 0.7em;
	margin-bottom: 0.15em;
}

/* inactive ticks*/
.horizontal .ui-slider-label-ticks span.nolabel.inactive {
	border-left: 2px solid rgb(175,175,175);
}

.horizontal .ui-slider-label-ticks span.label.inactive {
	border-left: 4px solid rgb(175,175,175);
}

/*override default pointer icon*/
.ui-widget-content {
	padding-bottom: 20px;
	border: 0px;
	position: relative;
	top: 8px;
	border-top: 3px solid #ffffff/* {borderColorContent}*/;
	color: #222222/* {fcContent}*/;
	background: transparent;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default  {
	cursor: pointer;
	background: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/wMap/Slider.png') no-repeat scroll 50% 50%; //LIVE
	background-size: 20px 20px;
	border: 0px;
	top: -14px;
}

.ui-widget {
    font-family: 'tg4regular', Verdana, Arial, sans-serif;
    font-size: 10pt;
}

/*override slider Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	-moz-border-radius-topleft: 0px/* {cornerRadius}*/;
	-webkit-border-top-left-radius: 0px/* {cornerRadius}*/;
	-khtml-border-top-left-radius: 0px/* {cornerRadius}*/;
	border-top-left-radius: 0px/* {cornerRadius}*/;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	-moz-border-radius-topright: 0px/* {cornerRadius}*/;
	-webkit-border-top-right-radius: 0px/* {cornerRadius}*/;
	-khtml-border-top-right-radius: 0px/* {cornerRadius}*/;
	border-top-right-radius: 0px/* {cornerRadius}*/;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	-moz-border-radius-bottomleft: 0px/* {cornerRadius}*/;
	-webkit-border-bottom-left-radius: 0px/* {cornerRadius}*/;
	-khtml-border-bottom-left-radius: 0px/* {cornerRadius}*/;
	border-bottom-left-radius: 0px/* {cornerRadius}*/;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	-moz-border-radius-bottomright: 0px/* {cornerRadius}*/;
	-webkit-border-bottom-right-radius: 0px/* {cornerRadius}*/;
	-khtml-border-bottom-right-radius: 0px/* {cornerRadius}*/;
	border-bottom-right-radius: 0px/* {cornerRadius}*/;
}

/* END: CSS for the 'Weather Map Slider Elements'  */

.wmap-slider0, .wmap-slider0 a, .wmap-slider1, .wmap-slider1 a, .wmap-slider2, .wmap-slider2 a, .wmap-slider3, .wmap-slider3 a {
	cursor: pointer;
}

/* START: CSS for link bar on Aimsir homepage */

#aimsir-link {
    width: 600px;
    position: relative;
    background-color: #838383;
    padding: 5px;margin-bottom: 10px;
}

#aimsir-link1 {
	float: left;
	width: 50px;
	height: 25px;
	background: url('https://d1og0s8nlbd0hm.cloudfront.net/images/aimsir/Icon1-Cliceail-anseo.png'); //LIVE
	background-repeat: no-repeat;
	margin-left: 10px;
}

#aimsir-link2 {
	float: left;
	width: 480px;
	height: 25px;
	color: #fff;
	font-size: 14pt;
	padding-top: 3px;
	font-weight: normal;
	text-align: center;
}

#aimsir-link3 {
	float: right;
	width: 25px;
	height: 25px;
	background: url('https://d1og0s8nlbd0hm.cloudfront.net/images/aimsir/Icon2-Cliceail-anseo.png'); //LIVE
	background-repeat: no-repeat;
	margin-right: 10px;
}

#aimsir-link2 a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#aimsir-link2 a:hover {
	color: #84cde9!important;
	text-decoration: none;
}

.weather-camera {
	margin: 0;
	position: absolute;
	z-index: 1;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	color: white;
	min-height: 40px;
	//width: 295px;
	padding: 7px 20px;
	@include font-size($font-size-18);
	.online-panel:hover & {
		background-color: $color-brand-1-hover;
	}
}

/* END: CSS for link bar on Aimsir homepage */

#focail_menu {
	width:100%; 
	position:relative;
	z-index:100;
	float:left;
	margin-bottom:20px;
	background-color:#073448;
}

#focail_menu ul {
	padding:0; 
	margin:0;
	list-style-type:none;
}

#focail_menu ul li {
	float:left;
	position:relative;
}

#focail_menu ul li a {
	display:block; 
	text-decoration:none;
	height:35px;
	color:#fff; 
	border-left:0px solid #ffffff; 
	border-right:1px solid #ffffff; 
	border-bottom:0px solid #ffffff; 
	background:#073448; 
	padding-left:15px; 
	padding-right:15px;
	padding-bottom:10px;
	line-height:35px;
	text-align:left;
}

* html #focail_menu ul li a {
	width:auto;
}

#focail_menu ul li ul {
	display:none;
}

table {
	margin:-1px; 
	border-collapse:collapse;
	font-size:1em;
}

/* specific to non IE browsers */
#focail_menu ul li:hover a,
#focail_menu ul li a:hover {
    text-decoration:none;
    color: #84cde9!important;
}



#focail_menu ul li a.navHere {
	background-color:#3e8eb4;
}

#focail_menu ul li.navHere a {
	background:#3e8eb4; 
}

#focail_menu ul li.last.active a {
	background:#3e8eb4; 
}


#focail_menu ul li.navHere:hover a,
#focail_menu ul li a.navHere:hover {
    text-decoration:none;
    color: #009bcd!important;
}
 /* END: CSS for Main Menu 
 
START: CSS for Sub Menus  */
 
.focail_submenu {
	position:relative;
	z-index:100;
	width:100%;
	float:left;
	margin-bottom:0px;
	background-color: #073448;
}

.focail_submenu ul {
	padding:0; 
	margin:0;
	list-style-type:none;
}

.focail_submenu ul li {
	float:left;
	position:relative;
}

.focail_submenu ul li a {
	display:block; 
	text-decoration:none;
	color:#fff; 
	border-left:0px solid #ffffff; 
	border-right:1px solid #ffffff; 
	border-bottom:0px solid #ffffff; 
	background:#073448; 
	padding-left:20px; 
	padding-right:20px;
	padding-bottom:0px;
	line-height:32px;
	text-align:left;
}

* html .focail_submenu ul li a {
	width:auto;
}

.focail_submenu ul li ul {
	display:none;
}


.focail_submenu ul li:hover a,
.focail_submenu ul li a:hover {
    /*    
    color:#fff; 
    background:#383838;
    */
    text-decoration:none;
    color: #84cde9!important;
}

.focail_submenu ul li a.navHere {
	background-color:#3e8eb4;
}

.focail_submenu ul li.navHere a {
	background:#3e8eb4; 
}

.focail_submenu ul li.last.active a {
	background:#3e8eb4; 
}

.focail_submenu ul li.navHere:hover a,
.focail_submenu ul li a.navHere:hover {
    text-decoration:none;
    color: #009bcd!important;
}

 /* END: CSS for Sub Menus 
 
START: CSS for other elements  */
.focail_box{
	margin-bottom: 10px;
}

.focail_dtls{
	clear:both;
	background-color:#3e8eb4;  
	padding-top:20px;
	padding-bottom:20px;
}

.audio_img {
    float:left;
    width: 110px;
    height:150px;
    border:0px solid red;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    text-align:center;
    text-decoration:none!important;
}

.audio_img .img{
    height:95px;
}

.audio_img .img img {vertical-align: middle; }

.audio_img .audio, .audio_img .audio_play, .audio_img .audio_stop {
    margin-top:3px;
}

.audio_img a, .audio_img a:visited, .audio_img a:link {
    color:#fff;
    text-decoration: none!important;
}

.audio_img a .txt_ie, .audio_img a:link .txt_ie, .audio_img  a:visited .txt_ie {
    color:#fff;
    text-decoration: none!important;
}

.audio_img  a:hover .txt_ie {
    text-decoration:none;
    color: #009bcd!important;
}

.audio_img a .txt_en, .audio_img a:hover .txt_en, .audio_img a:visited .txt_en {
    color:#073448;
    text-decoration: none!important;
}

/* [.audio_img2] icon & text 1/2 width*/
.audio_img2 {
    float:left;
    width:280px;
    margin-left:20px;
    margin-bottom:8px;
    border:0px solid red;
    
}

.audio_img2 .audio_play, .audio_img2 .audio_stop {
    float:left;
    width: 25px;
}

.audio_img2 .txt_ie {
    float:left;
    width: 255px;
}

.audio_img2 a, .audio_img2 a:visited, .audio_img2 a:link {
    color:#fff;
    text-decoration: none!important;
}

.audio_img2 a .txt_ie, .audio_img2 a:link .txt_ie, .audio_img2 a:visited .txt_ie {
    color:#fff;
    text-decoration: none!important;
}

.audio_img2  a:hover .txt_ie {
    text-decoration:none;
    color: #009bcd!important;
}

/* [.audio_img3] icon & text full width*/
.audio_img3 {
    position:relative;
    display:inline-block;
    margin-bottom:8px;
    margin-right:10px;
    border:0px solid red;
}

.audio_img3 .audio_play, .audio_img3 .audio_stop {
    margin-left:20px!important;
    float:left;
    width: 25px;
}

.audio_img3 .txt_ie{
    float:left;
    width: 480px;
	@include breakpoint($break-600) {
    	//width: 300px;
		@include font-size($font-small);
		margin-left: 20px;
	}
	@include breakpoint($break-450) {
    	width: 250px;
		@include font-size($font-small);
	}
}


.audio_img3 a, .audio_img3 a:visited, .audio_img3 a:link {
    color:#fff;
    text-decoration: none!important;
}

.audio_img3 a .txt_ie, .audio_img3 a:link .txt_ie, .audio_img3 a:visited .txt_ie {
    color:#fff;
    text-decoration: none!important;
}

.audio_img3  a:hover .txt_ie {
    text-decoration:none;
    color: #009bcd!important;
}

/* CSS for Seanfhocail slider

overwrites some styles in [jquery.ui.css] and in [aimsir.css]*/

.jp-gui {
    margin-left:20px!important;
    border:0px solid red;
	position:relative;
	padding:5px;
	width:550px;
}

.jp-gui ul {
	margin:0;
	padding:0;
}

.jp-gui ul li {
	position:relative;
	float:left;
	list-style:none;
	margin-right:3px;
    margin-top:3px;
	padding:0px 0;
	cursor:pointer;
    height:14px;
}

.jp-gui ul li a {
	margin:0 0px;
}

li.jp-pause,
.jp-no-solution {
	display:none;
}

.jp-progress-slider {
	position:absolute;
	top:13px;
	left:85px;
	width:300px;
}

.jp-progress-slider .ui-slider-handle {
	cursor:pointer;
}

.jp-current-time,
.jp-duration {
	position:absolute;
	top:0px;
	font-size:11px;
    font-weight:bold;
	cursor:default;
    color:#383838;
}

.jp-current-time {
	left:43px;
	top:10px;
}

.jp-duration {
	left:395px;
	top:10px;
}

.jp-clearboth {
	clear:both;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #383838; text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
    border: 0px; 
    background: #3e8eb4; 
    font-weight: normal; color: #212121;
}

.ui-state-hover a, .ui-state-hover a:hover { color: #383838; text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
    border: 0px ; background: #ffffff; font-weight: normal; color: #383838;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #383838; text-decoration: none; }

.ui-slider .ui-slider-handle {
    width: 14px;
    height: 14px;
    margin-top: 0px; 
	margin-left: -1.4em;
}

.ui-widget-header {
    //background: #383838; 
}

.ui-widget .ui-widget {
	font-size: 5px;
	cursor: pointer;
}

ui-widget-content {
	padding-bottom: 20px;
	border: 0px;
	position: relative;
	top: 8px;
	border-top: 5px solid #838383;
	color: #222222;
	background: transparent;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    cursor: pointer;
    background: url('https://d1og0s8nlbd0hm.cloudfront.net/images/Aimsir/focail-aimsire/audio-slider.png') no-repeat scroll 50% 50%;
    background-size: 14px 14px;
    border: 0px;
    top: -10px;
}

.ui-slider-wrapper.horizontal { height:1.5em; cursor:pointer; }

.ui-slider-horizontal .ui-slider-range { height:5px; cursor:pointer; }

.focail_button {
    background-color:#3e8eb4;
    cursor:pointer;
}

.focail_button_hover {
    background-color:#009bcd;
    cursor:pointer;
}