/* ==========================================================================
   Banner Ads
   ========================================================================== */

.header-banner {
   width: 728px;
   height: 90px;
   margin: 0 auto;
   padding-top: 4px;
   @include breakpoint($break-1150) {
      position: absolute;
      top: 4px;
      right: 5px;
      padding: 0;
   }
   @include breakpoint($mobile) {
      display: none;
   }
}

// general container for the MPU ad space
.mod-ad {
   background-color: rgba(white, 0.3);
   text-align: center;
   //padding-top: 2px;
   //margin-top: 8px;
   .mod-ad-title {
      @include font-size($font-small);
      color: $color-brand-1;
      margin-bottom: 18px;
      text-transform: uppercase;
   }
   .ad-wrapper {
      margin: 0 auto;
      width: 300px;
      height: 250px;
   }
}

// general container for the MPU Disclaimer on TG4 Archive
.mod-disc {
   background-color: rgba($color-pale-blue-2, 0.7);
   //padding-top: 2px;
   //margin-top: 8px;
   .mod-disc-title {
      @include font-size($font-size-24);
      text-align: center;
      color: $color-brand-1;
      margin-bottom: 18px;
      text-transform: uppercase;
   }
   .disc-wrapper {
      /* margin: 0 auto; */
      @include font-size($font-size-14);
      width: 330px;
      height: 270px;
      margin-left: 15px;
   }
}

// general container for the MPU ad space
.mod-ad-dark {
   background-color: rgba(black, 0.3);
   text-align: center;
   .mod-ad-title {
      @include font-size($font-small);
      color: $color-brand-1;
      margin-bottom: 18px;
      text-transform: uppercase;
   }
   .ad-wrapper {
      margin: 0 auto;
      width: 300px;
      height: 250px;
   }
}