/******************************
*
*  RoyalSlider White Controls Skin
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-minimal-white.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/
/* Background */

.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
    //background: #000;
    color: #FFF;
}

/***************
*
*  Variables
*
****************/

$btn-height: 70px;
$btn-margin: 10px;
$edge-margin: 40px;

$btn-height-small: 40px;
$btn-margin-small: 5px;
$edge-margin-small: 5px;

/***************
*
*  1. Arrows
*
****************/

.rsMinW .rsArrow {
    height: $btn-height;
    width: $btn-height;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 21;
    background-color: $color-brand-1;
    @include transition(background-color 0.1s linear);
    margin-left: 5px;    
    @include breakpoint($mobile) {
		height: $btn-height-small;
    	width: $btn-height-small;
    }
    @include breakpoint($desktop) {
	    &:hover, &:focus {
	    	background-color: white;
	    	&.rsArrowLeft .rsArrowIcn {
				background-position: -109px -37px;
	    	}
	    	&.rsArrowRight .rsArrowIcn {
				background-position: -145px -37px;
	    	}
	    }
	    // &:active {
	    // 	background-color: $color-brand-1;
	    // }
	}
}

.rsMinW .rsArrowLeft {
    right: $btn-height + $edge-margin + $btn-margin;
    bottom: $edge-margin;
    @include breakpoint($mobile) {
		right: $btn-height-small + $edge-margin-small + $btn-margin-small;
    	bottom: $edge-margin-small;
    }
}

.rsMinW .rsArrowRight {
    right: $edge-margin;
    bottom: $edge-margin;
    @include breakpoint($mobile) {
		right: $edge-margin-small;
    	bottom: $edge-margin-small;
    }
}

.rsMinW .rsArrowIcn {
    width: 12px;
    height: 24px;
    position: absolute;
    top: 24px;
    @include breakpoint($mobile) {
		top: 9px;
     }
    cursor: pointer;
    @extend %sprite-2x;
    border-radius: 2px;
}

.rsMinW .rsArrowIcn:hover {}

.rsMinW.rsHor .rsArrowLeft .rsArrowIcn {
    background-position: -43px -38px;
    left: 27px;
     @include breakpoint($mobile) {
		left: 13px;
     }
}

.rsMinW.rsHor .rsArrowRight .rsArrowIcn {
    background-position: -79px -38px;
    right: 27px;
    @include breakpoint($mobile) {
		right: 13px;
     }
}
/*
.rsMinW.rsVer .rsArrowLeft .rsArrowIcn {
    background-position: -100px -36px;
}

.rsMinW.rsVer .rsArrowRight .rsArrowIcn {
    background-position: -100px -68px;
}
*/

.rsMinW .rsArrowDisabled .rsArrowIcn {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    *display: none;
}

/***************
*
*  2. Bullets
*
****************/

.rsMinW .rsBullets {
    position: absolute;
    bottom: $edge-margin;
    right: 2 * $btn-height + $edge-margin + 2 * $btn-margin;
    z-index: 35;
    padding-top: 4px;
    height: auto;
    text-align: center;
    line-height: 6px;
    overflow: hidden;
    @include breakpoint($mobile) {
		bottom: $edge-margin-small;
    	right: 2 * $btn-height-small + $edge-margin-small + 2 * $btn-margin-small;
    }
}

.rsMinW .rsBullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    //padding: 6px 5px 6px 4px;
    padding: 0;
    margin-right: 4px;
}

.rsMinW .rsBullet span {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #CCC;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.rsMinW .rsBullet.rsNavSelected span {
    background: #FFF;
}
/***************
*
*  3. Thumbnails
*
****************/
/***************
*
*  4. Tabs
*
****************/
/***************
*
*  5. Fullscreen button
*
****************/
/***************
*
*  6. Play/close video button
*
****************/
/***************
*
*  7. Preloader
*
****************/

.rsMinW .rsPreloader {
    width: 32px;
    height: 32px;
    background-image: url('https://d1og0s8nlbd0hm.cloudfront.net/images/preloader.gif');
    background-size: 32px 32px;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}
/***************
*
*  8. Global caption
*
****************/