/* 	==========================================================================
   	featured videos - TG4 Player module
   	========================================================================== */

.featvp-section, .featsp-section, .featdoc-section { 
	@include breakpoint($mobile) {
		padding-right: 10px;
		padding-left: 10px;
	}
	.title-tab-wrap {
		@include breakpoint($mobile) {
			padding: 0 10px;
		}
		
	}
}

.featvp-wrap, .featsp-wrap, .featdoc-wrap {
	@extend .center-panel;
	@include cf();
	margin-top: 25px;
	margin-bottom: 30px;
	@include breakpoint($mobile) {
		margin-top: 0px;
	}
	.prog-title {
		min-height: 35px;
		@include font-size($body-font-size);
		@include breakpoint($break-1100) {
			min-height: 48px;
			@include font-size($font-size-24);
		}
	}
}

// custom slick nav buttons

.featvp-prev, .featsp-prev, .featdoc-prev,
.featvp-next, .featsp-next, .featdoc-next, {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 0px;;
    display: block;
    width: 60px;
    height: 60px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: $color-dark-blue;
    @include transition(background-color 0.1s linear);
    user-select: none;
    z-index: 1;
}

.featvp-prev:hover, .featsp-prev:hover, .featdoc-prev:hover,
.featvp-prev:focus, .featsp-prev:focus, .featdoc-prev:focus,
.featvp-next:hover, .featsp-next:hover, .featdoc-next:hover,
.featvp-next:focus, .featsp-next:focus, .featdoc-next:focus {
    outline: none;
    background: black;
}

.featvp-prev:hover:before, .featsp-prev:hover:before, .featdoc-prev:hover:before,
.featvp-prev:focus:before, .featsp-prev:focus:before, .featdoc-prev:focus:before,
.featvp-next:hover:before, .featsp-next:hover:before, .featdoc-next:hover:before,
.featvp-next:focus:before, .featsp-next:focus:before, .featdoc-next:focus:before, {
    opacity: 1;
}

.featvp-prev.slick-disabled:before, .featsp-prev.slick-disabled:before, .featdoc-prev.slick-disabled:before,
.featvp-next.slick-disabled:before, .featsp-next.slick-disabled:before, .featdoc-next.slick-disabled:before {
    opacity: .25;
}

.featvp-prev:before, .featsp-prev:before, .featdoc-prev:before,
.featvp-next:before, .featsp-next:before, .featdoc-next:before {
    @extend %sprite-2x;
    position: absolute;
    content: '';
    width: 9px;
    height: 16px;
    top: 22px;
}

.featvp-prev, .featsp-prev, .featdoc-prev {
    left: 0px;
}

.featvp-prev:before, .featsp-prev:before, .featdoc-prev:before {
    left: 25px;
    background-position: -178px -42px;
}

.featvp-next, .featsp-next, .featdoc-next {
    right: 0px;
}

.featvp-next:before, .featsp-next:before, .featdoc-next:before {
    left: 29px;
    background-position: -214px -42px;
}

