/* ==========================================================================
   Homepage header royalslider
   ========================================================================== */

$min-slide-height: 520px;
$minifeat-slide-height: 360px;

.slider-wrapper {
    width: 100%;
    min-height: $min-slide-height;
    background-color: black;
    padding-bottom: 40.625%; // maintain aspect ratio
    position: relative;
}

.royalSlider > .rsContent {
   visibility: hidden; // hide FOUC
}

#full-width-slider {
    width: 100%;
    color: #000;
    position: absolute; // required for aspect ratio maintenance
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rsContent {
    float: left;
    position: relative;
    @include breakpoint($break-700) {
        .btn-header {
              padding: 0px 80px 0px 20px;
        }
    }
}

.blockContainer {
    position: absolute;
    left: 7%;
    margin-right: 7%;
    top: 17%;
    @include breakpoint($mobile) {
        top: 10%;
        left: 0;
    }
    
}

.rsABlock {
    position: relative;
    display: block;
    @include breakpoint($break-400) {
        display: none;
    }
}

.title-block {
    position: relative;
    color: #FFF;
    background: $color-brand-1;
    margin: 0;
    @include font-size($font-size-78);
    line-height: 1.0;
    float: left;
    padding: 10px 40px 20px;
    @include breakpoint($mobile) {
        @include font-size($font-size-36);
        padding-top: 15px;
    }
    @include breakpoint($break-700) {
        padding: 15px 20px;
    }
}

.content-block {
    position: relative;
    color: #FFF;
    background: #000;
    opacity: 0.75;
    max-width: 560px;
    clear: left;
    padding: 20px 40px 30px;
    @include breakpoint($break-700) {
        padding: 20px;
    }
}

.content-block-foghlaim {
    position: relative;
    color: #FFF;
    background: #000;
    opacity: 0.75;
    max-width: 560px;
    clear: left;
    padding: 10px 40px 10px;
    @include breakpoint($break-700) {
        padding: 20px;
    }
}

.press-block {
    position: relative;
    color: #FFF;
    background: $color-brand-1;
    opacity: 0.75;
    max-width: 560px;
    clear: left;
    padding: 20px 40px 30px;
    @include breakpoint($break-700) {
        padding: 20px;
    }
}

.content-subtitle {
    @include font-size($font-size-24);
    margin: 0 0 15px;
}

.rsActiveSlide {
    .title-block {
        //opacity: 0;
    }
    .content-block {
       // opacity: 0;
    }
}

.heroSlider .rsOverflow,
.royalSlider.heroSlider {
    min-height: $min-slide-height;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .royalSlider.heroSlider,
    .royalSlider.heroSlider .rsOverflow {
        height: 300px !important;
    }
    .infoBlock {
        padding: 10px;
        height: auto;
        max-height: 100%;
        min-width: 40%;
        left: 5px;
        top: 5px;
        right: auto;
        font-size: 12px;
    }
    .infoBlock h3 {
        font-size: 14px;
        line-height: 17px;
    }
}

.mini-slider-wrapper {
    width: 100%;
    //min-height: $minifeat-slide-height;
    //background-color: black;
    //padding-bottom: 40.625%; // maintain aspect ratio
    position: relative;
}

.mini-title-block {
    position: relative;
    color: #FFF;
    background: $color-brand-1;
    margin: 0;
    @include font-size($font-size-28);
    line-height: 1.0;
    float: left;
    padding: 10px 40px 20px;
    @include breakpoint($mobile) {
        @include font-size($font-size-15);
        padding-top: 15px;
    }
    @include breakpoint($break-700) {
        padding: 15px 20px;
    }
}

.mini-content-block {
    position: relative;
    color: #FFF;
    background: #000;
    max-width: 450px;
    clear: left;
    padding: 10px 40px 10px;
    @include breakpoint($break-700) {
        padding: 20px;
    }
}

.mini-content-subtitle {
    @include font-size($font-size-15);
    margin: 0 0 15px;
}