/* 	==========================================================================
   	Online now module
   	========================================================================== */

.online-section{ 
	@include breakpoint($mobile) {
		padding-bottom: 1px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.title-tab-wrap {
		@include breakpoint($mobile) {
			padding: 0 10px;
		}
	}
}

.online-wrap {
	@extend .center-panel;
	@include cf();
	margin-top: 25px;
	margin-bottom: 80px;
	// slick overrides
	.slick-prev,
	.slick-next {
		background: $color-dark-blue-2;
		bottom: -50px;
	}
	.slick-prev {
	    left: -10px;
	}
	.slick-next {
	    right: -10px;
	}
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus {
	    outline: none;
	    background: black;
	}
	@include breakpoint($mobile) {
		margin-top: 0;
	}
}


.online-cula, .online-playlist {
	.online-logo {
		background-color: black;
	}
}

.online-cula{
	.online-logo {
		padding: 5px 20px 0;
	}
}

.online-playlist {
	.online-logo {
		padding: 4px 20px 0;
	}
}

// panel logos

.online-logo {
	float: left;
	height: 42px;
	margin-bottom: 15px;
}

.online-tg4-logo {
	width: 115px;
	height: 42px;
}

.online-cula-logo {
	width: 73px;
	height: 33px;
}

.online-logo-playlist {
	position: relative;
	padding-left: 30px;
	@include font-size($font-size-21);
	&:before {
		@extend %icon-playlist;
		position: absolute;
		top: 7px;
		left: 0px;
	}
}

