/* 	==========================================================================
   	Common program panels
   	========================================================================== */

.prog-module {
	margin: 0 10px 20px;
	float: left;
	.tonight-live {
		float: left;
	}
}

.prog-slide-wrap {
	margin: 0 auto;
	max-width: 378px;
	//min-width: 280px;
}

// main panel

.prog-panel {
	display: block;
	clear: both;
	position: relative;
}

.prog-title {
	margin: 0;
	position: absolute;
	z-index: 1;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	color: white;
	min-height: 48px;
	padding: 7px 20px;
	@include font-size($font-size-24);
	.online-panel:hover & {
		background-color: $color-brand-1-hover;
	}
}

.prog-footer {
	position: relative;
	background-color: black;
	@include transition(background-color 0.1s linear);
	color: white;
	min-height: 60px;
	padding: 8px 105px 8px 15px;
	@include font-size($font-small);
	text-transform: uppercase;
	&.ireland-only:after {
		position: absolute;
		top: 31px;
		right: 74px;
	}
	&.no-player:after {
		position: absolute;
		top: 31px;
		right: 74px;
	}
	.prog-panel:hover & {
		background-color: $color-brand-1-hover;
	}
}

.prog-episode-title {
	margin: 0;
	@include font-size($font-small);
	text-transform: uppercase;
	margin-bottom: 3px;
	span {
		//text-transform: initial;
		color: $color-brand-1;
		margin-left: 5px;
		.prog-panel:hover & {
			color: white;
		}
	}
}

.prog-season, .prog-episode {
	display: inline-block;
	background-color: $color-brand-2;
	@include transition(background-color 0.1s linear);
	padding: 0 4px;
	.prog-panel:hover & {
		background-color: black;
	}
}

.prog-panel .arrow-box {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	&:after {
		@extend %arrow-right;
		//@extend %arrowlrg-right;
		position: absolute;
		top: calc( 50% - 8px);
  		left: calc( 50% - 3px);
	}
}

.prog-panel .btn-nl-playbox {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	&:after {
		content: '';
		@extend %icon-player;
		position: absolute;
		top: calc( 50% - 16px);
  		left: calc( 50% - 14px);
	}
}

.prog-panel:hover {
	.arrow-box, .btn-nl-playbox {
		background-color: black;
	}
}

.prog-desc {
	margin: 10px;
	@include font-size($font-size-12);
	margin-bottom: 3px;
	@include breakpoint($break-1024) {
	    display: none;
	}
}

.prog-infobar {
	position: relative;
	background-color: $color-brand-2;
	padding: 0px;
	@include transition(background-color 0.1s linear);
	color: white;
	@include font-size($font-size-11);
	//text-transform: uppercase;
}

.prog-firstshow, .prog-daysleft, .prog-dur {
	display: inline-block;
	background-color: $color-brand-2;
	@include transition(background-color 0.1s linear);
	padding: 0 10px;
	border-right: 1px solid $color-pale-blue-2;
}