/* 	==========================================================================
   	Schedule Highlights
   	========================================================================== */

.sched-highlights {
	background-color: $color-dark-blue-2;
	padding: 30px 0 80px;
}

.sched-highlights-player {
	margin-top: -40px;
	background-color: $color-dark-blue-2;
	padding: 30px 0 80px;
}

.high-slider {
	@include cf();
	padding: 0 20px;
	.slick-dots {
		right: 0;
		left: 0;
	}
	@include breakpoint($break-800) {
		padding: 0;
	}
}

.high-ad {
	margin: 0 10px;
	.mod-ad {
		height: 327px;
		background-color: $color-pale-blue;
		margin: 0 auto;
		max-width: 582px;
	}
}

.high-module {
	float: left;
	margin: 0 10px;
}

.high-link {
	display: block;
	position: relative;
	max-width: 582px;
	margin: 0 auto;
	min-height: 327px;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
}

.high-details {
	position: absolute;
	top: 20px;
	left: 20px;
}

.high-title {
	margin: 0;
	@include font-size($font-size-30);
	color: white;
	background-color: $color-brand-1;
	@include transition(background-color 0.1s linear);
	padding: 10px 20px;
	min-height: 60px;
	margin-right: 20px;
	.high-link:hover &, .high-link:focus &  {
		background-color: $color-brand-1-hover;
	}
}

.high-date {
	background-color: black;
	color: white;
	min-height: 20px;
	padding: 10px 20px;
	@include font-size($font-small);
	float: left;
	margin: 0;
}

.btn-high {
	position: absolute;
	display: block;
	bottom: 20px;
	left: 20px;
	background-color: black;
	@include transition(background-color 0.1s linear);
	color: white;
	min-height: 40px;
	padding: 8px 60px 8px 20px;
	span {
		height: 40px;
		width: 40px;
		background-color: $color-brand-1;
		@include transition(background-color 0.1s linear);
		position: absolute;
		top: 0;
		right: 0;
		&:after {
			//@extend %icon-playlist;
			@extend %arrow-right;
			position: absolute;
			top: 12px;
			left: 17px;
		}
	}
	.high-link:hover &, .high-link:focus &   {
		background-color: $color-brand-1-hover;
		span {
			background-color: black;
		}
	}
}

.high-img {
	max-width: 100%;
	height: auto;
}

// slick arrows

.slick-next, .slick-prev {
	.high-slider & {
		background-color: black;
		@include transition(background-color 0.1s linear);
		&:hover {
			background-color: $color-dark-blue;
		}
	}
}

