/* 	==========================================================================
   	Section headers
   	========================================================================== */

.section-header {
	min-height: 132px;
	background-color: $color-brand-1;
	padding: 23px 20px 29px;
	margin-top: 0px;
	position: relative;
	@include cf();
	@include breakpoint($mobile) {
		padding: 23px 20px 29px;
		min-height: 94px;
	}
}

.section-header-bloc {
	min-height: 132px;
	background-color: $color-yellow-bloc;
	padding: 0px 20px 15px;
	margin-top: 0px;
	position: relative;
	@include cf();
}

.section-title {
	margin: 0 67px;
	@include font-size($font-size-72);
	@extend .bold;
	color: white;
	line-height: 1;
	float: left;
	//padding: 0 67px;
	@include breakpoint($mobile) {
		@include font-size($font-size-36);
		padding: 5px 0px;
		margin: 0 20px 0 0;
	}
}

.section-title-bloc {
	margin: 0 67px;
	@include font-size($font-size-72);
	@extend .bold;
	color: white;
	line-height: 1;
	float: left;
	//padding: 0 67px;
	@include breakpoint($mobile) {
		@include font-size($font-size-36);
		padding: 5px 0px;
		margin: 0 20px 0 0;
	}
}

// Section Header & Title for XMAS Promotion
.section-header-xmas {
	min-height: 132px;
	background-color: $color-red-xmas;
	padding: 23px 20px 29px;
	margin-top: 0px;
	position: relative;
	//@include cf();
	//@include breakpoint($mobile) {
	//	padding: 23px 20px 29px;
	//	min-height: 94px;
	//}
}

.section-title-xmas {
	margin: 0 67px;
	@include font-size($font-size-72);
	@extend .bold;
	color: white;
	line-height: 1;
	//margin-left: 322px;
	float: left;
	//padding: 0 67px;
	//@include breakpoint($mobile) {
	//	@include font-size($font-size-36);
	//	padding: 5px 0px;
	//	margin: 0 20px 0 0;
	//}
}

.div-xmas-red {
	background: #bd1616;
	//margin: 0 67px;
	@include font-size($font-size-36);
	@extend .bold;
	color: white;
	line-height: 1;
	float: left;
	padding: 12px;
	//@include breakpoint($mobile) {
	//	@include font-size($font-size-36);
	//	padding: 5px 0px;
	//	margin: 0 20px 0 0;
	//}
}

.div-xmas-red:hover {
	background: #3aa457;
	color: black;
}

.div-xmas-green {
	background: #3aa457;
	//margin: 0 67px;
	@include font-size($font-size-36);
	@extend .bold;
	color: white;
	line-height: 1;
	float: left;
	padding: 12px;
	//@include breakpoint($mobile) {
	//	@include font-size($font-size-36);
	//	padding: 5px 0px;
	//	margin: 0 20px 0 0;
	//}
}

.div-xmas-white {
	background: #ffffff;
	//margin: 0 67px;
	@include font-size($font-size-36);
	@extend .bold;
	color: white;
	line-height: 1;
	float: left;
	padding: 3px;
	//@include breakpoint($mobile) {
	//	@include font-size($font-size-36);
	//	padding: 5px 0px;
	//	margin: 0 20px 0 0;
	//}
}

// End Xmas Sections


// .section-header-submenu {
// 	@extend .section-header;
// 	//padding-bottom: 0;
// 	position: relative;
// }

.section-submenu {
	clear: both;
	position: relative;
	z-index: 1;
	top: -35px;
	left: 69px;
	width: calc(100% - 138px);
	@include breakpoint($mobile) {
		top: 0;
		left: 0;
		background-color: $color-dark-blue;
		width: 100%;
	}
}

.section-submenu-list {
	list-style: none;
	padding: 0;
	margin: 0;
	@include cf();
	
	li {
		float: left;
		a {
			color: white;
			display: block;
			padding: 7px 20px;
			opacity: 0.5;
			@include transition(opacity 0.1s linear);
			text-transform: uppercase;
			@include font-size($font-small);
			@include breakpoint($break-1335) {
				text-transform: initial;
				padding: 6px 8px;
				@include font-size($font-size-14);
			}
			@include breakpoint($mobile) {
				text-transform: initial;
				padding: 10px 20px;
				@include font-size($font-size-18);
			}
		}
		&.current_page_item, &:hover, &:focus {
			a {
				opacity: 1;
			}
		}
		&.current_page_item {
			a {
				border-bottom: 5px solid $color-brand-1;
				@include breakpoint($mobile) {
					border-bottom: 0;
				}
			}
		}
		&.current_page_parent {
			a {
				opacity: 1;
				border-bottom: 5px solid $color-brand-1;
				@include breakpoint($mobile) {
					border-bottom: 0;
				}
			}
			li a {
				border-bottom: 0;
			}
		}
		@include breakpoint($mobile) {
			float: none;
		}
	}
	@include breakpoint($mobile) {
		padding: 15px 0 20px;
		background-color: $color-dark-blue-2;
	}
}

.section-submenu-list-foghlaim {
	list-style: none;
	padding: 0;
	margin: 0;
	@include cf();
	
	li {
		float: left;
		a {
			color: white;
			display: block;
			padding: 6px 20px;
			opacity: 0.5;
			@include transition(opacity 0.1s linear);
			//text-transform: uppercase;
			@include font-size($font-size-15);
			@include breakpoint($break-1268) {
				padding: 7px 8px;
				@include font-size($font-size-14);
			}
			@include breakpoint($mobile) {
				text-transform: initial;
				padding: 10px 20px;
				@include font-size($font-size-18);
			}
		}
		&.current_page_item, &:hover, &:focus {
			a {
				opacity: 1;
			}
		}
		&.current_page_item {
			a {
				border-bottom: 5px solid $color-brand-1;
				@include breakpoint($mobile) {
					border-bottom: 0;
				}
			}
		}
		@include breakpoint($mobile) {
			float: none;
		}
	}
	@include breakpoint($mobile) {
		padding: 15px 0 20px;
		background-color: $color-dark-blue-2;
	}
}

// added via js - title for the section with a submenu
.section-sub-page {
	display: none;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	@include font-size($font-size-18);
	@include breakpoint($mobile) {
		display: block;
		span {
			display: inline-block;
			width: 16px;
			height: 16px;
			//background-color: red;
			margin-left: 10px;
			position: relative;
			&:after {
				position: absolute;
				top: 3px;
  				left: 4px;
				background: $icons-x2 no-repeat 0 0 transparent;
				background-size: $icons-x2-size; //$icons-x2-size;
				content: '';
				background-position: -214px -42px;
				width: 9px;
				height: 16px;
				transform: rotate(90deg);
			}
		}
	}
}

.section-submenu-wrap {
	overflow: hidden;
	height: auto;
	@include breakpoint($mobile) {
		height: 0;
	}
}

.section-submenu-wrap.section-sub-open {
	@include breakpoint($mobile) {
		height: auto;
	}
}