/*  ==========================================================================
    General Slick Theme
    ========================================================================== */

/* Slider */

.slick-list {
	padding: 10px 0;
}

.slick-loading .slick-list {
    background: #fff url('https://d1og0s8nlbd0hm.cloudfront.net/images/preloader.gif') center center no-repeat;
}

/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -70px;;
    display: block;
    width: 60px;
    height: 60px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: $color-dark-blue;
    @include transition(background-color 0.1s linear);
    user-select: none;
    z-index: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    //color: transparent;
    outline: none;
    background: $color-dark-blue-2;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    // font-size: 20px;
    // line-height: 1;
    // opacity: .75;
    // color: white;
    @extend %sprite-2x;
    position: absolute;
    content: '';
    width: 9px;
    height: 16px;
    top: 22px;
}

.slick-prev {
    left: 0px;
}

[dir='rtl'] .slick-prev {
    //right: -25px;
    left: auto;
}

.slick-prev:before {
    //content: '←';
    left: 25px;
    background-position: -178px -42px;
}

[dir='rtl'] .slick-prev:before {
    //content: '→';
}

.slick-next {
    right: 0px;
}

[dir='rtl'] .slick-next {
    right: auto;
    //left: -25px;
}

.slick-next:before {
    //content: '→';
    left: 29px;
    background-position: -214px -42px;
}

[dir='rtl'] .slick-next:before {
    //content: '←';
}
/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    z-index: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    text-indent: 100%;
    color: transparent;
    border: 0;
    outline: none;
    background: white;
    opacity: 0.5
}

.slick-dots li.slick-active button {
    opacity: 1;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

// .slick-dots li button:before {
//     font-size: 6px;
//     line-height: 20px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 20px;
//     height: 20px;
//     content: '•';
//     text-align: center;
//     opacity: .25;
//     color: black;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// .slick-dots li.slick-active button:before {
//     opacity: .75;
//     color: black;
// }