/* 	==========================================================================
   	Tonight slider
   	========================================================================== */

.view-full {
	display: block;
	width: 190px;
	position: absolute;
	@include align(horizontal);
	bottom: 0;
	color: white;
	text-align: center;
	line-height: 1.2;
	background-color: $color-dark-blue;
	padding: 15px 0px;
	@include font-size($font-size-18);
	@include transition(background-color 0.1s linear);
	&:hover, &:focus {
		color: white;
		background-color: $color-dark-blue-2;
	}
}

// .tonight-slider-wrap {
// 	padding: 0 20px;
// }

.tonight-slider {
    list-style: none;
   // padding: 0 20px;
    // @include center(1600px);
    @include cf();
}

.tonight-item {
	position: relative;
    float: left;
    margin: 0 0px;
}

.tonight-link {
	display: block;
	max-width: 272px;
    padding: 13px 10px 1px;
    color: white;
    background-color: rgba($color-dark-blue, 0);
    @include transition(all 0.1s linear);
    user-select: none; // remove selectability highlighting
    &.live-now {
    	background-color: rgba(white, 0.2);
    	.tonight-live{
    		display: block;
    	}
    	.btn-watch-small {
    		display: block;
    	}
    	.btn-info-small {
    		display: none;
    	}
    	.btn-wrapper {
    		opacity: 1;
    	}
    	&:hover, &:focus {
			.btn-info-small {
	    		display: none;
	    	}
    	}
    }
    &:hover, &:focus {
    	color: white;
    	background-color: rgba($color-dark-blue, 0.2) !important;
    	.tonight-time {
    		color: rgba(255, 255, 255, 0.7);
    	}
    	.btn-info-small {
    		display: block;
    	}
    	.btn-wrapper {
			opacity: 1;
    	}
    }
    .btn-wrapper {
		height: 80px;
		padding-top: 20px;
		opacity: 0;
		@include transition(opacity 0.2s linear);
	}
}

.ssm-mobile {
	.tonight-link {
		&:hover, &:focus {
			background-color: inherit;
		}
		&.live-now {
			&:hover, &:focus {
				background-color: rgba(white, 0.2);
			}
		}
	}
}

.tonight-title {
	@include font-size($font-size-24);
	margin: 34px 0px 14px 0px;
	line-height: 1.1;
	letter-spacing: 0px;
}

.tonight-time {
	color: $color-dark-blue;
	position: absolute;
	top: 2px;
	left: 0;
	width: calc(100% - 20px);
	border-bottom: 1px solid rgba(white, 0.5);
	margin: 10px;
	padding-bottom: 3px;
	@include transition(color 0.1s linear);
}

.tonight-live {
	// display: block;
	// position: absolute;
	// top: 0px;
	// right: 0px;
	// width: 42px;
	// height: 42px;
	// border-radius: 21px;
	// background-color: $color-red;
	// color: white;
	// @include font-size($font-small);
	// text-transform: uppercase;
	// text-align: center;
	// padding-top: 10px;

	  display: none;
	  position: absolute;
	  top: 9px;
	  right: 9px;
	  width: 42px;
	  height: 24px;
	  border-radius: 2px;
	  background-color: $color-red;
	  color: white;
	  @include font-size($font-small);
	  text-transform: uppercase;
	  text-align: center;
	  padding-top: 2px;
}

.tonight-thumb {}



.btn-watch-small {
	display: none;
	width: 120px;
	height: 40px;
	margin: 0px auto;
	color: $color-dark-blue;
	background-color: white;
	line-height: 40px;
	text-align: center;
	@include font-size($font-small);
	border-radius: 2px;
}

.btn-info-small {
	@extend .btn-watch-small;
	color: white;
	background-color: $color-dark-blue;
}

// slick adjustments

.tonight-slider-wrap {
	.slick-prev {
	    left: -20px;
	}
	.slick-next {
	    right: -20px;
	}
}

