/* ==========================================================================
   General buttons
   ========================================================================== */

// used on homepage slider
.btn-header {
	display: block;
	float: left;
	color: white;
	background-color: black;
	@include transition(background-color 0.1s linear);
	padding: 0px 100px 0px 40px;
	margin-top: 5px;
	height: 60px;
	line-height: 60px;
	position: relative;
	z-index: 0;
	span {
		background-color: $color-brand-1;
		@include transition(background-color 0.1s linear);
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		&:before {
			position: absolute;
			content: '';
			//@extend %icon-player;
			@extend %arrowlrg-right;
			top: 14px;
			right: 13px;
		}
	}
	&:hover, &:focus {
		background-color: white;
		color: $color-brand-1;
		span {
			background-color: $color-brand-1-hover;
		}
	}
}

.btn-nl-play {
	display: block;
	float: left;
	color: white;
	background-color: black;
	@include transition(background-color 0.1s linear);
	padding: 0px 0px 0px 60px;
	margin-top: 5px;
	height: 60px;
	line-height: 60px;
	position: relative;
	z-index: 0;
	span {
		background-color: $color-brand-1;
		@include transition(background-color 0.1s linear);
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		&:before {
			position: absolute;
			content: '';
			@extend %arrowlrg-right;
			top: 14px;
			right: 13px;
		}
	}
	&:hover, &:focus {
		background-color: white;
		color: $color-brand-1;
		span {
			background-color: $color-brand-1-hover;
		}
	}
}

.html5lightbox {
	display: block;
	float: left;
	color: white;
	background-color: black;
	@include transition(background-color 0.1s linear);
	padding: 0px 0px 0px 60px;
	margin-top: 5px;
	height: 60px;
	line-height: 60px;
	position: relative;
	z-index: 0;
	span {
		background-color: $color-brand-1;
		@include transition(background-color 0.1s linear);
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		&:before {
			position: absolute;
			content: '';
			@extend %arrowlrg-right;
			top: 14px;
			right: 13px;
		}
	}
	&:hover, &:focus {
		background-color: white;
		color: $color-brand-1;
		span {
			background-color: $color-brand-1-hover;
		}
	}
}

.btn-next {
	display: block;
	float: left;
	color: white;
	background-color: black;
	@include transition(background-color 0.1s linear);
	padding: 0px 100px 0px 40px;
	margin-top: 5px;
	height: 60px;
	line-height: 60px;
	position: relative;
	z-index: 0;
	span {
		background-color: $color-brand-1;
		@include transition(background-color 0.1s linear);
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		&:before {
			position: absolute;
			content: '';
			//@extend %icon-player;
			@extend %arrowlrg-right;
			top: 14px;
			right: 13px;
		}
	}
	&:hover, &:focus {
		background-color: $color-gray-1;
		color: $color-brand-1;
		span {
			background-color: $color-brand-1-hover;
		}
	}
}