/* ==========================================================================
   Mmenu variables overrides
   ========================================================================== */

// Animation
// $mm_transitionDuration:	0.4s; // The duration of all transitions.
// $mm_transitionFunction: ease; // The function to use for all transitions

// Colours
$mm_backgroundColor: $color-dark-blue; // The background-color of the menu.
$mm_borderColor: rgba(255, 255, 255, 0.2); // The border-color of the list items.
$mm_dimmedTextColor: rgba(255, 255, 255, 0.5); // The text-color of dimmed out elements in the menu.
$mm_emphasizedBackgroundColor: $color-brand-2; // The background-color of emphasized list items.
$mm_highlightedBackgroundColor: rgba(255, 255, 255, 0.4); // The background-color of highlighted list items.
$mm_textColor: rgba(255, 255, 255, 1); // The text-color of the menu.

// Sizes
$mm_btnSize: 50px; // The height of the list items.
$mm_fontSize: 16px; // The font-size of the menu.
$mm_padding: 10px; // The padding for elements throughout the CSS framework.
$mm_listitemIndent: $mm_padding*2; // The left indent of the list items.
// $mm_listitemPadding: $mm_padding; // The padding of the list items.
$mm_panelPadding: $mm_padding*2; // The padding of the panels.
$mm_subopenWidth: 48px; // The width of the buttons that open submenus.
// $mm_subpanelOffset: 30%; // How far a panel slides out to the left when opening a subpanel as a percentage. From 0% (not moved) to 100% (fully moved out).

@import "vendor/mmenu/jquery.mmenu";


// other mmenu direct style overrides outwith the variable overrides

/* ==========================================================================
   Mmenu variables overrides
   ========================================================================== */

#mm-main-menu a {
	text-transform: uppercase;
	color: white;
}

.mm-listview>li:not(.mm-divider):after {
	// make list items border full width.
	left: 0;
}

// right arrows
.mm-menu .mm-listview>li .mm-prev:before, .mm-menu .mm-listview>li .mm-next:after, .mm-menu .mm-listview>li .mm-arrow:after {
	border-color: white;
}

// back left arrow
.mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after {
	border-color: white;
}