%sprite-2x {
	background: $icons-x2 no-repeat 0 0 transparent;
	background-size: $icons-x2-size; //$icons-x2-size;
	display: block;
}

/* 	==========================================================================
   	Nav / Search icons
   	========================================================================== */

%icon-burger {
	@extend %sprite-2x;
	background-position:  -6px -10px;
	width: 21px;
  	height: 15px;
}

%icon-search {
	@extend %sprite-2x;
	background-position:  -40px -7px;
	width: 20px;
	height: 20px;
}

%icon-close {
	@extend %sprite-2x;
	background-position:  -74px -8px;
	width: 18px;
	height: 18px;
}