%sprite-2x {
	background: $icons-x2 no-repeat 0 0 transparent;
	background-size: $icons-x2-size; //$icons-x2-size;
	display: block;
}

/* 	==========================================================================
   	Nav / Search icons
   	========================================================================== */

%icon-burger {
	@extend %sprite-2x;
	background-position:  -6px -10px;
	width: 21px;
  	height: 15px;
}

%icon-search {
	@extend %sprite-2x;
	background-position:  -40px -7px;
	width: 20px;
	height: 20px;
}

%icon-close {
	@extend %sprite-2x;
	background-position:  -74px -8px;
	width: 18px;
	height: 18px;
}

/* 	==========================================================================
   	Footer icons
   	========================================================================== */

// Watch devices
%icon-tel {
	@extend %sprite-2x;
	background-position: -105px -7px;
	width: 24px;
	height: 19px;
}

%icon-lap {
	@extend %sprite-2x;
	background-position: -138px -8px;
	width: 25px;
	height: 18px;
}

%icon-tab {
	@extend %sprite-2x;
	background-position: -176px -7px;
	width: 15px;
	height: 19px;
}

%icon-mob {
	@extend %sprite-2x;
	background-position: -212px -7px;
	width: 10px;
	height: 18px;
}

%icon-and {
	@extend %sprite-2x;
	background-position: -241px -6px;
	width: 19px;
	height: 21px;
}

// Social Share

%icon-facebook {
	@extend %sprite-2x;
	background-position: -8px -154px;
	width: 12px;
	height: 19px;
}

%icon-facebook-white {
	@extend %sprite-2x;
	background-position: -8px -186px;
	width: 12px;
	height: 20px;
}

%icon-twitter {
	@extend %sprite-2x;
	background-position: -38px -154px;
	width: 19px;
	height: 19px;
}

%icon-twitter-white {
	@extend %sprite-2x;
	background-position: -37px -186px;
	width: 19px;
	height: 20px;
}

%icon-mail {
	@extend %sprite-2x;
	background-position: -71px -156px;
	width: 18px;
	height: 15px;
}

%icon-mail-white {
	@extend %sprite-2x;
	background-position: -71px -186px;
	width: 18px;
	height: 20px;
}

%icon-instagram {
	@extend %sprite-2x;
	background-position: -106px -154px;
	width: 16px;
	height: 20px;
}

%icon-flickr {
	@extend %sprite-2x;
	background-position: -136px -154px;
	width: 20px;
	height: 18px;
}

%icon-youtube {
	@extend %sprite-2x;
	background-position: -171px -154px;
	width: 24px;
	height: 20px;
}

%icon-youtube-white {
	@extend %sprite-2x;
	background-position: -171px -184px;
	width: 28px;
	height: 28px;
}

%icon-wall {
	@extend %sprite-2x;
	background-position: -204px -154px;
	width: 16px;
	height: 19px;
}

%icon-snapchat {
	@extend %sprite-2x;
	background-position: -232px -151px;
	width: 20px;
	height: 22px;
} 

/* 	==========================================================================
   	Button icons
   	========================================================================== */

%icon-player {
	@extend %sprite-2x;
	background-position: 0 -34px;
	width: 32px;
	height: 32px;
}

/*  ==========================================================================
    Programme Icons
   	========================================================================== */

// not available on the tg4 player icon
.no-player:after {
	@extend %sprite-2x;
	content: '';
	background-position: -8px -74px;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 8px;
}

.ireland-only:after {
	@extend %sprite-2x;
	content: '';
	background-position: -40px -74px;
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-left: 8px;
}

/*  ==========================================================================
    Online now
   	========================================================================== */

%icon-playlist {
	@extend %sprite-2x;
	content: '';
	background-position: -70px -75px;
	width: 25px;
	height: 18px;
}

/*  ==========================================================================
    Arrows
   	========================================================================== */

%arrow-right {
	@extend %sprite-2x;
	content: '';
	background-position: -214px -42px;
	width: 9px;
	height: 16px;
}

%arrowlrg-right {
	@extend %sprite-2x;
	content: '';
	background-position: -68px -35px;
	width: 32px;
	height: 32px;
}

/* 	==========================================================================
   	Live Sport icons
   	========================================================================== */

%icon-soccer {
	@extend %sprite-2x;
	background-position: +5px -100px;
	width: 45px;
	height: 45px;
}

%icon-basketball {
	@extend %sprite-2x;
	background-position: -27px -100px;
	width: 45px;
	height: 45px;
}

%icon-boxing {
	@extend %sprite-2x;
	background-position: -60px -100px;
	width: 45px;
	height: 45px;
}

%icon-rally {
	@extend %sprite-2x;
	background-position: -94px -100px;
	width: 45px;
	height: 45px;
}

%icon-cycling {
	@extend %sprite-2x;
	background-position: -128px -100px;
	width: 43px;
	height: 45px;
}

%icon-gaelic {
	@extend %sprite-2x;
	background-position: -161px -100px;
	width: 43px;
	height: 45px;
}

%icon-racing {
	@extend %sprite-2x;
	background-position: -194px -100px;
	width: 45px;
	height: 45px;
}

%icon-hurling {
	@extend %sprite-2x;
	background-position: -234px -100px;
	width: 43px;
	height: 45px;
}

%icon-sailing {
	@extend %sprite-2x;
	background-position: -266px -100px;
	width: 43px;
	height: 45px;
}

%icon-rugby {
	@extend %sprite-2x;
	background-position: -300px -100px;
	width: 43px;
	height: 45px;
}

%icon-athletics {
	@extend %sprite-2x;
	background-position: -334px -100px;
	width: 45px;
	height: 45px;
}

%icon-tennis {
	@extend %sprite-2x;
	background-position: -368px -100px;
	width: 45px;
	height: 45px;
}