/* ==========================================================================
   Main Nav
   ========================================================================== */

#main-menu {
	@include breakpoint($mobile) {
		display: none;
	}
}

.burger-menu {
	display: none;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	//background: url(../images/icon-burger.svg) no-repeat center 19px black;
  	//background-size: 21px auto;
  	background-color: black;
  	text-align: center;
  	text-transform: uppercase;
  	font-size: 10px;
  	color: white;
  	padding-top: 36px;
  	padding-left: 1px;
  	&:hover, &:focus {
  		color: white;
  	}
  	&:before {
  		content: '';
  		position: absolute;
  		top: 19px;
  		right: 19px;
  		@extend %icon-burger;
  	}
	@include breakpoint($mobile) {
		display: block;
	}
}

/* ==========================================================================
   Desktop Nav
   ========================================================================== */

$drop-padding: 20px; // padding for the drop down panel
$drop-item-width: 164px; // width of each list item in the drop down panel
$drop-item-gutter: 10px;

// hover and selected marker defaults for the main desktop nav top level
%menu-marker {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 4px;
	background-color: black;
	z-index: 1;
	@include transition(background-color 0.1s linear);
	@include transition(height 0.4s $ease-out-expo);
}

%drop-item {
	width: $drop-item-width;
	padding: 0;
	margin: 0;
	> a {
		color: $color-brand-1;
		padding: 10px 12px 11px;
		line-height: 1.2;
		@include transition(background-color 0.1s linear);
		&:hover {
			background-color: $color-brand-1;
			color: white;
		}
	}
}

#main-menu {
	background-color: black;
	height: 45px;
	.main-menu-list {
		margin: 0;
		padding: 0 0 0 6px;
		list-style: none;
		a {
			display: block;
			@include font-size($font-small);
		}
		// top level (0) nav li
		> li {
			float: left;
			text-transform: uppercase;
			position: relative;
			// top level (0) nav anchors
			> a {
				padding: 0 20px;
				color: $main-nav-color;
				height: 45px;
				line-height: 45px;
				@include font-size($font-small);
				@include transition(color 0.1s linear);
				// top level 0 nav anchor markers
				&:after {
					@extend %menu-marker;
					height: 0;
				}
				&:hover, &:focus {
					color: white;
					&:after {
						@extend %menu-marker;
						background-color: white;
					}
				}
				&:after {
					background-color: white;
				}		
			}
			// force top level anchor to remain white
			&.current-menu-item a {
				color: white;
			}
			// current top level 0 nav anchor markers
			&.current-menu-item a:after, &.current-menu-item a:hover:after  {
				 @extend %menu-marker;
				 background-color: $color-brand-1;
			}
			// top level (0) nav link li hover
			&:hover {
				> ul.sub-menu {
					// if has a submenu ul show it on hover
					display: block;
				}
				&.menu-item-has-children {
					background-color: $color-brand-1;
					> a {
						// force the top level anchor to remain white when over the submenu
						color: white;
						box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.5);
					}
					> a:after {
						// use this to mask drop show encroachment
						background-color: $color-brand-1;
					}
				}
			}
			&.menu-item-has-children {
				> a:after {
					@include transition(none); // override hover effect on top level nav items with children
				}
				> a:focus:after {
					@include transition(height 0.4s $ease-out-expo); // reinstate hover effect on top level nav when tabbing using :focus
				}
			}
		}
		
		// 2nd level (1) submenu ul
		> li > ul.sub-menu  {
			display: none;
			position: absolute;
			top: 45px;
			left: 0;
			list-style: none;
			background: white;
			padding: $drop-padding;
			margin: 0;
    		border-top: 10px solid $color-brand-1;
    		box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.5);
    		border-bottom-right-radius: $base-border-radius;
  			border-bottom-left-radius: $base-border-radius;
    		// 2nd level 1 nav list item
			> li {
				@extend %drop-item;
			}
		}
	}
}

/*  ==========================================================================
    Drop nav multi-columns
    ========================================================================== */

/* 
	second level navigation drop downs can be divided into columns.
	This uses the jquery.columnlist.js and is initalised in the main.js.
	A column list class needs to be added to the top level nav item in
	WP custom menus, e.g. 'col-3-list'.
*/

.column-list {
	margin-right: $drop-item-gutter !important;
	&:last-child {
		margin-right: 0 !important;
	}
}

.column-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	.menu-item {
		@extend %drop-item;
	}
}

// 4 columned dropdown list
.col-4-list {
	> ul.sub-menu {
		
		width: ($drop-item-width*4+$drop-padding*2+$drop-item-gutter*3);
	}
	.column-list {
		@include span(1/4);	
	}
}

// 3 columned dropdown list
.col-3-list {
	> ul.sub-menu {
		
		width: ($drop-item-width*3+$drop-padding*2+$drop-item-gutter*2);
	}
	.column-list {
		@include span(1/3);	
	}
}

// 2 columned dropdown list
.col-2-list {
	> ul.sub-menu {
		
		width: ($drop-item-width*2+$drop-padding*2+$drop-item-gutter);
	}
	.column-list {
		@include span(1/2);	
	}
}

/* ==========================================================================
   PR Listing Menu
   ========================================================================== */

.pr-menu ul {
}

.pr-menu li {
	margin-left: -10px;
	width: 300px;
	background-color: #aac4cf;
	margin-bottom: 1px;
	list-style: none;
	color: #ffffff;
	@include font-size($font-size-12);
	padding: 3px 15px 3px 15px;;
	text-align: left;
}

/* ==========================================================================
   Submenu on Secondary nav
   ========================================================================== */
ul.children {
    display: none; 
	@include breakpoint($mobile) {
		display: block;
	}
}
	 
.section-submenu-list {
	@include breakpoint($desktop) {
		li:hover .children {
			width: 180px;
		    position: absolute;
		    list-style: none;
		    background: #000;
		    padding: 20px;
		    margin: 0;
		    border-top: 5px solid #fff;
		    box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.5);
		    border-bottom-right-radius: 3px;
		    border-bottom-left-radius: 3px;
		    display: block; 
		}
	}
	@include breakpoint($mobile) {
    	display: block !important;
	}
}