/*  ==========================================================================
    Centered panels
    ========================================================================== */

.center-panel {
    @include center(1214px);
    //padding: 0 20px;
}

/*  ==========================================================================
    Coloured sectional panels
    ========================================================================== */

.section-panel {
    position: relative;
    color: white;
    padding: 0 20px 40px;
}

.section-panel-plyr {
    position: relative;
    color: white;
    @include center(1435px);
}

.section-nopanel {
    position: relative;
    color: white;
    padding: 0 20px 40px;
    margin-top: -40px;
}

.section-panel-white {
    position: relative;
    color: black;
    padding: 0 20px 40px;
    background-color: $color-white;
}

.section-foghlaim {
    position: relative;
    color: white;
    padding: 0 20px 30px;
    @include breakpoint($mobile) {
        padding: 40px 20px 30px;
    }
}

.section-panel-blue {
    @extend .section-panel;
    background-color: $color-brand-1;
}

.section-panel-plyr {
    @extend .section-panel-plyr;
}

.section-panel-dark {
    //@extend .section-panel-plyr;
    @extend .section-panel;
    background-color: $color-dark-blue;
}

.section-panel-dark-2 {
    @extend .section-panel;
    background-color: $color-dark-blue-2;
}

.section-panel-dark-3 {
    @extend .section-panel;
    background-color: $color-dark-blue-3;
}

.section-panel-pale-2 {
    @extend .section-panel;
    background-color: $color-pale-blue-2;
}

.section-panel-pale-3 {
    @extend .section-nopanel;
    background-color: $color-pale-blue-2;
}

.section-panel-pale-4 {
    @extend .section-panel;
    background-color: $color-pale-blue-4;
}

.section-panel-corporate {
    @extend .section-panel;
    background-color: $color-white;
}

.section-panel-foghlaim {
    @extend .section-foghlaim;
    background-color: $color-pale-blue-4;
}

/*  ==========================================================================
    Panel tabs
    ========================================================================== */

.title-tab-wrap {
    @include center(1640px);
    @include cf();
    @include breakpoint($mobile) {
        text-align: center;
    }
}

%title-tab {
    position: relative;
    float: left;
    color: white;
    padding: 14px 70px 20px 70px;
    margin: -30px 0px 0;
    background-color: $color-brand-1;
    @include font-size($font-size-42);
    @extend .bold;
    @include breakpoint($mobile) {
        margin-top: 0;
        padding: 14px 0px 20px 0px;
        display: inline-block;
        float: none;
        @include font-size($font-size-36);
        padding-top: 20px;
    }
}

%title-notab {
    position: relative;
    float: left;
    color: white;
    //padding: 14px 70px 20px 70px;
    background-color: $color-brand-1;
    @include font-size($font-size-42);
    @extend .bold;
    @include breakpoint($mobile) {
        //margin-top: 0;
        padding: 14px 0px 20px 0px;
        display: inline-block;
        float: none;
        @include font-size($font-size-36);
        padding-top: 20px;
    }
}

.title-tab-blue {
    @extend %title-tab;
}

.title-tab-dark {
    @extend %title-tab;
    background-color: $color-dark-blue;
}

.title-tab-dark-2 {
    @extend %title-tab;
    background-color: $color-dark-blue-2;
}

.title-tab-dark-3 {
    @extend %title-tab;
    background-color: $color-dark-blue-3;
}

.title-tab-black {
    @extend %title-tab;
    background-color: black;
}

.title-tab-white {
    @extend %title-tab;
    color: $color-dark-blue;
    background-color: $color-white;
}

.title-tab-pale-2 {
    @extend %title-tab;
    color: $color-dark-blue;
    background-color: $color-pale-blue-2;
}

.title-tab-pale-3 {
    @extend %title-notab;
    color: $color-dark-blue;
    background-color: $color-pale-blue-2;
}

.title-tab-pale-4 {
    @extend %title-tab;
    background-color: $color-pale-blue-4;
}