@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue) + px;
    font-size: $sizeValue / 10 + rem;
}

// maintain aspect ratio of containers e.g. @include aspect-ratio(16, 9);
@mixin aspect-ratio($width, $height, $element) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    .#{$element} {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}