/*  ==========================================================================
    Break Points
    ========================================================================== */

$phone: 0 479px;
$small-tablet: 480px 767px;
$tablet: 768px 1023px;
$mobile: max-width 1024px;
$desktop: min-width 1025px;

$break-1435: max-width 1435px;
$break-1335: max-width 1335px;
$break-1268: max-width 1268px;
$break-1260: max-width 1260px;
$break-1150: max-width 1150px;
$break-1100: max-width 1100px;
$break-1024: $mobile;
$break-1005: max-width 1005px;
$break-980: max-width 980px;
$break-960: max-width 960px;
$break-900: max-width 900px;
$break-840: max-width 840px;
$break-820: max-width 820px;
$break-800: max-width 800px;
$break-760: max-width 760px;
$break-700: max-width 700px;
$break-670: max-width 670px;
$break-650: max-width 650px;
$break-600: max-width 600px;
$break-550: max-width 550px;
$break-500: max-width 500px;
$break-450: max-width 450px;
$break-400: max-width 400px;
$break-350: max-width 350px;

/* ==========================================================================
   Typography
   ========================================================================== */

$fallback-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font Sizes
$base-font-size: 62.5%; // Sets up the Base 10 stuff 
$h1-font-size: 37;
$h2-font-size: 23;
$h3-font-size: 20;
$h4-font-size: 16;
$h5-font-size: 16;
$h6-font-size: 16;
$body-font-size: 16;
$font-small: 14;

$font-size-8: 8;
$font-size-9: 9;
$font-size-10: 10;
$font-size-11: 11;
$font-size-12: 12;
$font-size-13: 13;
$font-size-14: 14;
$font-size-15: 15;
$font-size-16: 16;
$font-size-18: 18;
$font-size-20: 20;
$font-size-21: 21;
$font-size-22: 22;
$font-size-24: 24;
$font-size-28: 28;
$font-size-30: 30;
$font-size-36: 36;
$font-size-40: 40;
$font-size-42: 42;
$font-size-60: 60;
$font-size-72: 72;
$font-size-78: 78;

// Line height
$base-line-height: 1.5; 
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$base-z-index: 0;

/* ==========================================================================
   Colours
   ========================================================================== */

// Brand Colours Variables
$color-brand-1: #3e8eb4; // main blue
$color-brand-1-hover: #249acc;
$color-brand-2: #6f8fa4; // header blue
$color-dark: #151a1d;
$color-dark-2: #393939;
$color-dark-3: #505050;
$color-dark-4: #0D0D0D;
$color-dark-5: #444444;
$color-dark-blue: #043244;
$color-dark-blue-2: #0c232c;
$color-dark-blue-3: #151a1d;
$color-dark-blue-4: #073448;
$color-light-blue: #69acc7;
$color-pale-blue: #c7dae2;
$color-pale-blue-2: #d7e2ea;
$color-pale-blue-3: #e2e9ef;
$color-pale-blue-4: #aac4cf;
$color-pale-blue-5: #00d6f2;
$color-white: #ffffff;
$color-gray-1: #cccccc;
$color-gray-2: #999999;
$color-gray-3: #666666;
$color-gray-4: #c3c5c6;
$color-gray-5: #f1f1f1;
$color-gray-6: #fafafa;
$color-gray-7: #f2f0f0;
$color-red: #e64747;
$color-red-xmas: #bd1616;
$color-yellow-bloc: #F8CA00;

// dark colours get lighter with increasing number
$color-dark-ui-1: #373737;
$color-dark-ui-2: #000000;
$color-dark-ui-3: #000000;

// light colours get lighter with increasing number
$color-light-ui-1: #d3d3d3;
$color-light-ui-2: #e8e8e8;

// dark text colours get lighter with increasing number
$color-text-1: #353c40;
$color-text-2: #707578;
$color-text-3: #c1c0c0;

// light text colours get darker with increasing number
$color-text-light-1: #b8b7b7;

// Background Color
$base-background-color: #ffffff;

// Font Colors
$base-font-color: $color-text-1;
$base-accent-color: $color-brand-1;
$main-nav-color: #b9b9b9;

// Link Colors
$base-link-color: $color-brand-1;
$hover-link-color: darken($color-brand-1, 15);
$base-button-color: $color-brand-1;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $color-brand-1;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);

//Misc
$selection: $color-brand-1; // cursor selection colour

/* ==========================================================================
   Icons sprites sheet
   ========================================================================== */

$icons-x2: url('https://d1og0s8nlbd0hm.cloudfront.net/images/sprite-icons@2x.png');
$icons-x2-size: 500px auto;

/* ==========================================================================
   Easing animation bezier curves
   ========================================================================== */

// Expo
$ease-in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quint
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Quart
//$ease-in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
//$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
//$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Back
$ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);