@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Perform a value into a percentage value.
 * @param {number} $value - The value which should be converted.
 * @returns {number} $value - The percentage.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Aliases for j-column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Aliases for j-column-width().
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Alias for j-column-gutter().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Alias for j-span().
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Alias for j-shift().
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * Alias for j-unshift().
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 * Aliases for j-edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Alias for j-center().
 */
/**
 * Uncenter an element.
 */
/**
 * Alias for j-uncenter().
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Alias for j-stack().
 */
/**
 * Unstack an element.
 */
/**
 * Alias for j-unstack().
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Alias for j-align().
 */
/**
 * Apply a clearfix to an element.
 */
/**
 * Alias for j-cf().
 */
/*  ==========================================================================
    Break Points
    ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
/* ==========================================================================
   Colours
   ========================================================================== */
/* ==========================================================================
   Icons sprites sheet
   ========================================================================== */
/* ==========================================================================
   Easing animation bezier curves
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden, .skip-to-main {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .focusable.skip-to-main:active, .visuallyhidden.focusable:focus, .focusable.skip-to-main:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  background: #ffffff;
  /* For browsers that do not support gradients */ }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #cecece;
  text-shadow: none; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

img, picture {
  margin: 0;
  max-width: 100%;
  height: auto; }

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality; }

.content {
  padding: 20px; }

.regular, body {
  font-family: "Muli", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal; }

.italic, em {
  font-family: "Muli", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: italic; }

.bold, strong, .footer h2, .title-bar-molsceal, .section-title {
  font-family: "Muli", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-style: normal; }

.muliregular, .top-bar-molsceal, .nav-bar-molsceal, .molscealplyr-wrapper .molsceal-newssrc, .molscealplyr-wrapper .molsceal-newsdate, p {
  font-family: "Muli", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal; }

.muliitalic {
  font-family: "Muli", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: italic; }

.mulibold, .title-bar-molsceal, .more-bar-molsceal, input.search-input, .section-submenu-molsceal, .section-title, .molscealmods-wrapper .mod-5_Nuacht .molsceal-genretitle, .molscealmods-wrapper .mod-5_Spórt .molsceal-genretitle, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-genretitle, .molscealmods-wrapper .mod-5_Cartlann .molsceal-genretitle, .molscealplyr-wrapper .molsceal-genreheader, .molscealplyr-wrapper .mod-6_Nuacht .molsceal-genretitle, .molscealplyr-wrapper .mod-6_Spórt .molsceal-genretitle, .molscealplyr-wrapper .mod-6_Siamsaíocht .molsceal-genretitle, .molscealplyr-wrapper .mod-6_Cartlann .molsceal-genretitle, .molsceal-hometitle, .molsceal-genretext, .molsceal-articletext, b, strong, blockquote > p, .regiontoggle, .regiontoggle:hover, #regiondd, #sharedd {
  font-family: "Muli", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  background-color: #ffffff;
  color: #353c40;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  font-weight: normal; }

h1 {
  font-size: 37px;
  font-size: 3.7rem; }

h2 {
  font-size: 23px;
  font-size: 2.3rem; }

h3 {
  font-size: 20px;
  font-size: 2rem; }

h4 {
  font-size: 16px;
  font-size: 1.6rem; }

h5 {
  font-size: 16px;
  font-size: 1.6rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

p {
  margin: 0 0 0.75rem; }

a {
  color: #3e8eb4;
  text-decoration: none; }
  a:hover {
    color: #2a617b; }
  a:active, a:focus {
    color: #2a617b;
    outline: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3e8eb4;
  margin: 1.5rem 0;
  padding: 0; }

blockquote {
  border-left: 0px solid #3e8eb4;
  color: #58636a;
  margin: 5px 0; }

cite {
  color: #6f7d86;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

.search-btn:before {
  background: url("https://d1og0s8nlbd0hm.cloudfront.net/images/sprite-icons@2x.png") no-repeat 0 0 transparent;
  background-size: 500px auto;
  display: block; }

/* 	==========================================================================
   	Nav / Search icons
   	========================================================================== */
.search-btn:before {
  background-position: -40px -7px;
  width: 20px;
  height: 20px; }

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  color: white; }
  .footer h2 {
    font-size: 16px;
    font-size: 1.6rem; }
  .footer a {
    color: #043244; }
    .footer a:focus {
      color: white; }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer li {
    margin-bottom: 6px; }

.footer-main {
  background-color: #69acc7;
  padding: 50px 0; }
  @media (max-width: 900px) {
    .footer-main {
      padding-top: 35px; } }

.footer-wrapper {
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
  *zoom: 1; }
  .footer-wrapper:before, .footer-wrapper:after {
    content: '';
    display: table; }
  .footer-wrapper:after {
    clear: both; }
  @media (max-width: 900px) {
    .footer-wrapper {
      padding: 0 20px; } }
  @media (max-width: 500px) {
    .footer-wrapper {
      padding: 0 10px; } }

/* ==========================================================================
   Footer links
   ========================================================================== */
.footer-links {
  background-color: #00d6f2;
  min-height: 50px;
  padding: 18px 0 12px;
  font-size: 14px;
  font-size: 1.4rem; }
  .footer-links ul {
    float: left; }
    @media (max-width: 900px) {
      .footer-links ul {
        float: none; } }
  .footer-links li {
    display: inline;
    margin: 0; }
  .footer-links a {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 25px; }

.social-links {
  background-color: #444444;
  min-height: 50px;
  padding: 18px 0 12px;
  font-size: 14px;
  font-size: 1.4rem; }
  .social-links ul {
    float: left; }
    @media (max-width: 900px) {
      .social-links ul {
        float: none; } }
  .social-links li {
    display: inline;
    margin: 0; }
  .social-links a {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 25px; }

.sendmail {
  text-align: center;
  color: white; }

.socialicons {
  text-align: right;
  color: white; }

/* 	==========================================================================
   	MolScéal Portal CSS
   	========================================================================== */
.header-wrapper {
  background-color: #00d6f2; }

.top-bar-wrapper {
  background-color: #00d6f2;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 40px; }

.region {
  height: 100%;
  left: 10px;
  padding-top: 6px;
  width: 50%;
  float: left; }
  @media (max-width: 1024px) {
    .region {
      padding-left: 10px;
      top: 9px;
      width: 140px; } }
  @media (max-width: 500px) {
    .region {
      top: 8px; } }

.top-bar-molsceal {
  background-color: #00d6f2;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.title-bar-molsceal {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  font-size: 60px;
  font-size: 6rem;
  text-align: center;
  color: #00d6f2;
  top: 40px; }

.nav-bar-molsceal {
  background-color: white;
  position: fixed;
  z-index: 3;
  top: 140px;
  width: 100%; }

.more-bar-molsceal {
  background-color: #f2f0f0;
  margin: 0;
  font-size: 22px;
  font-size: 2.2rem;
  padding: 15px; }
  @media (max-width: 1024px) {
    .more-bar-molsceal {
      padding-top: 25px; } }
  @media (max-width: 500px) {
    .more-bar-molsceal {
      padding-top: 25px;
      font-size: 18px;
      font-size: 1.8rem; } }

/* ==========================================================================
   Search
   ========================================================================== */
.search {
  width: 50%;
  float: right; }
  @media (max-width: 1024px) {
    .search {
      height: 40px; } }

.search-form {
  width: 250px;
  float: right;
  height: 40px;
  position: relative;
  top: 0; }
  @media (max-width: 400px) {
    .search-form {
      width: 200px; } }
  @media (max-width: 350px) {
    .search-form {
      width: 160px; } }

input.search-input {
  color: #ffffff;
  top: 0;
  border: none;
  height: 32px;
  margin-top: 3px;
  width: 220px;
  background-color: transparent; }

.search-btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #00d6f2;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  text-indent: 100%; }
  .search-btn:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px; }

.submenu-wrapper {
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 30px;
  text-align: center; }
  @media (max-width: 1005px) {
    .submenu-wrapper {
      width: auto;
      max-width: 840px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 840px) {
    .submenu-wrapper {
      width: auto;
      max-width: 770px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 800px) {
    .submenu-wrapper {
      width: auto;
      max-width: 640px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 760px) {
    .submenu-wrapper {
      width: auto;
      max-width: 620px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 670px) {
    .submenu-wrapper {
      width: auto;
      max-width: 580px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 650px) {
    .submenu-wrapper {
      width: auto;
      max-width: 500px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 600px) {
    .submenu-wrapper {
      width: auto;
      max-width: 480px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 500px) {
    .submenu-wrapper {
      width: auto;
      max-width: 440px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 450px) {
    .submenu-wrapper {
      width: auto;
      max-width: 390px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 400px) {
    .submenu-wrapper {
      width: auto;
      max-width: 340px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }

.section-submenu-molsceal {
  border: 0px solid #999;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  *zoom: 1; }
  .section-submenu-molsceal:before, .section-submenu-molsceal:after {
    content: '';
    display: table; }
  .section-submenu-molsceal:after {
    clear: both; }
  .section-submenu-molsceal li {
    border: 0px solid #999;
    float: left;
    text-align: center; }
    .section-submenu-molsceal li a {
      color: #828282;
      display: block;
      padding: 0px 36px;
      opacity: 0.5;
      -webkit-transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
      transition: opacity 0.1s linear;
      text-transform: uppercase;
      font-size: 18px;
      font-size: 1.8rem; }
      @media (max-width: 1005px) {
        .section-submenu-molsceal li a {
          padding: 0px 35px;
          font-size: 14px;
          font-size: 1.4rem; } }
      @media (max-width: 960px) {
        .section-submenu-molsceal li a {
          padding: 0px 34px;
          font-size: 14px;
          font-size: 1.4rem; } }
      @media (max-width: 840px) {
        .section-submenu-molsceal li a {
          padding: 0px 30px;
          font-size: 14px;
          font-size: 1.4rem; } }
      @media (max-width: 800px) {
        .section-submenu-molsceal li a {
          padding: 0px 20px;
          font-size: 13px;
          font-size: 1.3rem; } }
      @media (max-width: 700px) {
        .section-submenu-molsceal li a {
          padding: 0px 16px;
          font-size: 13px;
          font-size: 1.3rem; } }
      @media (max-width: 650px) {
        .section-submenu-molsceal li a {
          padding: 0px 12px;
          font-size: 12px;
          font-size: 1.2rem; } }
      @media (max-width: 600px) {
        .section-submenu-molsceal li a {
          padding: 0px 6px;
          font-size: 12px;
          font-size: 1.2rem; } }
      @media (max-width: 500px) {
        .section-submenu-molsceal li a {
          padding: 0px 8px;
          font-size: 11px;
          font-size: 1.1rem; } }
      @media (max-width: 450px) {
        .section-submenu-molsceal li a {
          padding: 0px 5px;
          font-size: 11px;
          font-size: 1.1rem; } }
      @media (max-width: 400px) {
        .section-submenu-molsceal li a {
          padding: 0px 3px;
          font-size: 10px;
          font-size: 1rem; } }
      @media (max-width: 350px) {
        .section-submenu-molsceal li a {
          padding: 0px 4px;
          font-size: 9px;
          font-size: 0.9rem; } }
    .section-submenu-molsceal li.current_page_item a, .section-submenu-molsceal li:hover a, .section-submenu-molsceal li:focus a {
      opacity: 1; }
    .section-submenu-molsceal li.current_page_item a {
      border-bottom: 5px solid #3e8eb4; }
      @media (max-width: 1024px) {
        .section-submenu-molsceal li.current_page_item a {
          border-bottom: 0; } }
    .section-submenu-molsceal li.current_page_nua a {
      color: #00d6f2; }
    .section-submenu-molsceal li.current_page_nuacht a {
      color: #036fad; }
    .section-submenu-molsceal li.current_page_sport a {
      color: #299f1b; }
    .section-submenu-molsceal li.current_page_siamsaiocht a {
      color: #682dcb; }
    .section-submenu-molsceal li.current_page_trendail a {
      color: #ff0381; }
    .section-submenu-molsceal li.current_page_cartlann a {
      color: #efc448; }
    .section-submenu-molsceal li.current_page_parent a {
      opacity: 1;
      border-bottom: 5px solid #3e8eb4; }
      @media (max-width: 1024px) {
        .section-submenu-molsceal li.current_page_parent a {
          border-bottom: 0; } }
    .section-submenu-molsceal li.current_page_parent li a {
      border-bottom: 0; }

.section-header {
  min-height: 100px;
  background-color: #00d6f2;
  padding: 25px 20px 25px;
  position: relative;
  top: 165px;
  *zoom: 1; }
  .section-header:before, .section-header:after {
    content: '';
    display: table; }
  .section-header:after {
    clear: both; }
  @media (max-width: 1024px) {
    .section-header {
      padding: 20px 20px 25px;
      min-height: 60px; } }

.section-title {
  margin: 0px 67px;
  font-size: 42px;
  font-size: 4.2rem;
  text-align: center;
  color: white;
  line-height: 1; }
  @media (max-width: 1024px) {
    .section-title {
      font-size: 28px;
      font-size: 2.8rem;
      padding: 5px 0px;
      margin: 0 20px 0 0; } }
  @media (max-width: 600px) {
    .section-title {
      font-size: 18px;
      font-size: 1.8rem;
      padding: 5px 0px;
      margin: 0 20px 0 0; } }

.molsceal-mods {
  background-color: #ffffff;
  padding: 12px 20px 15px;
  margin-top: 165px; }

.molsceal-innermods {
  background-color: #f1f1f1;
  padding: 12px 20px 85px;
  margin-top: 165px; }
  @media (max-width: 500px) {
    .molsceal-innermods {
      padding: 12px 0 0 0px; } }

.molsceal-plyrmods {
  background-color: #f1f1f1;
  padding: 12px 20px 25px;
  margin-top: 165px; }

.molsceal-moremods {
  background-color: #f2f0f0;
  padding: 12px 20px 85px; }
  @media (max-width: 1024px) {
    .molsceal-moremods {
      padding: 0px; } }

.molsceal-home-wrap {
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1;
  padding-left: 14px;
  padding-right: 12px; }
  .molsceal-home-wrap:before, .molsceal-home-wrap:after {
    content: '';
    display: table; }
  .molsceal-home-wrap:after {
    clear: both; }
  @media (max-width: 500px) {
    .molsceal-home-wrap {
      padding-left: 2px; } }

.molsceal-mod-wrap {
  *zoom: 1;
  margin: 0px auto;
  padding-left: 14px; }
  .molsceal-mod-wrap:before, .molsceal-mod-wrap:after {
    content: '';
    display: table; }
  .molsceal-mod-wrap:after {
    clear: both; }
  @media (max-width: 500px) {
    .molsceal-mod-wrap {
      padding-left: 2px; } }

.molsceal-plyr-wrap {
  background-color: #ffffff;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1; }
  .molsceal-plyr-wrap:before, .molsceal-plyr-wrap:after {
    content: '';
    display: table; }
  .molsceal-plyr-wrap:after {
    clear: both; }
  @media (max-width: 500px) {
    .molsceal-plyr-wrap {
      padding-left: 2px; } }

.molscealhome-wrapper {
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1; }
  @media (max-width: 1024px) {
    .molscealhome-wrapper {
      width: auto;
      max-width: 780px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 840px) {
    .molscealhome-wrapper {
      width: auto;
      max-width: 600px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 650px) {
    .molscealhome-wrapper {
      width: auto;
      max-width: 340px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  .molscealhome-wrapper:before, .molscealhome-wrapper:after {
    content: '';
    display: table; }
  .molscealhome-wrapper:after {
    clear: both; }
  .molscealhome-wrapper .mod-1 {
    height: 420px;
    max-width: 380px;
    margin-bottom: 15px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 1.4%; }
    .molscealhome-wrapper .mod-1:last-child {
      margin-right: 0; }
    @media (max-width: 1024px) {
      .molscealhome-wrapper .mod-1 {
        height: 420px;
        max-width: 300px;
        margin-bottom: 15px; } }
    @media (max-width: 840px) {
      .molscealhome-wrapper .mod-1 {
        height: 420px;
        max-width: 220px;
        margin-bottom: 15px; } }
    @media (max-width: 650px) {
      .molscealhome-wrapper .mod-1 {
        height: 300px;
        max-width: 300px; } }
  .molscealhome-wrapper .mod-2 {
    height: 202px;
    max-width: 540px;
    margin-bottom: 16px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    .molscealhome-wrapper .mod-2:last-child {
      margin-right: 0; }
    @media (max-width: 1024px) {
      .molscealhome-wrapper .mod-2 {
        height: 202px;
        max-width: 440px;
        margin-bottom: 16px;
        float: right; } }
    @media (max-width: 840px) {
      .molscealhome-wrapper .mod-2 {
        height: 202px;
        max-width: 340px;
        margin-bottom: 16px;
        float: right; } }
    @media (max-width: 650px) {
      .molscealhome-wrapper .mod-2 {
        height: 300px;
        max-width: 300px;
        float: left; } }
  .molscealhome-wrapper .mod-3 {
    height: 202px;
    max-width: 540px;
    margin-bottom: 16px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 1.4%; }
    .molscealhome-wrapper .mod-3:last-child {
      margin-right: 0; }
    @media (max-width: 1024px) {
      .molscealhome-wrapper .mod-3 {
        height: 202px;
        max-width: 440px;
        margin-bottom: 16px; } }
    @media (max-width: 840px) {
      .molscealhome-wrapper .mod-3 {
        height: 202px;
        max-width: 340px;
        margin-bottom: 16px; } }
    @media (max-width: 650px) {
      .molscealhome-wrapper .mod-3 {
        height: 300px;
        max-width: 300px;
        float: left; } }
  .molscealhome-wrapper .mod-4 {
    height: 420px;
    max-width: 380px;
    margin-bottom: 15px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: right; }
    .molscealhome-wrapper .mod-4:last-child {
      margin-right: 0; }
    @media (max-width: 1024px) {
      .molscealhome-wrapper .mod-4 {
        height: 420px;
        max-width: 300px;
        margin-bottom: 15px; } }
    @media (max-width: 840px) {
      .molscealhome-wrapper .mod-4 {
        height: 420px;
        max-width: 220px;
        margin-bottom: 15px; } }
    @media (max-width: 650px) {
      .molscealhome-wrapper .mod-4 {
        height: 300px;
        max-width: 300px;
        float: left; } }
  .molscealhome-wrapper .mod-5 {
    height: 305px;
    max-width: 300px;
    margin-bottom: 20px;
    float: left;
    clear: none;
    width: 32.26667%;
    margin-left: 0;
    margin-right: 1.6%; }
    .molscealhome-wrapper .mod-5:last-child {
      margin-right: 0; }
    @media (max-width: 980px) {
      .molscealhome-wrapper .mod-5 {
        max-width: 250px;
        float: left;
        clear: none;
        width: 32.26667%;
        margin-left: 0;
        margin-right: 1.6%; }
        .molscealhome-wrapper .mod-5:last-child {
          margin-right: 0; } }
    @media (max-width: 820px) {
      .molscealhome-wrapper .mod-5 {
        max-width: 220px;
        float: left;
        clear: none;
        width: 32.26667%;
        margin-left: 0;
        margin-right: 1.6%; }
        .molscealhome-wrapper .mod-5:last-child {
          margin-right: 0; } }
    @media (max-width: 700px) {
      .molscealhome-wrapper .mod-5 {
        float: left;
        clear: none;
        width: 203%;
        margin-left: 0;
        margin-right: 3%; }
        .molscealhome-wrapper .mod-5:last-child {
          margin-right: 0; } }
    @media (max-width: 500px) {
      .molscealhome-wrapper .mod-5 {
        max-width: 440px;
        max-height: 130px;
        float: left;
        clear: none;
        width: 100%;
        margin-left: 0;
        margin-right: 3%; }
        .molscealhome-wrapper .mod-5:last-child {
          margin-right: 0; } }

.molscealmods-wrapper {
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  @media (max-width: 1005px) {
    .molscealmods-wrapper {
      width: auto;
      max-width: 840px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 900px) {
    .molscealmods-wrapper {
      width: auto;
      max-width: 780px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 840px) {
    .molscealmods-wrapper {
      width: auto;
      max-width: 720px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 760px) {
    .molscealmods-wrapper {
      width: auto;
      max-width: 620px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 670px) {
    .molscealmods-wrapper {
      width: auto;
      max-width: 550px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 600px) {
    .molscealmods-wrapper {
      width: auto;
      max-width: 480px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0; } }
  .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
    height: 305px;
    max-width: 300px;
    margin-bottom: 20px;
    background-color: #ffffff;
    float: left;
    clear: none;
    width: 302.35%;
    margin-left: 0;
    margin-right: 1.175%; }
    .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
      margin-right: 0; }
    @media (max-width: 1005px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        max-width: 265px;
        float: left;
        clear: none;
        width: 302.35%;
        margin-left: 0;
        margin-right: 1.175%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 900px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        max-width: 245px;
        float: left;
        clear: none;
        width: 302.35%;
        margin-left: 0;
        margin-right: 1.175%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 840px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        max-width: 220px;
        float: left;
        clear: none;
        width: 302.35%;
        margin-left: 0;
        margin-right: 1.175%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 760px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        max-width: 290px;
        float: left;
        clear: none;
        width: 201.175%;
        margin-left: 0;
        margin-right: 1.175%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 670px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        max-width: 260px;
        float: left;
        clear: none;
        width: 201.175%;
        margin-left: 0;
        margin-right: 1.175%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 600px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        max-width: 210px;
        float: left;
        clear: none;
        width: 201.175%;
        margin-left: 0;
        margin-right: 1.175%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        border-bottom: 0px;
        max-width: 550px;
        height: 100%;
        float: left;
        clear: none;
        width: 100%;
        margin-left: 0;
        margin-right: 3%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 450px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        border-bottom: 0px;
        height: 100%;
        float: left;
        clear: none;
        width: 100%;
        margin-left: 0;
        margin-right: 3%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 400px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        border-bottom: 0px;
        height: 100%;
        float: left;
        clear: none;
        width: 100%;
        margin-left: 0;
        margin-right: 3%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
    @media (max-width: 350px) {
      .molscealmods-wrapper .mod-5_Nuacht, .molscealmods-wrapper .mod-5_Cartlann, .molscealmods-wrapper .mod-5_Spórt, .molscealmods-wrapper .mod-5_Siamsaíocht {
        border-bottom: 0px;
        height: 100%;
        float: left;
        clear: none;
        width: 100%;
        margin-left: 0;
        margin-right: 3%; }
        .molscealmods-wrapper .mod-5_Nuacht:last-child, .molscealmods-wrapper .mod-5_Cartlann:last-child, .molscealmods-wrapper .mod-5_Spórt:last-child, .molscealmods-wrapper .mod-5_Siamsaíocht:last-child {
          margin-right: 0; } }
  .molscealmods-wrapper .mod-5_Nuacht {
    border-bottom: 5px solid #036fad; }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Nuacht {
        border-bottom: 0px; }
        .molscealmods-wrapper .mod-5_Nuacht .molsceal-textholder0, .molscealmods-wrapper .mod-5_Nuacht .molsceal-textholder4, .molscealmods-wrapper .mod-5_Nuacht .molsceal-textholder8 {
          border-left: 5px solid #036fad; } }
    .molscealmods-wrapper .mod-5_Nuacht .videoDur {
      color: #fff;
      font-size: 11px;
      background-color: #000;
      opacity: .7;
      padding: 5px 10px 5px 10px;
      position: absolute;
      top: 53%;
      left: 0%; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Nuacht .videoDur {
          top: 67%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Nuacht .molsceal-img1, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img2, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img3, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img5, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img6, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img7, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img9 {
        width: 50%;
        float: left;
        border-right: 5px solid #036fad; }
        .molscealmods-wrapper .mod-5_Nuacht .molsceal-img1 .videoDur, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img2 .videoDur, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img3 .videoDur, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img5 .videoDur, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img6 .videoDur, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img7 .videoDur, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img9 .videoDur {
          top: 79%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Nuacht .molsceal-img0, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img4, .molscealmods-wrapper .mod-5_Nuacht .molsceal-img8 {
        width: 100%;
        border-right: 0px solid #036fad; } }
    .molscealmods-wrapper .mod-5_Nuacht .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #036fad; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Nuacht .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 0; } }
  .molscealmods-wrapper .mod-5_Spórt {
    border-bottom: 5px solid #299f1b; }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Spórt {
        border-bottom: 0px; }
        .molscealmods-wrapper .mod-5_Spórt .molsceal-textholder0, .molscealmods-wrapper .mod-5_Spórt .molsceal-textholder4, .molscealmods-wrapper .mod-5_Spórt .molsceal-textholder8 {
          border-left: 5px solid #299f1b; } }
    .molscealmods-wrapper .mod-5_Spórt .videoDur {
      color: #fff;
      font-size: 11px;
      background-color: #000;
      opacity: .7;
      padding: 5px 10px 5px 10px;
      position: absolute;
      top: 53%;
      left: 0%; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Spórt .videoDur {
          top: 67%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Spórt .molsceal-img1, .molscealmods-wrapper .mod-5_Spórt .molsceal-img2, .molscealmods-wrapper .mod-5_Spórt .molsceal-img3, .molscealmods-wrapper .mod-5_Spórt .molsceal-img5, .molscealmods-wrapper .mod-5_Spórt .molsceal-img6, .molscealmods-wrapper .mod-5_Spórt .molsceal-img7, .molscealmods-wrapper .mod-5_Spórt .molsceal-img9 {
        width: 50%;
        float: left;
        border-right: 5px solid #299f1b; }
        .molscealmods-wrapper .mod-5_Spórt .molsceal-img1 .videoDur, .molscealmods-wrapper .mod-5_Spórt .molsceal-img2 .videoDur, .molscealmods-wrapper .mod-5_Spórt .molsceal-img3 .videoDur, .molscealmods-wrapper .mod-5_Spórt .molsceal-img5 .videoDur, .molscealmods-wrapper .mod-5_Spórt .molsceal-img6 .videoDur, .molscealmods-wrapper .mod-5_Spórt .molsceal-img7 .videoDur, .molscealmods-wrapper .mod-5_Spórt .molsceal-img9 .videoDur {
          top: 79%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Spórt .molsceal-img0, .molscealmods-wrapper .mod-5_Spórt .molsceal-img4, .molscealmods-wrapper .mod-5_Spórt .molsceal-img8 {
        width: 100%;
        border-right: 0px solid #299f1b; } }
    .molscealmods-wrapper .mod-5_Spórt .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #299f1b; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Spórt .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 0; } }
  .molscealmods-wrapper .mod-5_Siamsaíocht {
    border-bottom: 5px solid #682dcb; }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Siamsaíocht {
        border-bottom: 0px; }
        .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-textholder0, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-textholder4, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-textholder8 {
          border-left: 5px solid #682dcb; } }
    .molscealmods-wrapper .mod-5_Siamsaíocht .videoDur {
      color: #fff;
      font-size: 11px;
      background-color: #000;
      opacity: .7;
      padding: 5px 10px 5px 10px;
      position: absolute;
      top: 53%;
      left: 0%; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Siamsaíocht .videoDur {
          top: 67%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img1, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img2, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img3, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img5, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img6, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img7, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img9 {
        width: 50%;
        float: left;
        border-right: 5px solid #682dcb; }
        .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img1 .videoDur, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img2 .videoDur, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img3 .videoDur, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img5 .videoDur, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img6 .videoDur, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img7 .videoDur, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img9 .videoDur {
          top: 79%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img0, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img4, .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-img8 {
        width: 100%;
        border-right: 0px solid #682dcb; } }
    .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #682dcb; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Siamsaíocht .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 0; } }
  .molscealmods-wrapper .mod-5_Cartlann {
    border-bottom: 5px solid #efc448; }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Cartlann {
        border-bottom: 0px; }
        .molscealmods-wrapper .mod-5_Cartlann .molsceal-textholder0, .molscealmods-wrapper .mod-5_Cartlann .molsceal-textholder4, .molscealmods-wrapper .mod-5_Cartlann .molsceal-textholder8 {
          border-left: 5px solid #efc448; } }
    .molscealmods-wrapper .mod-5_Cartlann .videoDur {
      color: #fff;
      font-size: 11px;
      background-color: #000;
      opacity: .7;
      padding: 5px 10px 5px 10px;
      position: absolute;
      top: 53%;
      left: 0%; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Cartlann .videoDur {
          top: 67%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Cartlann .molsceal-img1, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img2, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img3, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img5, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img6, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img7, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img9 {
        width: 50%;
        float: left;
        border-right: 5px solid #efc448; }
        .molscealmods-wrapper .mod-5_Cartlann .molsceal-img1 .videoDur, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img2 .videoDur, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img3 .videoDur, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img5 .videoDur, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img6 .videoDur, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img7 .videoDur, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img9 .videoDur {
          top: 79%;
          left: 0%; } }
    @media (max-width: 500px) {
      .molscealmods-wrapper .mod-5_Cartlann .molsceal-img0, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img4, .molscealmods-wrapper .mod-5_Cartlann .molsceal-img8 {
        width: 100%;
        border-right: 0px solid #efc448; } }
    .molscealmods-wrapper .mod-5_Cartlann .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #efc448; }
      @media (max-width: 500px) {
        .molscealmods-wrapper .mod-5_Cartlann .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 0; } }

.molscealplyr-wrapper {
  background-color: #ffffff;
  width: auto;
  max-width: 780px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1; }
  .molscealplyr-wrapper:before, .molscealplyr-wrapper:after {
    content: '';
    display: table; }
  .molscealplyr-wrapper:after {
    clear: both; }
  .molscealplyr-wrapper .molsceal-genreheader {
    margin: 0;
    font-size: 40px;
    font-size: 4rem; }
    @media (max-width: 700px) {
      .molscealplyr-wrapper .molsceal-genreheader {
        font-size: 24px;
        font-size: 2.4rem; } }
    @media (max-width: 500px) {
      .molscealplyr-wrapper .molsceal-genreheader {
        font-size: 20px;
        font-size: 2rem; } }
  .molscealplyr-wrapper .molsceal-article {
    width: 100%;
    float: left;
    border: 0px solid #ccc;
    padding: 25px; }
  .molscealplyr-wrapper .molsceal-newssrc {
    margin: 0;
    color: #ccc;
    font-size: 14px;
    font-size: 1.4rem; }
  .molscealplyr-wrapper .molsceal-newsdate {
    margin: 0;
    color: #ccc;
    font-size: 10px;
    font-size: 1rem; }
  .molscealplyr-wrapper .mod-6_Nuacht {
    border-bottom: 5px solid #036fad;
    max-width: 780px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%; }
    .molscealplyr-wrapper .mod-6_Nuacht:last-child {
      margin-right: 0; }
    .molscealplyr-wrapper .mod-6_Nuacht .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #036fad; }
      @media (max-width: 500px) {
        .molscealplyr-wrapper .mod-6_Nuacht .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 7px 5px 5px 0; } }
  .molscealplyr-wrapper .mod-6_Spórt {
    border-bottom: 5px solid #299f1b;
    max-width: 780px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%; }
    .molscealplyr-wrapper .mod-6_Spórt:last-child {
      margin-right: 0; }
    .molscealplyr-wrapper .mod-6_Spórt .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #299f1b; }
      @media (max-width: 500px) {
        .molscealplyr-wrapper .mod-6_Spórt .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 7px 5px 5px 0; } }
  .molscealplyr-wrapper .mod-6_Siamsaíocht {
    border-bottom: 5px solid #682dcb;
    max-width: 780px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%; }
    .molscealplyr-wrapper .mod-6_Siamsaíocht:last-child {
      margin-right: 0; }
    .molscealplyr-wrapper .mod-6_Siamsaíocht .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #682dcb; }
      @media (max-width: 500px) {
        .molscealplyr-wrapper .mod-6_Siamsaíocht .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 7px 5px 5px 0; } }
  .molscealplyr-wrapper .mod-6_Cartlann {
    border-bottom: 5px solid #efc448;
    max-width: 780px;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%; }
    .molscealplyr-wrapper .mod-6_Cartlann:last-child {
      margin-right: 0; }
    .molscealplyr-wrapper .mod-6_Cartlann .molsceal-genretitle {
      margin: 0;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 5px 5px 5px 0;
      color: #efc448; }
      @media (max-width: 500px) {
        .molscealplyr-wrapper .mod-6_Cartlann .molsceal-genretitle {
          font-size: 11px;
          font-size: 1.1rem;
          padding: 7px 5px 5px 0; } }

.molsceal-mod-notice {
  position: relative;
  background-color: #ffffff;
  height: 90%;
  width: 100%; }

.molsceal-mod-home {
  position: relative;
  background-color: #ffffff;
  height: 100%;
  width: 100%; }

.molsceal-textholder0, .molsceal-textholder4, .molsceal-textholder8 {
  height: 130px;
  width: 100%;
  padding: 10px; }
  @media (max-width: 500px) {
    .molsceal-textholder0, .molsceal-textholder4, .molsceal-textholder8 {
      height: 100px;
      display: inline-block;
      width: 100%; } }

.molsceal-textholder1, .molsceal-textholder2, .molsceal-textholder3, .molsceal-textholder5, .molsceal-textholder6, .molsceal-textholder7, .molsceal-textholder9 {
  height: 128px;
  width: 100%;
  padding: 10px; }
  @media (max-width: 500px) {
    .molsceal-textholder1, .molsceal-textholder2, .molsceal-textholder3, .molsceal-textholder5, .molsceal-textholder6, .molsceal-textholder7, .molsceal-textholder9 {
      display: inline-block;
      width: 50%; } }

.molsceal-text {
  height: 78%;
  border: 0px solid #000; }

.molsceal-view0, .molsceal-view4, .molsceal-view8 {
  max-width: 100%;
  height: 34px; }
  @media (max-width: 500px) {
    .molsceal-view0, .molsceal-view4, .molsceal-view8 {
      width: 209%;
      height: 20px; } }

.molsceal-articleimg0, .molsceal-articleimg4, .molsceal-articleimg8 {
  width: 100%;
  height: 169px;
  object-fit: cover; }
  @media (max-width: 500px) {
    .molsceal-articleimg0, .molsceal-articleimg4, .molsceal-articleimg8 {
      width: 100%;
      height: 282px;
      object-fit: cover; } }

.molsceal-articleimg1, .molsceal-articleimg2, .molsceal-articleimg3, .molsceal-articleimg5, .molsceal-articleimg6, .molsceal-articleimg7, .molsceal-articleimg9 {
  width: 100%;
  height: 169px;
  object-fit: cover; }
  @media (max-width: 500px) {
    .molsceal-articleimg1, .molsceal-articleimg2, .molsceal-articleimg3, .molsceal-articleimg5, .molsceal-articleimg6, .molsceal-articleimg7, .molsceal-articleimg9 {
      width: 100%;
      height: 128px;
      object-fit: cover; } }

.molsceal-genreview {
  float: left;
  display: block;
  width: 50%; }
  @media (max-width: 500px) {
    .molsceal-genreview {
      font-size: 11px;
      font-size: 1.1rem; } }

.molsceal-genretitle {
  float: left;
  display: block;
  width: 50%;
  text-align: right; }

.molsceal-hometitle {
  margin: 0;
  color: white;
  font-size: 40px;
  font-size: 4rem;
  text-align: center; }

.molsceal-title-new {
  padding-top: 180px; }
  @media (max-width: 650px) {
    .molsceal-title-new {
      padding-top: 120px; } }

.molsceal-title-news {
  padding-top: 70px; }
  @media (max-width: 650px) {
    .molsceal-title-news {
      padding-top: 120px; } }

.molsceal-title-sport {
  padding-top: 70px; }
  @media (max-width: 650px) {
    .molsceal-title-sport {
      padding-top: 120px; } }

.molsceal-title-ent {
  padding-top: 70px; }
  @media (max-width: 650px) {
    .molsceal-title-ent {
      padding-top: 120px; } }

.molsceal-title-trend {
  padding-top: 180px; }
  @media (max-width: 650px) {
    .molsceal-title-trend {
      padding-top: 120px; } }

.molsceal-title-arch {
  padding-top: 70px; }
  @media (max-width: 650px) {
    .molsceal-title-arch {
      padding-top: 120px; } }

.molsceal-genretext {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 5px 5px 5px 0;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: 1.6;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media (max-width: 500px) {
    .molsceal-genretext {
      padding: 0;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.6;
      -webkit-line-clamp: 2; } }
  @media (max-width: 400px) {
    .molsceal-genretext {
      font-size: 16px;
      font-size: 1.6rem; } }

.molsceal-articletext {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  width: 80%; }
  @media (max-width: 500px) {
    .molsceal-articletext {
      padding: 2px 2px 2px 0;
      width: 100%; } }
  @media (max-width: 400px) {
    .molsceal-articletext {
      font-size: 11px;
      font-size: 1.1rem; } }

p {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 5px 5px 5px 0; }
  @media (max-width: 500px) {
    p {
      padding: 2px 2px 2px 0; } }
  @media (max-width: 400px) {
    p {
      font-size: 11px;
      font-size: 1.1rem; } }

@media (max-width: 500px) {
  img {
    padding: 0; } }

b, strong, blockquote > p {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 5px 5px 5px 0; }
  @media (max-width: 500px) {
    b, strong, blockquote > p {
      padding: 2px 2px 2px 0; } }
  @media (max-width: 400px) {
    b, strong, blockquote > p {
      font-size: 11px;
      font-size: 1.1rem; } }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 6px 0 6px 0; }

.regiontoggle, .regiontoggle:hover {
  cursor: pointer;
  color: #ffffff; }
  @media (max-width: 500px) {
    .regiontoggle, .regiontoggle:hover {
      font-size: 13px;
      font-size: 1.3rem;
      top: 3px; } }

#regiondd {
  font-size: 12px;
  font-size: 1.2rem;
  background: #ffffff;
  border: 1px solid #ccc;
  width: 180px;
  display: none;
  position: fixed;
  top: 28px;
  z-index: inherit; }
  @media (max-width: 1024px) {
    #regiondd {
      font-size: 11px;
      font-size: 1.1rem;
      left: 10px; } }
  #regiondd .regLnk {
    list-style-type: none; }

#sharedd {
  font-size: 12px;
  font-size: 1.2rem;
  background: #ffffff;
  width: 100%;
  display: none;
  text-align: left;
  margin: 8px 0;
  z-index: inherit; }
  #sharedd .regLnk {
    list-style-type: none;
    margin: 2px; }
    @media (max-width: 1024px) {
      #sharedd .regLnk {
        text-align: left; } }

.social-logo {
  width: 35px;
  height: 25px;
  margin-top: -10px; }

.sharetoggle {
  cursor: pointer; }

.error {
  color: #ff0000;
  font-size: 11px;
  font-size: 1.1rem; }

.closetoggle {
  color: #000000;
  font-size: 18px;
  font-size: 1.8rem; }

.center-panel, .footer-wrapper {
  width: auto;
  max-width: 1214px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }

/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
  font-size: 11px;
  font-size: 1.1rem;
  display: inline-block;
  padding-left: 0;
  border-radius: 4px; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #00d6f2;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #c7dae2;
  border-color: #c7dae2; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #00d6f2;
  border-color: #00d6f2; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd; }

/* ==========================================================================
   Shame custom styles
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }
