/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	color: white;
	h2 {
		@include font-size($body-font-size);
		@extend .bold;
	}
	a {
		color: $color-dark-blue;
		&:focus {
			color: white;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-bottom: 6px;
	}
}

.footer-main {
	background-color: $color-light-blue;
	padding: 50px 0;
	@include breakpoint($break-900) {
		padding-top: 35px;
	}
}

.footer-wrapper {
	@include center(960px);
	@extend .center-panel;
	padding: 0 10px;
	@include cf();
	@include breakpoint($break-900) {
		padding: 0 20px;
	}
	@include breakpoint($break-500) {
		padding: 0 10px;
	}
}

/* ==========================================================================
   Footer links
   ========================================================================== */

.footer-links {
	background-color: $color-pale-blue-5;
	min-height: 50px;
	padding: 18px 0 12px;
	@include font-size($font-small);
	
	ul {
		float: left;
		@include breakpoint($break-900) {
			float: none;
		}
	}
	li {
		display: inline;
		margin: 0;
	}
	a {
		color: rgba(255, 255, 255, 0.8);
		margin-right: 25px;
	}
}

.social-links {
	background-color: $color-dark-5;
	min-height: 50px;
	padding: 18px 0 12px;
	@include font-size($font-small);
	
	ul {
		float: left;
		@include breakpoint($break-900) {
			float: none;
		}
	}
	li {
		display: inline;
		margin: 0;
	}
	a {
		color: rgba(255, 255, 255, 0.8);
		margin-right: 25px;
	}
}

.sendmail {
	text-align: center;
	color: white;
}

.socialicons {
	text-align: right;
	color: white;
}