/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	color: white;
	h2 {
		@include font-size($body-font-size);
		@extend .bold;
	}
	a {
		color: $color-dark-blue;
		&:focus {
			color: white;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-bottom: 6px;
	}
}

.footer-main {
	background-color: $color-light-blue;
	padding: 50px 0;
	@include breakpoint($break-900) {
		padding-top: 35px;
	}
}

.footer-wrapper {
	@extend .center-panel;
	padding: 0 10px;
	@include cf();
	@include breakpoint($break-900) {
		padding: 0 20px;
	}
	@include breakpoint($break-500) {
		padding: 0 10px;
	}
}

/* ==========================================================================
   Programmes
   ========================================================================== */

.footer-programmes {
	@include col(0.46, $gutter:2);
	@include breakpoint($break-900) {
		@include col(1, $gutter: 0);
	}
}

.footer-prog-block {
	@include col(1/3, $gutter:4);
	@include breakpoint($break-450) {
		@include col(1/2, $cycle: 2, $gutter:2);
	}
}

/* ==========================================================================
   Catchup
   ========================================================================== */

.footer-catchup {
	@include col(0.25, $gutter:2);
	padding: 0 2%;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	li {
		text-align: center;
	}
	@include breakpoint($break-900) {
		display: none;
	}
}

.catchup-wrapper {
	max-width: 174px;
	margin: 0 auto;
	li {
		margin-bottom: 10px;
	}
}

/* ==========================================================================
   Footer social
   ========================================================================== */

.footer-social {
	@include col(0.29, $gutter:2);
	padding-left: 25px;
	@include breakpoint($break-900) {
		@include col(1, $gutter:0);
		padding-left: 0;
	}
}

.watch-follow-wrap {
	@include cf();
}

// Watch
.footer-watch {
	@include col(1/2, $gutter:2);
	@include breakpoint($break-900) {
		@include col(1, $gutter:0);
		margin-top: 30px;
	}
}

.watch-item {
	color: rgba(white, 0.8);
	span {
		display: block;
		float: left;
		width: 25px;
		height: 25px;
		position: relative;
		margin-right: 10px;
		@include breakpoint($break-900) {
			float: none;
			margin: 0 auto;
		}
	}
	@include breakpoint($break-900) {
		display: inline-block;
		position: relative;
		margin-right: 2%;
		padding-top: 10px;
		width: 70px;
		text-align: center;
	}
}

.watch-tel {
	&:before {
		@extend %icon-tel;
		content: '';
		@include align(horizontal);
	}
}

.watch-lap {
	&:before {
		@extend %icon-lap;
		content: '';
		@include align(horizontal);
	}
}

.watch-tab {
	&:before {
		@extend %icon-tab;
		content: '';
		@include align(horizontal);
	}
}

.watch-mob {
	&:before {
		@extend %icon-mob;
		content: '';
		@include align(horizontal);
	}
}

.watch-and {
	&:before {
		@extend %icon-and;
		content: '';
		@include align(horizontal);
	}
}

// Follow social
.footer-follow {
	@include col(1/2, $gutter:2);
	@include breakpoint($break-900) {
		@include col(1, $gutter:0);	
		margin-top: 30px;
	}
}

.follow-item {
	@include breakpoint($break-900) {
		display: inline-block;
		position: relative;
		margin-right: 2%;
		padding-top: 10px;
		width: 70px;
		text-align: center;
	}
	span {
		display: block;
		float: left;
		width: 24px;
		height: 24px;
		position: relative;
		margin-right: 10px;
		background-color: white;
		@include transition(background-color 0.1s linear);
		border-radius: 2px;
		@include breakpoint($break-900) {
			float: none;
			margin: 0 auto 5px;
		}
	}
	a {
		display: block;
		&:hover, &:focus {
			span {
				background-color: $color-dark-blue;
			}
		}
	}
	@include breakpoint($break-900) {
		display: inline-block;
	}
}

.facebook {
	&:before {
		@extend %icon-facebook;
		content: '';
		@include align(both);
	}
}

.twitter {
	&:before {
		@extend %icon-twitter;
		content: '';
		@include align(both);
	}
}

.youtube {
	&:before {
		@extend %icon-youtube;
		content: '';
		@include align(both);
	}
}

.instagram {
	&:before {
		@extend %icon-instagram;
		content: '';
		@include align(both);
	}
}

.flickr {
	&:before {
		@extend %icon-flickr;
		content: '';
		@include align(both);
	}
}

.wall {
	&:before {
		@extend %icon-wall;
		content: '';
		@include align(both);
	}
}

.snapchat {
	&:before {
		@extend %icon-snapchat;
		content: '';
		@include align(both);
	}
}

// Social share
.footer-share {
	margin-top: 40px;
	@include breakpoint($break-900) {
		//display: none;	
	}
}

.share-item {
	display: inline-block;
	margin-right: 5px;
	a {
		display: block;
		text-indent: 100%;
		width: 24px;
		height: 24px;
		overflow: hidden;
		&:hover {
			span {
				background-color: white;
			}
		}
	}
	span {
		display: block;
		float: left;
		width: 24px;
		height: 24px;
		position: relative;
		background-color: $color-dark-blue;
		@include transition(background-color 0.1s linear);
		border-radius: 2px;
	}
}

.share-facebook {
	@extend .facebook;
}

.share-twitter {
	@extend .twitter;
}

.share-email {
	&:before {
		@extend %icon-mail;
		content: '';
		@include align(both);
	}
}

/* ==========================================================================
   Footer links
   ========================================================================== */

.footer-links {
	background-color: black;
	min-height: 50px;
	padding: 18px 0 12px;
	@include font-size($font-small);
	
	ul {
		float: left;
		@include breakpoint($break-900) {
			float: none;
		}
	}
	li {
		display: inline;
		margin: 0;
	}
	a {
		color: rgba(255, 255, 255, 0.8);
		margin-right: 25px;
	}
}

.copyright {
	float: right;
	color: rgba(255, 255, 255, 0.5);
	@include breakpoint($break-900) {
		float: none;
		margin-top: 20px;
	}
}