/*  ==========================================================================
    Main header elements
    ========================================================================== */

.skip-to-main {
    @extend .visuallyhidden;
}

.header-nav {
    position: relative;
    z-index: 2;
}

.header-wrapper {
	position: relative;
	.logo-home {
		position: absolute;
		left: 0;
		top: 0;
		height: auto;
	}
	.logo {
		display: block;
		width: 142px;
		height: auto;
		margin: 24px;
		&:focus {
			background-color: white;
		}
	}
	@include clearfix;
	@include breakpoint($mobile) {
		.logo {
			margin: 19px;
			width: 64px;
		}
		z-index: 10;
	}
	// input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	// 	background-color: red !important;
	// }
}

.top-bar {
	background-color: $color-brand-2;
	height: 100px;
	@include breakpoint($mobile) {
		height: 60px;
	}
}


/* ==========================================================================
   Language selector
   ========================================================================== */

.languages {
	position: absolute;
	right: 0;
	top: 100px;
	@include breakpoint($mobile) {
		right: 120px;
		top: 0;
	}
}

.lang-btn {
	display: block;
	@include breakpoint($desktop) {
		
		float: left;
		//padding: 0 20px;
		width: 90px;
		text-align: center;
		color: $main-nav-color;
		background-color: $color-dark-ui-1;
		height: 45px;
		line-height: 45px;
		@include font-size($font-small);
		text-transform: uppercase;
		&:hover {
			color: white;
		}
		&:focus {
			background-color: white;
			color: black;
		}
	}

	@include breakpoint($mobile) {
		height: 60px;
		padding: 0 15px;
		background-color: #7e9aad;
		color: white;
		line-height: 60px;
		&:hover {
			color: white;
		}
		&:active {
			/* for non iOS Safari devices */
			background-color: white;
			color: $color-brand-2;
		}
		-webkit-tap-highlight-color: rgba(255,255,255,0.4); /* tap colour for iOS Safari */
	}
}

.lang-selected {
	color: white;
	background-color: $color-brand-1;
	@include breakpoint($mobile) {
		display: none;
	}
}

/* ==========================================================================
   Search
   ========================================================================== */

.search-btn-toggle {
	display: block;
	width: 45px;
	height: 45px;
	overflow: hidden;
	background-color: black;
	position: absolute;
	right: 180px;
	top: 100px;
	z-index: 3;
	&:hover, &:focus {
		background-color: $color-dark-ui-1;
	}
	&:before {
		@extend %icon-search;
		content: '';
		position: absolute;
		top: 13px;
		right: 13px;
		@include transition(top 0.4s $ease-in-out-back);
	}
	&:after {
		@extend %icon-close;
		content: '';
		position: absolute;
		top: 45px;
		right: 14px;
		@include transition(top 0.4s $ease-in-out-back);
	}
	&.search-exp { // when open this class is added to the search toggle button - desktop
		background-color: $color-dark-ui-1;
		&:before {
			top: -20px;
		}
		&:after {
			top: 14px;
		}
	}
	@include breakpoint($mobile) {
		top: 0;
		right: 60px;
		width: 60px;
		height: 60px;
		background-color: $color-brand-2;
		&:hover {
			background-color: $color-brand-2;
		}
		&:before {
			top: 21px;
  			right: 20px;
  			@include transition(none); // remove transition for mobile as it's a little janky
		}
		&:after {
			top: 61px;
			right: 20px;
			@include transition(none); // remove transition for mobile as it's a little janky
		}
		&.search-exp { // when open this class is added to the search toggle button - mobile
			background-color: $color-dark-ui-1;
			&:before {
				top: -20px;
			}
			&:after {
				top: 21px;
			}
		}
	}
}

.search-wrapper {
	position: absolute;
	right: 225px;
	top: 100px;
	width: 0px;
	height: 45px;
	overflow: hidden;
	background-color: $color-dark-ui-1;
	z-index: 2;
	@include breakpoint($mobile) {
		width: 100%;
		height: 60px;
		right: 0;
		top: 0;
		z-index: -1;
	}
}

.search {
	position: relative;
	width: 100%;
	height: 45px;
	float: right;
	@include breakpoint($mobile) {
		height: 60px;
	}
}

.search-form {
	width: 330px;
	height: 45px;
	position: absolute;
	right: 0px;
	top: 0;
	@include breakpoint($mobile) {
		height: 60px;
		width: 100%;
	}
}

input.search-input {
	position: absolute;
	top: 0;
	right: 45px;
	border: none;
	height: 45px;
	margin: 0;
	width: 285px;
	background-color: transparent;
	color: $color-text-light-1;
	@include breakpoint($mobile) {
		right: 60px;
		height: 60px;
		width: calc(100% - 60px);
	}
}

.search-btn {
	display: block;
	width: 45px;
	height: 45px;
	background-color: $color-dark-ui-1;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
	text-indent: 100%;
	&:before {
		@extend %icon-search;
		content: '';
		position: absolute;
		top: 13px;
		right: 13px;
	}
	@include breakpoint($mobile) {
		width: 60px;
		height: 60px;
		&:before {
			top: 21px;
			right: 20px;
		}
	}
}

// hide nav and languages with a transparent cover when search is expanded and required
.nav-cover {
	display: none;
	width: 100%;
	height: 45px;
	position: absolute;
	top: 100px;
	background-color: black;
	opacity: 0;
	z-index: 1;
	//@include transition(opacity 10s linear);
	&.search-open {
		@include breakpoint($break-1260) {
			display: block;
			opacity: 0.5;
		}
	}
	@include breakpoint($mobile) {
		&.search-open {
			display: none;
		}
		
	}
}