/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    box-sizing: border-box;
}

// html, body, .wrapper, main {
//     height: 100%;
// }

*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    background: #ffffff; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(#ffffff, #0D0D0D); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(#ffffff, #0D0D0D); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(#ffffff, #0D0D0D); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(#ffffff, #0D0D0D); /* Standard syntax */
}

// New Player
// .wrapper {
//    background: #525050; /* For browsers that do not support gradients */
//    background: -webkit-linear-gradient(#525050, #0D0D0D); /* For Safari 5.1 to 6.0 */
//    background: -o-linear-gradient(#525050, #0D0D0D); /* For Opera 11.1 to 12.0 */
//    background: -moz-linear-gradient(#525050, #0D0D0D); /* For Firefox 3.6 to 15 */
//    background: linear-gradient(#525050, #0D0D0D); /* Standard syntax */
//}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #cecece;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

img, picture {
    margin: 0;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle; // remove gap from bottom of images
    border: 0; // remove blue line border
    -ms-interpolation-mode: bicubic; // image smoothing for IE 7
    image-rendering: optimizeQuality; // For Firefox 3.6 and above;
}

.content {
    padding: 20px;
}

main {
    //-webkit-font-smoothing: antialiased;
}