@include font-face(tg4regular, 'https://d1og0s8nlbd0hm.cloudfront.net/fonts/tg4-regular-webfont', 400, normal);
@include font-face(tg4bold, 'https://d1og0s8nlbd0hm.cloudfront.net/fonts/tg4-bold-webfont', 700, normal);
@include font-face(tg4italic, 'https://d1og0s8nlbd0hm.cloudfront.net/fonts/tg4-italic-webfont', 700, italic);

@include font-face(proximaregular, 'https://d1og0s8nlbd0hm.cloudfront.net/fonts/ProximaNova-Alt-Regular-webfont', 400, normal);
@include font-face(proximabold, 'https://d1og0s8nlbd0hm.cloudfront.net/fonts/ProximaNova-Alt-Bold-webfont', 700, normal);
@include font-face(proximacondensed, 'https://d1og0s8nlbd0hm.cloudfront.net/fonts/ProximaNova-Alt-Condensed-Semibold-webfont', 700, italic);

.regular {
    font-family: 'tg4regular', $fallback-stack;
    font-weight: 400;
    font-style: normal;
}

.italic {
    font-family: 'tg4italic', $fallback-stack;
    font-weight: 400;
    font-style: italic;
}

.bold {
    font-family: 'tg4bold', $fallback-stack;
    font-weight: 700;
    font-style: normal;
}

.proximaregular {
    font-family: 'proximaregular', $fallback-stack;
    font-weight: 400;
    font-style: normal;
}

.proximacondensed {
    font-family: 'proximacondensed', $fallback-stack;
    font-weight: 400;
    font-style: normal;
}

.proximabold {
    font-family: 'proximabold', $fallback-stack;
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: $base-font-size;
}

body {
    @include font-feature-settings("kern","liga","pnum");
    //-webkit-font-smoothing: antialiased;
    background-color: $base-background-color;
    color: $base-font-color;
    @extend .regular;
    @include font-size($body-font-size);
    line-height: $base-line-height; 
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: $header-font-family;
    line-height: $header-line-height;
    font-weight: normal;
   //margin: 0;
}
    
h1 {
    @include font-size($h1-font-size);
}

h2 {
    @include font-size($h2-font-size);
}

h3 {
    @include font-size($h3-font-size);
}

h4 {
    @include font-size($h4-font-size);
}

h5 {
    @include font-size($h5-font-size);
}

h6 {
    @include font-size($h6-font-size);
}

p {
    margin: 0 0 ($base-spacing / 2);
}

a {
    color: $base-link-color;
    text-decoration: none;

    &:hover {
        color: $hover-link-color;
    }

    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
}

// Boilerplate horizontal rule
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: $base-border;
    margin: $base-spacing 0;
    padding: 0;
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin: $base-spacing 0;
    padding-left: $base-spacing / 2;
}

cite {
    color: lighten($base-font-color, 25);
    font-style: italic;

    &:before {
    content: "\2014 \00A0";
    }
}

strong {
    @extend .bold;
}

em {
    @extend .italic; 
}

// p.light {
//   @extend .lato-light;
//   em { @extend .lato-italic; }
// }