.regular {
    font-family: 'Muli', $fallback-stack;
    font-weight: 400;
    font-style: normal;
}

.italic {
    font-family: 'Muli', $fallback-stack;
    font-weight: 400;
    font-style: italic;
}

.bold {
    font-family: 'Muli', $fallback-stack;
    font-weight: 700;
    font-style: normal;
}

.muliregular {
    font-family: 'Muli', $fallback-stack;
    font-weight: 400;
    font-style: normal;
}

.muliitalic {
    font-family: 'Muli', $fallback-stack;
    font-weight: 400;
    font-style: italic;
}

.mulibold {
    font-family: 'Muli', $fallback-stack;
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: $base-font-size;
}

body {
    @include font-feature-settings("kern","liga","pnum");
    background-color: $base-background-color;
    color: $base-font-color;
    @extend .regular;
    @include font-size($body-font-size);
    line-height: $base-line-height; 
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $header-line-height;
    font-weight: normal;
}
    
h1 {
    @include font-size($h1-font-size);
}

h2 {
    @include font-size($h2-font-size);
}

h3 {
    @include font-size($h3-font-size);
}

h4 {
    @include font-size($h4-font-size);
}

h5 {
    @include font-size($h5-font-size);
}

h6 {
    @include font-size($h6-font-size);
}

p {
    margin: 0 0 ($base-spacing / 2);
}

a {
    color: $base-link-color;
    text-decoration: none;

    &:hover {
        color: $hover-link-color;
    }

    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
}

// Boilerplate horizontal rule
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: $base-border;
    margin: $base-spacing 0;
    padding: 0;
}

blockquote {
    border-left: 0px solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin: 5px 0;
    //padding-left: $base-spacing / 2;
}

cite {
    color: lighten($base-font-color, 25);
    font-style: italic;

    &:before {
    content: "\2014 \00A0";
    }
}

strong {
    @extend .bold;
}

em {
    @extend .italic; 
}